{%- layout none -%}

{%- assign products_per_page = 32 -%}

{%- paginate collection.products by products_per_page -%}

{%- comment -%} {{ collection.products | json }} {%- endcomment -%}
{"products":[{% for product in collection.products %}{"product":{{ product | json }},"options_with_values":{{ product.options_with_values | json }}}{% unless forloop.last == true %},{% endunless %}{% endfor %}]}

{%- endpaginate -%}
