{%- assign productExcludeTag = settings.product_exclude_tag_text -%}

{%- paginate collections by 12 -%}
<section class="section-content collections" data-template="list_collection">
  <div class="container">

    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="fancy-heading active">
                <h1 class="page-title">{{ page_title }}</h1>
                <h3 class="text-muted">{{ collection.description }}</h3>
            </div>
        </div>
    </div>

    {%- for collection in collections -%}
      {%- if collection.products.count > 0 -%}
        <script type="application/json" data-collections-coll-json>
          {
            "collection": {{ collection | json }},
            "products": {{ collection.products | json }}
          }
        </script>        
      {%- endif -%}
    {%- endfor -%}

    <div class="carousel-container" v-for="(collection, index, key) in collections_col.collection" :key="collection.id">
      <div class="row no-gutters my-5 collection_list">
        <div class="col">
          {%- unless collection.handle == 'frontpage' -%}

            <div class="d-flex justify-content-between align-items-center">
              <h3 class="" v-text="collection.collection.title"></h3>
              <a :href="'/collections/'+collection.collection.handle" title="{{ 'collections.general.link_title' | t: title: title }}">
                View All <i class="icon ion-md-arrow-forward"></i>
              </a>
            </div>
            <hr>
            <div class="carousel mb-md-5 row" role="tree"
               data-flickity='{
                 "adaptiveHeight": true,
                 "contain": true,
                 "wrapAround": false,
                 "freeScroll": false,
                 "groupCells": "100%",
                 "cellAlign": "left",
                 "accessibility": true,
                 "setGallerySize": true,
                 "dragThreshold": 20,
                 "prevNextButtons": false,
                 "pageDots": true,
                 "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
               }'>
              <div v-for="(product, ind, key1) in collection.products" v-if="ind < 9" :key1="product.id" class="carousel-cell d-flex equal-height col-12 col-sm-6 col-lg-4 col-xl-3 p-2" role="treeitem">
                {%- include 'card-product-style-generic-coll' -%}
              </div>
            </div>
          {%- endunless -%}
        </div>
      </div>
    </div>

    {%- if paginate.pages > 1 -%}
      <div class="row">
          <div class="col-12 text-center mt-5">
            <div v-if="collections_col.pagination.next" class="text-center">
              <a :href="collections_col.pagination.next.url" rel="nofollow" class="btn-more-circle btn btn-outline-primary" @click.prevent="_loadMoreList($event)">
                <span>Load More</span>
              </a>
            </div>
          </div>
      </div>
    {%- endif -%}
    
  </div>
</section>
{%- endpaginate -%}
