
{%- layout none -%}
{%- assign collections_per_page = 12 -%}
{%- paginate collections by collections_per_page -%}
[
    {% for collection in collections %}
        {
            "collection": {{ collection | json }},
            "products":[
                {% for product in collection.products limit:9 %}
                {
                    "product":{{ product | json }},
                    "options_with_values":{{ product.options_with_values | json }}
                }{% unless forloop.last == true %},{% endunless %}
                {% endfor %}
            ]
        }{% unless forloop.last == true %},{% endunless %}
    {% endfor %}
]
{%- endpaginate -%}