<div class="container pt-2">
  {%- include 'breadcrumb' -%}
</div>
<section class="section-content pagemin_height">
  <div class="container">
    <div class="row">
      <div class="col-12 px-sm-4 text-center">
        <h1 class="page-title font-family-base h3 font-weight-normal mb-md-6 mb-4">{{ page.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="rte">{{ page.content }}</div>
      </div>
    </div>
  </div>
</section>
