<section class="section-content pagemin_height">
  <div class="container">
    <div class="row">
      <div class="col-12 px-sm-4 text-center">
        <h2 class="page-title">{{ page.title }}</h2>
      </div>
    </div>
    {%- section 'template-newsletter-subscribe' -%}
  </div>
</section>
