{% section 'reward-page-slider' %}
{% section 'reward-banner-collection' %}
<div class="container">
<div class="row">
<div class="col-2"></div>
<div class="col-8 px-sm-4 text-center mb-md-6 mb-4">
<h3>Fill out the two-step form to become a Ruze Shoes VIP rewards member.</h3>
</div>
<div class="col-2"></div>
</div>
 <div class="row align-items-center justify-content-center mb-md-6 mb-4">
     <div class="col-12">
        <form class="w-50 m-auto" data-customercheck>
            <input type="email" class="form-control h-auto mb-7" placeholder="Email address" name="customer_email" value="{{ customer.email }}" v-model="customerEmail">
            <button class="btn btn-primary d-block m-auto" @click.prevent="_createCustomerCheck(customerEmail)" data-subscribeVIP>Next Step</button>
            <p data-subscribeError class="text-center mt-2 mb-0" style="display: none">Provide valid email.</p>
        </form>
      </div>
      <div class="col-12 d-none" data-FormDiv>
        <div class="klaviyo-form-KAF3vb"></div>
      </div>
    </div>
<div class="text-center mb-md-6 mb-4">
     <h4>Thank you for trusting Ruze Shoes with all of your footwear needs.</h4>
</div>
</div>