<div class="container pt-2">
  {%- include 'breadcrumb' -%}
</div>
<section class="section-content pagemin_height">
  <div class="container">
    <div class="row">
      <div class="col-12 px-sm-4 text-center">
        <h1 class="page-title font-family-base h3 font-weight-normal mb-md-6 mb-4">{{ page.title }}</h1>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
     <div class="col-12">
        <form class="w-50 m-auto" data-customercheck>
            <input type="email" class="form-control h-auto mb-3" placeholder="Email address" name="customer_email" value="{{ customer.email }}" v-model="customerEmail">
            <button class="btn btn-primary d-block m-auto" @click.prevent="_createCustomerCheck(customerEmail)" data-subscribeVIP>Subscribe to VIP Customer List</button>
            <p data-subscribeError class="text-center mt-2 mb-0" style="display: none">Provide valid email.</p>
        </form>
      </div>
      <div class="col-12 d-none" data-FormDiv>
        <div class="klaviyo-form-KAF3vb"></div>
      </div>
    </div>
  </div>
</section>
