<section class="section-content pagemin_height">
  <div class="container">
    <div class="row">
      <div class="col-12 px-sm-4 text-center">
        <h1 class="page-title">{{ page.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <script type="text/javascript"> var sa_review_count = 20; var sa_date_format = 'F j, Y'; function saLoadScript(src) { var js = window.document.createElement("script"); js.src = src; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); } saLoadScript('//www.shopperapproved.com/merchant/22460.js'); </script><div id="shopper_review_page"><div id="review_header"></div><div id="merchant_page"></div><div id="review_image"><a href="https://www.shopperapproved.com/reviews/RuzeShoes.com/" target="_blank" rel="nofollow noreferrer"></a></div></div>
      </div>
    </div>
  </div>
</section>
