{%- assign total_items = block.settings.related_products_view | plus: 1  -%}
{%- assign productExcludeTag = settings.product_exclude_tag_text -%}

{%- assign found_a_collection = true -%}

{%- if collection == null or collection.handle == 'frontpage' -%}
    {%- assign found_a_collection = false -%}
    {%- for c in product.collections -%}
      {%- if found_a_collection == false and c.handle != 'frontpage' and c.all_products_count > 1 -%}
          {%- assign found_a_collection = true -%}
          {%- assign collection = c -%}
      {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{% if found_a_collection %}
<section class="section-related-products {% if block.settings.related_products_section_padding %}section-content{% endif %}" style="background-color: {{ block.settings.related_products_section_bg_color }}; color: {{ block.settings.related_products_section_txt_color }}" {{ block.shopify_attributes }} >
  <div class="{% if block.settings.related_products_fluid_layout %}container-fluid{%else%}container{% endif %}">
    <div class="row {% if block.settings.related_products_section_no_gutters %}no-gutters{% endif %}">
      <div class="col text-center">

        {%- if block.settings.related_products_heading_txt != '' -%}
          <h3 class="section-title mb-4 font-family-base text-capitalize">{{ block.settings.related_products_heading_txt }}</h3>
        {%- endif -%}

        <div class="carousel"
             role="tree"
            data-flickity='{
              "adaptiveHeight": false,
              "contain": true,
              "wrapAround": false,
              "freeScroll": false,
              "groupCells": "100%",
              "accessibility": true,
              "setGallerySize": true,
              "dragThreshold": 20,
              "prevNextButtons": {{block.settings.related_products_nav_arrows}},
              "pageDots": {{block.settings.related_products_nav_dots}},
              {% if block.settings.related_products_auto_play > 0 %}"autoPlay": {{block.settings.related_products_auto_play}}000,{% endif %}
              "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 70, "y2": 45, "x3": 25}
            }'>
            {%- assign current_product = product -%}
            {%- assign current_product_found = false -%}
            {%- for product in collection.products limit: total_items -%}
              {%- if product.handle == current_product.handle -%}
                {%- assign current_product_found = true -%}
              {%- else -%}
                {%- unless current_product_found == false and forloop.last and product.tags -%}
                  {%- unless product.tags contains productExcludeTag -%}
                    <div class="carousel-cell d-flex equal-height
                    {% if block.settings.related_products_fluid_layout %} col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 {% else %} col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 {% endif %}" role="treeitem">
                      {%- include 'card-product-style-generic' -%}
                    </div>
                  {%- endunless -%}
                {%- endunless -%}
              {%- endif -%}
            {%- endfor -%}
        </div>

      </div>
    </div>
  </div>
</section>
{% endif %}
