<!-- /snippets/breadcrumb.liquid -->
{%- comment -%}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{%- endcomment -%}
{%- unless template == 'index' or template == 'cart' or template == 'list-collections' -%}
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="/" title="Home">Home</a>

  <span v-if="breadcrumb.nav != ''" class="mx-2" aria-hidden="true">/</span>
  <span v-text="breadcrumb.nav"></span>

  {%- if template contains 'page' -%}
    <span class="mx-2" aria-hidden="true">/</span>
    <span>{{ page.title }}</span>

  {%- elsif template contains 'product' -%}
    {%- if collection.url -%}
      <span class="mx-2" aria-hidden="true">/</span>
      {{ collection.title | link_to: collection.url }}
    {%- endif -%}
    <span class="mx-2" aria-hidden="true">/</span>
    <span>{{ product.title }}</span>
  {%- elsif template contains 'collection' and collection.handle -%}
    <span class="mx-2" aria-hidden="true">/</span>
    {%- if current_tags -%}
      {%- capture url -%}/collections/{{ collection.handle }}{%- endcapture -%}
      {{ collection.title | link_to: url }}
      <span v-if="collection.activeFilters.length > 0" class="mx-2" aria-hidden="true">/</span>
      <span v-for="activefilter in collection.activeFilters" v-text="activefilter" class="active_filter"></span>
    {%- else -%}
      <span>{{ collection.title }}</span>
    {%- endif -%}
  {%- elsif template == 'blog' -%}
    <span class="mx-2" aria-hidden="true">/</span>
    {%- if current_tags -%}
      {{ blog.title | link_to: blog.url }}
      <span class="mx-2" aria-hidden="true">/</span>
      <span>{{ current_tags | join: " + " }}</span>
    {%- else -%}
    <span>{{ blog.title }}</span>
    {%- endif -%}
  {%- elsif template == 'article' -%}
    <span class="mx-2" aria-hidden="true">/</span>
    {{ blog.title | link_to: blog.url }}
    <span class="mx-2" aria-hidden="true">/</span>
    <span>{{ article.title }}</span>
  {%- else -%}
   <span class="mx-2" aria-hidden="true">/</span>
   <span>{{ page_title }}</span>
  {%- endif -%}
</nav>
{%- endunless -%}