<div class="card card-product card-product-style-1 text-left border-0">
    <div class="card-img card-search-item {% if item.featured_image.size == 0 %}bg-gray-300{% endif %}">
        {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}

        <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
            {%- if item.object_type == 'product' -%}
            {%- if item.featured_image.size > 0 -%}
                <img class="img-fluid lazyload"
                    src="{{ item.featured_image | img_url: 'pico'}}"
                    data-src="{{ item.featured_image | img_url: 'large' }}"
                    alt="{{ item.featured_image.alt | escape }}"/>
            {%- else -%}
                {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
            {%- endif -%}
            {%- else -%}
            {%- if item.image.size > 0 -%}
                <img class="img-fluid lazyload"
                    src="{{ item.image | img_url: 'pico'}}"
                    data-src="{{ item.image | img_url: 'large' }}"
                    alt="{{ item.image.alt | escape }}"/>
            {%- else -%}
                {%- comment -%}Extract 1st image from the item contents{%- endcomment -%}
                {%- if item.content contains "<img" -%}
                {%- assign src = item.content | split: 'src="' -%}
                {%- assign src = src[1] | split: '"' | first -%}
                <img class="img-fluid lazyload" src="{{ src }}">
                {%- else -%}
                {{ 'collection-' | append: current | placeholder_svg_tag: 'img-fluid' }}
                {%- endif -%}
            {%- endif -%}
            {%- endif -%}
        </a>
    </div>
    <div class="card-body px-md-3 px-0 pb-0"> 
        <p class="card-title m-0 text-center">
            <div class="text-uppercase small">{{ item.object_type }}</div>
            <a href="{{ item.url }}" class="text-gray-700" alt="{{ item.title | escape }}" rel="nofollow">{{ item.title }}</a>
        </p>
    </div>  
</div>
