{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign product_cart_limit = null -%}
{%- for tag in product.tags -%}
  {%- if tag contains 'cart-limit-' -%}
    {%- assign product_cart_limit = tag | replace: 'cart-limit-', '' -%}
  {%- endif -%}
{%- endfor -%}

<div class="card card-product card-product-style-1 text-left border-0">
    {% comment %} <span class="badges">
        {% if current_variant.compare_at_price > current_variant.price %}
        <span class="badge badge-right badge-primary p-2 text-uppercase" >
        {{ 'products.product.on_sale' | t | escape }}
        </span>
        {% endif %}
    </span> {% endcomment %}
    <div class="card-img text-center {% if product.featured_image.size == null or product.featured_image.size == 0 %}pt-0 bg-gray-300{% endif %}">
        {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
        {%- if product.featured_image.size > 0 -%}
            <a href="{{ product.url | within: collection }}"  alt="{{ product.featured_image.alt | escape }}" rel="nofollow">
            <img
                data-sizes="auto"
                src="{{ product.featured_image | img_url: 'compact' }}"
                data-srcset="
                {{ product.featured_image | img_url: 'large' }} 576w,
                {{ product.featured_image | img_url: '400x' }} 768w,
                {{ product.featured_image | img_url: '400x' }} 992w,
                {{ product.featured_image | img_url: '400x' }} 1200w
                "
                class="lazyload"
                alt="{{ product.featured_image.alt | escape }}"/>
            </a>
        {%- else -%}
            {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
        {%- endif -%}
    </div>
    <div class="card-body px-md-3 px-0 pb-0"> 
        <p class="card-title m-0 text-center">
            <a href="{{ product.url | within: collection }}" class="text-gray-700" alt="{{ product.featured_image.alt | escape }}" rel="nofollow">{{ product.title }}</a>
        </p>
    </div>
    <div class="card-footer pt-0 bg-transparent px-md-3 px-0 border-top-0 pb-3"> 
        <div class="text-center mt-2 font-weight-bold">      
            <span class="price text-primary mx-1 p-0">{{ product.price | money }}</span>
            {%- if current_variant.compare_at_price > product.price -%}<p class="mb-0 text-black font-size-sm mt-2">MSRP: <s class="price mx-1 p-0 text-gray-600">{{ product.compare_at_price | money }}</s></p>{%- endif -%}
        </div>
        <div class="row mt-3 product-btn">
            <div class="col-12 position-static">
                <form data-product-form data-product-id="{{ product.id }}" action="/cart/add" method="post" enctype="multipart/form-data" class="d-flex justify-content-between">

                {%- for option in product.options_with_values -%}
                    <input type="hidden" name="product_options_{{ current_variant.id }}[]" value='{{ option | json }}' />
                {%- endfor -%}
                <a href="{{ product.url | within: collection }}" class="btn btn-primary px-3 flex-fill justify-content-center d-flex align-items-center" rel="nofollow" aria-label="{{ product.featured_image.alt | escape }}" >
                    View Details
                </a>
                {% comment %} {%- if settings.enable_quickaddtocart -%}
                    <button class="btn btn-primary btn-sm flex-grow-1"
                    type="submit"
                    name="add"
                    aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
                    {% unless product.available %}disabled{% endunless %}
                    data-cart-limit="{{ product_cart_limit }}"
                    @click.prevent="_addToCart({{ current_variant.id }}, $event)">
                        <i class="icon ion-md-cart"></i> {{ 'products.product.add_to_cart' | t }}
                    </button>
                {%- endif -%} {% endcomment %}

                {%- if settings.enable_quickshop -%}
                    <a href="#" rel="nofollow" @click.prevent="_viewQuickShop('{{ product.handle }}', undefined, $event)" class="btn btn-outline-primary quickshop justify-content-center btn-sm ml-1 d-flex align-items-center" title="{{ 'products.product.quickshop' | t | escape }}" aria-label="{{ 'products.product.quickshop' | t | escape }}">
                    <i class="icon ion-md-eye"></i>
                </a>
                {%- endif -%}

                {%- if settings.enable_wishlist -%}
                    <div class="position-absolute wishlist-icon">
                        {%- assign check_variant = '' -%}
                        {%- for variant in product.variants -%}
                            {%- if variant.available -%}
                                {%- assign check_variant = check_variant | append: variant.id | append: ', ' -%}
                            {%- endif -%}
                        {%- endfor -%}

                        {%- assign available_variant_id = check_variant | split: ', ' | first -%}
                        <template v-if="!_checkWishlist({{ available_variant_id }})">
                            <a href="#" rel="nofollow"  @click.prevent="_addVariantToWishlist('{{ product.handle }}', {{ available_variant_id }}, $event)" class="h4" title="{{ 'general.wishlist.add_to_wishlist' | t }}" aria-label="{{ 'general.wishlist.add_to_wishlist' | t }}">
                                <i class="ion ion-ios-heart-empty"></i>
                            </a>
                        </template>
                        <template v-else>
                            <a class="h4" rel="nofollow" title="{{ 'general.wishlist.added_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.added_to_wishlist' | t }}" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">
                                <i class="ion ion-ios-heart"></i>
                            </a>
                        </template>
                    </div>
                {%- endif -%}
                </form>
            </div>
        </div>
    </div>
</div>
