
{%- comment -%} {%- assign product_cart_limit = null -%}
{%- for tag in product.tags -%}
  {%- if tag contains 'cart-limit-' -%}
    {%- assign product_cart_limit = tag | replace: 'cart-limit-', '' -%}
  {%- endif -%}
{%- endfor -%} {%- endcomment -%}

<div v-if="product.product" class="card card-product card-product-style-1 text-left border-0">
    {% comment %} <span class="badges">
        <span v-if="product.product.compare_at_price > product.product.price" class="badge badge-right badge-primary p-2 text-uppercase">
        {{ 'products.product.on_sale' | t | escape }}
        </span>
    </span> {% endcomment %}
    <div class="card-img text-center {% if product.product.featured_image.size == 0 %}pt-0 bg-gray-300{% endif %}">
        {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
        <a :href="'/products/' + product.product.handle" :alt="product.product.title" rel="nofollow">
            <img v-if="product.product.featured_image"
                data-sizes="auto"
                :src="_getSizedImageUrl(product.product.images[0], 'large')"
                :data-src="_getSizedImageUrl(product.product.images[0] , '400x')"
                class="lazyload"
                :alt="product.product.title"/>
        </a>
         <template v-if="!product.product.featured_image">
            {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
        </template>
    </div>
    <div class="card-body px-md-3 px-0 pb-0"> 
        <p class="card-title m-0 text-center">
            <a :href="'/products/' + product.product.handle" v-text="product.product.title" class="text-gray-700" :alt="product.product.title" rel="nofollow"></a>
        </p>
    </div>
    <div class="card-footer pt-0 bg-transparent px-md-3 px-0 border-top-0 pb-3"> 
        <div class="text-center mt-2 font-weight-bold">      
            <span class="price text-primary mx-1 p-0" v-html="_formatMoney(product.product.variants[0].price)"></span>
            <p v-if="product.product.variants[0].compare_at_price > product.product.variants[0].price" class="mb-0 text-black font-size-sm mt-2">MSRP: <s v-html="_formatMoney(product.product.variants[0].compare_at_price)" class="price mx-1 p-0 text-gray-600"></s></p>
        </div>
        <div class="row mt-3 product-btn">
            <div class="col-12 position-static">
                <form data-product-form :data-product-id="product.product.id" action="/cart/add" method="post" enctype="multipart/form-data" class="d-flex justify-content-between">

                    <template v-for="(option, index) in product.product.options_with_values" v-if="option.name != 'Title'">
                        <input type="hidden" :name="'product_options_'+ product.product.current_variant.id +'[]'" v-model="JSON.stringify(option)" />
                    </template>
                    <a :href="'/products/' + product.product.handle" class="btn btn-primary px-3 flex-fill justify-content-center d-flex align-items-center" rel="nofollow" aria-label="{{ 'products.product.shopnow' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
                        View Details
                    </a>
                    {% comment %} {%- if settings.enable_quickaddtocart -%}
                    <button class="btn btn-primary btn-sm flex-grow-1"
                        type="submit"
                        name="add"
                        aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
                        :disabled="!product.product.available"
                        :data-cart-limit="product.product.cart_limit"
                        @click.prevent="_addToCart(product.product.variants[0].id, $event)">
                        <i class="icon ion-md-cart"></i> {{ 'products.product.add_to_cart' | t }}
                    </button>
                    {%- endif -%} {% endcomment %}

                    {%- if settings.enable_quickshop -%}
                        <a href="#" @click.prevent="_viewQuickShop(product.product.handle, product.product.options_with_values, $event)" class="btn btn-outline-primary quickshop justify-content-center btn-sm ml-1 d-flex align-items-center" rel="nofollow" aria-label="{{ 'products.product.quickshop' | t | escape }}">
                        <i class="icon ion-md-eye"></i>
                        </a>
                    {%- endif -%}

                    {%- if settings.enable_wishlist -%}
                        <div class="position-absolute wishlist-icon">
                        <template v-if="!_checkWishlist(product.product.variants)" >
                            <a href="#" @click.prevent="_addVariantToWishlist(product.product.handle, product.product.variants, $event)" class="h4"  rel="nofollow" aria-label="{{ 'general.wishlist.add_to_wishlist' | t }}">
                            <i class="ion ion-ios-heart-empty"></i>
                            </a>
                        </template>
                        <template v-else>
                            <a class="h4" rel="nofollow" aria-label="{{ 'general.wishlist.added_to_wishlist' | t }}" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">
                            <i class="ion ion-ios-heart"></i>
                            </a>
                        </template>
                        </div>  
                    {%- endif -%}
                </form>
            </div>
        </div>
    </div>
</div>

<div  v-else class="card card-product card-product-style-1 text-left border-0">
    {% comment %} <span class="badges">
        <span v-if="product.compare_at_price > product.price" class="badge badge-right badge-primary p-2 text-uppercase">
        {{ 'products.product.on_sale' | t | escape }}
        </span>
    </span> {% endcomment %}
    <div class="card-img text-center {% if product.featured_image.size == 0 %}pt-0 bg-gray-300{% endif %}">
        {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
        <a :href="'/products/' + product.handle" :alt="product.title" rel="nofollow">
            <img v-if="product.featured_image"
                data-sizes="auto"
                :src="_getSizedImageUrl(product.images[0], 'large')"
                :data-src="_getSizedImageUrl(product.images[0] , '400x')"
                class="lazyload"
                :alt="product.title"/>
        </a>
         <template v-if="!product.featured_image">
            {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
        </template>
    </div>
    <div class="card-body px-md-3 px-0 pb-0"> 
        <p class="card-title m-0 text-center">
            <a :href="'/products/' + product.handle" v-text="product.title" class="text-gray-700" :alt="product.title" rel="nofollow"></a>
        </p>
    </div>
    <div class="card-footer pt-0 bg-transparent px-md-3 px-0 border-top-0 pb-3"> 
        <div class="text-center mt-2 font-weight-bold">      
            <span class="price text-primary mx-1 p-0" v-html="_formatMoney(product.variants[0].price)"></span>
            <p v-if="product.variants[0].compare_at_price > product.variants[0].price" class="mb-0 text-black font-size-sm mt-2">MSRP: <s v-html="_formatMoney(product.variants[0].compare_at_price)" class="price mx-1 p-0 text-gray-600"></s></p>
        </div>
        <div class="row mt-3 product-btn">
            <div class="col-12 position-static">
                <form data-product-form :data-product-id="product.id" action="/cart/add" method="post" enctype="multipart/form-data" class="d-flex justify-content-between">

                    <template v-for="(option, index) in product.options_with_values" v-if="option.name != 'Title'">
                        <input type="hidden" :name="'product_options_'+ product.current_variant.id +'[]'" v-model="JSON.stringify(option)" />
                    </template>
                    <a :href="'/products/' + product.handle" class="btn btn-primary px-3 flex-fill justify-content-center d-flex align-items-center" rel="nofollow" aria-label="{{ 'products.product.shopnow' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
                        View Details
                    </a>
                    {%- if settings.enable_quickaddtocart -%}
                    <button class="btn btn-primary btn-sm flex-grow-1"
                        type="submit"
                        name="add"
                        aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
                        :disabled="!product.available"
                        :data-cart-limit="product.cart_limit"
                        @click.prevent="_addToCart(product.variants[0].id, $event)">
                        <i class="icon ion-md-cart"></i> {{ 'products.product.add_to_cart' | t }}
                    </button>
                    {%- endif -%}

                    {%- if settings.enable_quickshop -%}
                        <a href="#" @click.prevent="_viewQuickShop(product.handle, product.options_with_values, $event)" class="btn btn-outline-primary quickshop justify-content-center btn-sm ml-1 d-flex align-items-center" rel="nofollow" aria-label="{{ 'products.product.quickshop' | t | escape }}">
                        <i class="icon ion-md-eye"></i>
                        </a>
                    {%- endif -%}

                    {%- if settings.enable_wishlist -%}
                        <div class="position-absolute wishlist-icon">
                        <template v-if="!_checkWishlist(product.variants)" >
                            <a href="#" @click.prevent="_addVariantToWishlist(product.handle, product.variants, $event)" class="h4"  rel="nofollow" aria-label="{{ 'general.wishlist.add_to_wishlist' | t }}">
                            <i class="ion ion-ios-heart-empty"></i>
                            </a>
                        </template>
                        <template v-else>
                            <a class="h4" rel="nofollow" aria-label="{{ 'general.wishlist.added_to_wishlist' | t }}" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">
                            <i class="ion ion-ios-heart"></i>
                            </a>
                        </template>
                        </div>  
                    {%- endif -%}
                </form>
            </div>
        </div>
    </div>
</div>