<div class="card card-product card-product-style-1 text-left border-0">
    {% comment %} <span class="badges">
        {%- if item.compare_at_price > item.price -%}
            <span class="badge badge-right badge-primary p-2 text-uppercase" >
            {{ 'products.product.on_sale' | t | escape }}
            </span>
        {%- endif -%}
    </span> {% endcomment %}

    <div class="card-img card-search-item {% if item.featured_image.size == 0 %}bg-gray-300{% endif %}">
        {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}

        <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
            {%- if item.object_type == 'product' -%}
            {%- if item.featured_image.size > 0 -%}
                <img class="img-fluid lazyload"
                    src="{{ item.featured_image | img_url: 'pico'}}"
                    data-src="{{ item.featured_image | img_url: 'grande' }}"
                    alt="{{ item.featured_image.alt | escape }}"/>
            {%- else -%}
                {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
            {%- endif -%}
            {%- else -%}
            {%- if item.image.size > 0 -%}
                <img class="img-fluid lazyload"
                    src="{{ item.image | img_url: 'pico'}}"
                    data-src="{{ item.image | img_url: 'grande' }}"
                    alt="{{ item.image.alt | escape }}"/>
            {%- else -%}
                {%- comment -%}Extract 1st image from the item contents{%- endcomment -%}
                {%- if item.content contains "<img" -%}
                {%- assign src = item.content | split: 'src="' -%}
                {%- assign src = src[1] | split: '"' | first -%}
                <img class="img-fluid lazyload" src="{{ src }}">
                {%- else -%}
                {{ 'collection-' | append: current | placeholder_svg_tag: 'img-fluid' }}
                {%- endif -%}
            {%- endif -%}
            {%- endif -%}
        </a>
    </div>
    <div class="card-body px-md-3 px-0 pb-0"> 
        <p class="card-title m-0 text-center">
            <a href="{{ item.url | within: collection }}" class="text-gray-700" alt="{{ item.title | escape }}" rel="nofollow">{{ item.title }}</a>
        </p>
    </div> 
    <div class="card-footer pt-0 bg-transparent px-md-3 px-0 border-top-0 pb-3"> 
        <div class="text-center mt-2 font-weight-bold">      
            <span class="price text-primary mx-1 p-0">{{ item.price | money }}</span>
            {%- if item.compare_at_price > item.price  -%}<p class="mb-0 text-black font-size-sm mt-2">MSRP: <s class="price mx-1 p-0 text-gray-600">{{ item.compare_at_price | money }}</s></p>{%- endif -%}
        </div>
        <div class="row mt-3 product-btn">
            <div class="col-12 position-static">
                <form data-product-form :data-product-id="product.id" action="/cart/add" method="post" enctype="multipart/form-data" class="d-flex justify-content-between">
                    <a href="{{ item.url | within: collection }}" class="btn btn-primary px-3 btn-block" rel="nofollow" aria-label="{{ 'item.title' | escape }}">View Details</a>
                </form>
            </div>
        </div>    
    </div>    
</div>
