<div class="card card-product card-product-style-1 text-left border-0">
  {% comment %} <span class="badges">
    <span v-if="product.compare_at_price > product.price" class="badge badge-right badge-primary py-2 px-3 text-uppercase">{{ 'products.product.on_sale' | t | escape }}</span>
  </span> {% endcomment %}
  <div class="card-img text-center" :class="{'bg-gray-300 pt-0': !product.featured_image}">
    <a v-if="product.featured_image" :href="'{{collection.handle}}/products/' + product.handle">
      <img
          :src="_getSizedImageUrl(product.featured_image, 'pico')"
          :data-src="_getSizedImageUrl(product.featured_image, '400x')"
          class="img-fluid lazyload"
          :alt="product.title"/>
    </a>
    <span v-else>
      {{ 'product-1' | placeholder_svg_tag: 'img-fluid' }}
    </span>
  </div>
  <div class="card-body pb-0 px-lg-3 px-2">
    <div class="card-title text-center">
      <p class="m-0"><a :href="'{{collection.handle}}/products/' + product.handle" v-text="product.title"></a></p>
      {%- comment -%} <div data-item-reviews :data-product-id="product.id" class="d-block pt-1"></div> {%- endcomment -%}
    </div>
  </div>  
  <div class="card-footer bg-transparent border-top-0 px-lg-3 px-2 pt-0 pb-3">
    <div class="text-left text-center mt-2 font-weight-bold">
      <span v-html="_formatMoney(product.variants[0].price)" class="price mx-1 text-primary p-0"></span>
      <p v-if="product.variants[0].compare_at_price > product.variants[0].price" class="mb-0 text-black font-size-sm mt-2">MSRP: <s v-html="_formatMoney(product.variants[0].compare_at_price)" class="price mx-1 p-0 text-gray-600"></s></p>
    </div>
    <div class="row mt-3 product-btn">
      <div class="col-12 position-static">
        <form data-product-form :data-product-id="product.id" action="/cart/add" method="post" enctype="multipart/form-data" class="d-flex justify-content-between">

          <template v-for="(option, index) in product.options_with_values" v-if="option.name != 'Title'">
            <input type="hidden" :name="'product_options_'+ product.current_variant.id +'[]'" v-model="JSON.stringify(option)" />
          </template>
          <a :href="'{{collection.handle}}/products/' + product.handle" class="btn btn-primary px-3 flex-fill justify-content-center d-flex align-items-center" rel="nofollow" aria-label="{{ 'products.product.shopnow' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
              View Details
          </a>
          {% comment %} {%- if settings.enable_quickaddtocart -%}
          <button class="btn btn-primary btn-sm flex-grow-1"
            type="submit"
            name="add"
            aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
            :disabled="!product.available"
            :data-cart-limit="product.cart_limit"
            @click.prevent="_addToCart(product.variants[0].id, $event)">
              <i class="icon ion-md-cart"></i> {{ 'products.product.add_to_cart' | t }}
          </button>
          {%- endif -%} {% endcomment %}

          {%- if settings.enable_quickshop -%}
            <a href="#" @click.prevent="_viewQuickShop(product.handle, product.current_variant.options, $event)" class="btn btn-outline-primary quickshop justify-content-center btn-sm ml-1 d-flex align-items-center" rel="nofollow" aria-label="{{ 'products.product.quickshop' | t | escape }}">
              <i class="icon ion-md-eye"></i>
            </a>
          {%- endif -%}

          {%- if settings.enable_wishlist -%}
            <div class="position-absolute wishlist-icon">
              <template v-if="!_checkWishlist(product.variants)">
                <a href="#" @click.prevent="_addVariantToWishlist(product.handle, product.variants, $event)" class="h4"  rel="nofollow" aria-label="{{ 'general.wishlist.add_to_wishlist' | t }}">
                  <i class="ion ion-ios-heart-empty"></i>
                </a>
              </template>
              <template v-else>
                <a class="h4" rel="nofollow" aria-label="{{ 'general.wishlist.added_to_wishlist' | t }}" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">
                  <i class="ion ion-ios-heart"></i>
                </a>
              </template>
            </div>  
          {%- endif -%}
        </form>
      </div>
    </div>
  </div>
</div>
