<!-- Global site tag (gtag.js) - AdWords: -->
{% assign fa_google_ads_audience_tag_id = 1016844619 %}
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-{{ fa_google_ads_audience_tag_id }}"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
gtag('config', 'AW-{{ fa_google_ads_audience_tag_id }}');
</script>
{% if template contains 'index' %}
<script>
 gtag('event', 'page_view', {
 'send_to': 'AW-{{ fa_google_ads_audience_tag_id }}',
 'ecomm_pagetype': ‘home’
 });
</script>
{% elsif template contains 'collection' %}
<script>
 gtag('event', 'page_view', {
 'send_to': 'AW-{{ fa_google_ads_audience_tag_id }}',
 'ecomm_pagetype': 'category'
 });
</script>
{% elsif template contains 'product' %}
<script>
 gtag('event', 'page_view', {
 'send_to': 'AW-{{ fa_google_ads_audience_tag_id }}',
 'ecomm_pagetype': 'product',
 'ecomm_prodid': '{{ product.id }}',
 'ecomm_totalvalue': '{{ product.price | money_without_currency | remove: ',' }}'
 });
</script>
{% elsif template contains 'cart' %}
<script>
 gtag('event', 'page_view', {
 'send_to': 'AW-{{ fa_google_ads_audience_tag_id }}',
 'ecomm_pagetype': 'cart',
 'ecomm_prodid': [{% for item in cart.items %}'{{item.product.id}}'{% unless forloop.last %},{% endunless %}{% endfor %}],
 'ecomm_totalvalue': '{{cart.total_price | money_without_currency | remove: ',' }}'
 });
</script>
{% elsif template contains 'search' %}
<script>
 gtag('event', 'page_view', {
 'send_to': 'AW-{{ fa_google_ads_audience_tag_id }}',
 'ecomm_pagetype': 'searchresults'
 });
</script>
{% else %}
<script>
 gtag('event', 'page_view', {
 'send_to': 'AW-{{ fa_google_ads_audience_tag_id }}',
 'ecomm_pagetype': 'other'
 });
</script>
{% endif %}