{%- form 'product', product, class: "my-4 product-alternate", data-product-form: "", data-product-id: product.id, data-productid: product.id -%}

  <template v-for="(option, index) in product.options_with_values" v-if="option.name != 'Title'">
    <input type="hidden" :name="'product_options_'+ currentVariant.id +'[]'" v-model="JSON.stringify(option)" />
  </template>

  <div class="row">
  <!--col-12 d-flex justify-content-between -->
    <div class="col-12 justify-content-between">
      {%- unless product.has_only_default_variant -%}
      {% assign all_option_name = ""  %}
        
{% for option in product.options_with_values %}
          {% assign option_name = option.name | downcase %}
          
          {% if forloop.first == true %}
             {% assign all_option_name = all_option_name  | append: option.name %}
          {% elsif forloop.last == true %}
           {% assign all_option_name = all_option_name | append: ' and ' | append: option.name %}
          {% else %}
            {% assign all_option_name = all_option_name | append: ', ' | append: option.name %}
          {% endif %}
          
          <div class="selector-wrapper">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            {% if enable_color_swatches and option_name == 'color' %}
              {% comment %} Color swatches {% endcomment %}
              <ul class="list-unstyled list-inline my-0 py-0">
                {% for value in option.values %}
                  <li class="list-inline-item">
                    <div class="color-swatch">
                      <label
                          data-toggle="tooltip"
                          data-trigger="hover"
                          title="{{ value | escape | replace: '-', ' ' }}"
                          :style="_getSwatchStyle('{{ value }}')">
                          <input
                            type="radio"
                            name="color"
                            aria-label="color"
                            value="{{ value | escape }}"
                            data-single-option-selector
                            data-index="option{{ option.position }}"
                            @change="_getVariant($event)"
                            {% if option.selected_value == value %}checked="checked"{% endif %} >
                      </label>
                    </div>
                  </li>
                {% endfor %}
              </ul>

            {% elsif enable_size_swatches and option_name == 'size' %}
              {% comment %} Size swatches {% endcomment %}
               <ul class="list-unstyled list-inline my-0 py-0">
                {% for value in option.values %}
                  <li class="list-inline-item">
                    <div class="size-swatch">
                      <label>
                          <input
                            data-single-option-selector
                            type="radio"
                            name='size'
                            aria-label="size"
                            value="{{ value | escape }}"
                            data-index="option{{ option.position }}"
                            @change="_getVariant($event)"
                            {% if option.selected_value == value %}checked="checked"{% endif %} >
                      </label>
                    </div>
                  </li>
                {% endfor %}
              </ul>

            {% else %}
              {% comment %} Normal select {% endcomment %}
              <select
                class="form-control form-control-sm"
                data-single-option-selector
                data-index="option{{ option.position }}"
                @change="_getVariant($event)">
                {% for value in option.values %}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                  </option>
                {% endfor %}
              </select>
            {% endif %}
          </div>
        {% endfor %}
      {%- endunless -%}

      {%- comment -%} <div class="quantity-wrapper" data-qty-container>
        <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <a href="#" class="input-group-text" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateQty($event)">
              <span class="btn-decrease"></span>
            </a>
          </div>
          <input type="number" name="quantity" aria-label="quantity" value="1" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center" readonly>
          <div class="input-group-append">
            <a href="#" class="input-group-text" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateQty($event)">
              <span class="btn-increase"></span>
            </a>
          </div>
        </div>
      </div> {%- endcomment -%}

      <div id="variant-inventory" class="{% unless current_variant.available %} hide {% endunless %}">
      {% assign option_array = all_option_name | split:',' %}
      
              {% if current_variant.inventory_management == "shopify" and current_variant.inventory_policy != "continue" %}
             <!-- We have {{ current_variant.inventory_quantity }} left in stock.-->
              Only <span class="inventory_quantity">${currentVariant.inventory_quantity} {{ current_variant.inventory_quantity }}</span> left in this {{ all_option_name }}
              
              {% else %}
              This product is available.
              {% endif %}
            </div>
    </div>

  </div>


  {%- comment -%} DEFAULT HIDDEN OPTIONS SELECT {%- endcomment -%}
  {%- comment -%} DO NOT REMOVE THIS {%- endcomment -%}
  <div class="row" style="display: none !important;">
    <div class="col">
        <select name="id" data-productid="{{ product.id }}">
          {%- for variant in product.variants -%}
              <option
                data-sku="{{ variant.sku }}"
                value="{{ variant.id }}"
                data-product-id="{{ product.id }}"
                data-variant-id="{{ variant.id }}"
                data-discount-variant-id="{{ variant.metafields.subscriptions.discount_variant_id }}">
                {{ variant.title }} - {{ variant.price | money_with_currency }}
              </option>
          {%- endfor -%}
        </select>
    </div>
  </div>

  {%- comment -%} Recharge Subscription Widget {%- endcomment -%}
  {%- if settings.enable_recharge and product.available and product.metafields.subscriptions.subscription_id -%}
    <div data-recharge-subscription-widget="{{ product.id }}" class="row my-3" style="display:none !important;">
      <div class="col-12">
        <h6 class="my-2">Subscription:</h6>
        <div class="inner"></div>
      </div>
    </div>
  {%- endif -%}
  <div class="row mb-2 align-items-center justify-content-between">
      <div class="col-sm-6">
        <button class="btn btn-primary"
          type="submit"
          name="add"
          :disabled="!currentVariant.available"
          :data-cart-limit="product.cart_limit"
          :data-default-variant-id="currentVariant.id"
          @click.prevent="_addToCart(currentVariant.id, $event)">
            <template v-if="isLoading && loadingEvent == 'cartAdding'">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {{ 'general.wait' | t }}
            </template>
            <template v-else>
              <span v-if="currentVariant.available">{{ 'products.product.add_to_cart' | t }}</span>
              <span v-else :data-var="currentVariant.id">{{ 'products.product.sold_out' | t }}</span>
            </template>
        </button>
      </div>

      {%- comment -%} Dynamic Checkout Button {%- endcomment -%}
      {%- comment -%} {%- unless product.metafields.subscriptions.subscription_id -%}
        <div class="mt-2">{{ form | payment_button }}</div>
      {%- endunless -%} {%- endcomment -%}

      {%- if settings.enable_wishlist -%}
        <div class="text-sm-right mt-sm-0 mt-3 col-sm-6">
          <div v-if="!_checkWishlist(currentVariant.id)">
            <a href="#" @click.prevent="_addVariantToWishlist(product.handle, currentVariant.id, $event)" rel="nofollow">
              <i class="ion ion-ios-heart-empty mr-1 h5 align-middle mb-1"></i> <span>{{ 'general.wishlist.add_to_wishlist' | t }}</span>
            </a>
          </div>
          <span v-else>
            <a href="#" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1"><i class="ion ion-ios-heart mr-1 h5 mb-1 align-middle"></i> Added to Wishlist</a>
          </span>
        </div>
      {%- endif -%}

  </div>

{%- endform -%}
<script>
 var inv_qty = {};
 {% for var in product.variants %}
   inv_qty[{{- var.id -}}] = {{ var.inventory_quantity | default: 0 }};
 {% endfor %}
</script>
