<div id="customerRegisterForm" data-register-form>
  {%- form 'create_customer' -%}

    {%- comment -%}
    <h3 class="text-center">{{ 'customer.register.title' | t }}</h3>
    {%- endcomment -%}

    {%- if form.errors -%}
    <div class="alert alert-warning">
      {{ form.errors | default_errors }}
    </div>
    {%- endif -%}

    <div class="form-group input-group">
      <input type="text" id="registerCustomerFirstName" name="customer[first_name]" aria-label="first name" class="form-control " placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}" {% endif %} required>

      <input type="text" id="customerLastName" name="customer[last_name]" aria-label="last name" class="form-control border-left-0 ml-0" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}" {% endif %} required>
    </div>

    <div class="form-group input-group">
      <input type="email" id="registerCustomerEmail" name="customer[email]" aria-label="email" class="form-control {% if form.errors contains 'email' %} is-invalid{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}" {% endif %} autocorrect="off" autocapitalize="off" required>
    </div>

    <div class="form-group input-group">
      <input type="password" id="registerCustomerPassword" data-password-input name="customer[password]" aria-label="password" class="form-control {% if form.errors contains 'password' %} is-invalid{% endif %}" placeholder="{{ 'customer.register.password' | t }}" required>
    </div>

    <div class="custom-control custom-checkbox  mb-4">
        <input type="hidden" name="customer[accepts_marketing]" value="" />
        <input type="checkbox" name="customer[accepts_marketing]" aria-label="newsletter subscription" class="custom-control-input" id="subscribe"/>        
        <label class="custom-control-label" for="subscribe">{{ 'customer.register.newsletter_subscribe' | t }}</label>
    </div>

    <input type="submit" class="btn btn-primary btn-block" value="{{ 'customer.register.submit' | t }}">

  {%- endform -%}
</div>
