{%- assign cart_type = section.settings.cart_type -%}


{%- case cart_type -%}

  {%- when 'cart_dropdown' -%}

    <a id="cartDropdown" class="nav-link cart-dropdown" href="#" name="cart" rel="nofollow" aria-label="Cart">
      <img src="{{ 'shopping-bag.svg' | asset_url }}" class="icon icon-bag" alt="cart" />
      <span v-if="cart.item_count > 0" v-text="cart.item_count" class="badge bg-primary text-white"></span>
    </a>
    <b-popover target="cartDropdown" placement="bottom" container="cartDropdown" triggers="hover focus" class="d-none">
      <template slot="title">{{ 'cart.general.title' | t }}</template>
      {%- include 'cart-dropdown' -%}
    </b-popover>

  {%- when 'cart_drawer' -%}

    <a class="nav-link" href="#" @click.prevent="_toggleCartDrawer" rel="nofollow" name="cart" rel="nofollow" aria-label="Cart">
      <img src="{{ 'shopping-bag.svg' | asset_url }}" class="icon icon-bag" alt="cart" />
      <span v-if="cart.item_count > 0" v-text="cart.item_count" class="badge bg-primary text-white"></span>
    </a>

  {%- else -%}

    <a class="nav-link" href="/cart" name="cart" rel="nofollow" aria-label="Cart">
      <img src="{{ 'shopping-bag.svg' | asset_url }}" class="icon icon-bag" alt="cart"/>
      <span v-if="cart.item_count > 0" v-text="cart.item_count" class="badge bg-primary text-white"></span>
    </a>

{%- endcase -%}
