<div class="megamenu_dropdown box-shadow">
    <div class="container">
        <div class="row">
            <div class="col-ex-lg-9">
                <div class="mx-n3 clearfix">
                    {%- for block in section.blocks -%}

                    {%- assign shop_megamenu_title = block.settings.handle_name | handleize -%}   
                    {%- if shop_megamenu_title == child_list_handle -%}
                    
                    <div class="px-3"><h6 class="font-family-base mb-3 text-black text-uppercase font-weight-bold">{{ section.settings.categories }}</h6></div>

                    {%- assign collection1 = collections[block.settings.home_featured_collection1] -%}
                    {%- assign collection2 = collections[block.settings.home_featured_collection2] -%}
                    {%- assign collection3 = collections[block.settings.home_featured_collection3] -%}
                    {%- assign collection4 = collections[block.settings.home_featured_collection4] -%}
                    {%- assign collection5 = collections[block.settings.home_featured_collection5] -%}

                    <div class="w-20 px-3 float-left">
                        <div class="collection-item text-left"> 
                            <div class="collection-link mb-3">
                                {%- if collection2.image != '' -%}<a href="{{ collection1.url }}" aria-label="{{ collection1.title }}" rel="nofollow"><img src="{{ block.settings.collection_image_1 | img_url: 'medium' }}" class="img-fluid" alt="{{ collection1.title }}"></a>{%- endif -%}
                            </div>
                            <div class="header-collection-title">
                                <a href="{{ collection1.url }}" class="text-capitalize" aria-label="{{ collection1.title }}" rel="nofollow">{{ collection1.title }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="w-20 px-3 float-left">
                        <div class="collection-item text-left"> 
                            <div class="collection-link mb-3">
                                {%- if collection2.image != '' -%}<a href="{{ collection2.url }}" aria-label="{{ collection2.title }}" rel="nofollow"><img src="{{ block.settings.collection_image_2 | img_url: 'medium' }}" class="img-fluid" alt="{{ collection2.title }}"></a>{%- endif -%}
                            </div>
                            <div class="header-collection-title">
                                <a href="{{ collection2.url }}" class="text-capitalize" aria-label="{{ collection2.title }}" rel="nofollow">{{ collection2.title }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="w-20 px-3 float-left">
                        <div class="collection-item text-left"> 
                            <div class="collection-link mb-3">
                                {%- if collection3.image != '' -%}<a href="{{ collection3.url }}" aria-label="{{ collection3.title }}" rel="nofollow"><img src="{{ block.settings.collection_image_3 | img_url: 'medium' }}" class="img-fluid" alt="{{ collection3.title }}"></a>{%- endif -%}
                            </div>
                            <div class="header-collection-title">
                                <a href="{{ collection3.url }}" class="text-capitalize" aria-label="{{ collection3.title }}" rel="nofollow">{{ collection3.title }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="w-20 px-3 float-left">
                        <div class="collection-item text-left"> 
                            <div class="collection-link mb-3">
                                {%- if collection4.image != '' -%}<a href="{{ collection4.url }}" aria-label="{{ collection3.title }}" rel="nofollow"><img src="{{ block.settings.collection_image_4 | img_url: 'medium' }}" class="img-fluid" alt="{{ collection4.title }}"></a>{%- endif -%}
                            </div>
                            <div class="header-collection-title">
                                <a href="{{ collection4.url }}" class="text-capitalize" aria-label="{{ collection4.title }}" rel="nofollow">{{ collection4.title }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="w-20 px-3 float-left">
                        <div class="collection-item text-left"> 
                            <div class="collection-link mb-3">
                                {%- if collection5.image != '' -%}<a href="{{ collection5.url }}" aria-label="{{ collection3.title }}" rel="nofollow"><img src="{{ block.settings.collection_image_5 | img_url: 'medium' }}" class="img-fluid" alt="{{ collection5.title }}"></a>{%- endif -%}
                            </div>
                            <div class="header-collection-title">
                                <a href="{{ collection5.url }}" class="text-capitalize" aria-label="{{ collection5.title }}" rel="nofollow">{{ collection5.title }}</a>
                            </div>
                        </div>
                    </div>
                    {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
            <div class="col-ex-lg-3">
               <div class="mx-n3">
                  <div class="px-3">
                     <h6 class="font-family-base mb-3 text-black text-uppercase font-weight-bold">{{ section.settings.shopsize }}</h6>
                  </div>
                  <div class="px-3">
                     {%- for childlink in menus[child_list_handle].links -%}
                        {%- if childlink.handle == 'size' -%}
                           {%- if childlink.links != blank -%}
                              <ul class="list-unstyled {% if forloop.index == 3 %}size-col mx-n2{% endif %}">
                              {%- for grandchildlink in childlink.links -%}
                                 <li class="float-left px-2 my-2">
                                    <a href="{{ grandchildlink.url }}" class="nav-link font-family-base text-black text-uppercase {% if grandchildlink.active %} active{% endif %} {{ grandchildlink.handle }}" name="{{ grandchildlink.title }}" title="{{ grandchildlink.title }}" aria-label="{{ grandchildlink.title }}" {% if grandchildlink.current %} aria-current="page"{% endif %}>{{ grandchildlink.title | escape }}</a>
                                 </li>
                              {%- endfor -%}
                              </ul>
                           {%- endif -%}
                        {%- endif -%}
                     {%- endfor -%}
                  </div>
               </div>
            </div>
        </div>
    </div>
</div>
