

<div class="collapse navbar-collapse">
  <ul class="navbar-nav custom_nav align-items-center w-40">
    {%- for link in linklists[section.settings.main_linklist].links -%}
      {%- assign child_list_handle = link.title | handleize -%}

      {%- assign mega_menu = true -%}

      {%- for block in section.blocks -%}
        {%- assign shop_megamenu_title = block.settings.handle_name | handleize -%} 
        {%- if shop_megamenu_title == child_list_handle -%}
          {%- assign mega_menu = true -%}
        {%- endif -%}
      {%- endfor -%}

      {%- comment -%} {%- assign shop_megamenu_title_1 = settings.shop_megadropdown_link_1 | handleize -%} {%- endcomment -%}

      {% if menus[child_list_handle].links != blank -%}
        <li class="nav-item {% if mega_menu %} mega_dropdown {% else %}dropdown {% endif %} {% if link.active %} active{% endif %}">
          <a data-href="{{ link.url }}" class="nav-link d-flex align-items-center justify-content-between {{ link.handle }}" role="button" data-toggle="dropdown" aria-expanded="false" name="{{ link.title }}" aria-label="{{ link.title }}">
            <span>{{ link.title }}</span>
          </a>

          {%- if mega_menu -%}
            {%- include 'mega-menu' -%}
          {%- else -%}
            <ul class="dropdown-menu">
              {%- for childlink in menus[child_list_handle].links -%}
                <li>
                  <a class="dropdown-item {% if childlink.active %} active{% endif %} {{ childlink.handle }}" href="{{ childlink.url }}" name="{{ childlink.title }}"  aria-label="{{ childlink.title }}">
                    {{ childlink.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}

        </li>
      {%- else -%}
        <li class="nav-item {% if link.active %} active{% endif %}">
          <a class="nav-link {{ link.handle }}" href="{{ link.url }}" name="{{ link.title }}" aria-label="{{ link.title }}">
            {{ link.title }}
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>


  <div class="brand-logo w-20">
    <a v-cloak href="/" class="navbar-brand justify-content-center align-items-center d-none d-lg-flex" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
      {%- if logo contains 'no-image' -%}
        <span class="h5 text-primary"><i class="icon ion-pound text-primary"></i> {{ shop.name | escape }}</span>
      {%- else -%}
        <img v-if="isLogoLight" src="{{ logo_light }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="width: {{ logo_width }}px">
        <img v-else src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="width: {{ logo_width }}px">
      {%- endif -%}
    </a>
  </div>

  <ul class="navbar-nav navbar-icon-links align-items-center justify-content-end w-40">  
    <li class="nav-item">
      <a class="nav-link" href="#" @click.prevent="_toggleSearch" name="search" title="search" rel="nofollow" aria-label="Search">
        <img src="{{ 'search.svg' | asset_url }}" class="icon icon-search" alt="search" />
      </a>
    </li>
    {%- if shop.customer_accounts_enabled -%}
      <li class="nav-item">
        <a class="nav-link" href="/account" name="account" title="account" rel="nofollow" aria-label="Account">
          <img src="{{ 'user.svg' | asset_url }}" class="icon icon-user"  alt="account" />
        </a>
      </li>
    {%- endif -%}
    <li class="nav-item">
      {%- include 'header-cart-link' -%}
    </li>
  </ul>
</div>

<ul class="nav navbar-light w-100 d-flex align-items-center justify-content-between d-ex-lg-none px-md-4 px-3">
    <div class="col-4 px-0 d-flex align-items-center justify-content-start">
        <li class="nav-item text-left">
            <a class="nav-link navbar-toggle" href="#" @click.prevent="_toggleMobileNavDrawer" name="menu" title="menu" rel="nofollow" aria-label="Menu">
                <span class="navbar-toggler-icon"></span>
            </a>
        </li>
    </div>
    <div class="col-4 px-0">
        <li class="nav-item text-center">
            <a v-cloak href="/" class="nav-link" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
            {%- if logo contains 'no-image' -%}
                <span class="h5 text-primary"><i class="icon ion-pound text-primary"></i> {{ shop.name | escape }}</span>
            {%- else -%}
                <img v-if="isLogoLight" src="{{ logo_light }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="width: {{ logo_width }}px">
                <img v-else src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="width: {{ logo_width }}px">
            {%- endif -%}
            </a>
        </li>
    </div>

    <div class="col-4 px-0 d-flex align-items-center justify-content-end">    
        <li class="nav-item px-3">
            <a class="nav-link" href="#" @click.prevent="_toggleSearch" name="search" title="search" rel="nofollow" aria-label="Search">
                <img src="{{ 'search.svg' | asset_url }}" class="icon icon-search" alt="search" />
            </a>
        </li>
        {%- if shop.customer_accounts_enabled -%}
            <li class="nav-item pl-3 d-none d-md-block">
                <a class="nav-link" href="/account" name="account" title="account" rel="nofollow" aria-label="Account">
                    <img src="{{ 'user.svg' | asset_url }}" class="icon icon-user" />
                </a>
            </li>
        {%- endif -%}
        <li class="nav-item pl-2">
            {%- include 'header-cart-link' -%}
        </li>
    </div>
</ul>
