
<div class="onboarding-collection">

  {%- if collection_grid_type == 'collage' -%}

    <div class="row justify-content-center">
      {%- for i in (1..3) -%}
        <div class="col-6 col-lg-4 my-3 d-flex align-items-stretch justify-content-around">
          <div class="card card-product text-left bg-gray-300">
            <div class="card-img text-center border-0">
                {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
            </div>
            <div class="card-body d-flex align-items-center justify-content-between bg-white">
              <div>
                <h6 class="card-title m-0">Example Product Title</h6>
                <span class="price m-0 p-0">$19.99</span>
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
      {%- for i in (3..6) -%}
        <div class="col-6 col-lg-3 my-3 d-flex align-items-stretch justify-content-around">
          <div class="card card-product text-left bg-gray-300">
            <div class="card-img text-center border-0">
                {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
            </div>
            <div class="card-body d-flex align-items-center justify-content-between bg-white">
              <div>
                <h6 class="card-title m-0">Example Product Title</h6>
                <span class="price m-0 p-0">$19.99</span>
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>

  {%- else -%}

    <div class="row justify-content-center">
      {%- for i in (1..8) -%}
        <div class="col-6 col-lg-3 my-3 d-flex align-items-stretch justify-content-around">
          <div class="card card-product text-left bg-gray-300">
            <div class="card-img text-center border-0">
                {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
            </div>
            <div class="card-body d-flex align-items-center justify-content-between bg-white">
              <h6 class="card-title m-0">Example Product Title</h6>
              <span class="price m-0 p-0">$19.99</span>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>

  {%- endif -%}

</div>
