<aside class="collection-filters {% if sidebar_is_sticky %}sticky-top{% endif %}">
  {%- assign match = false -%}
  {%- for product_vendor in shop.vendors -%}
    {% assign product_vendor1 = product_vendor | handleize %}
    {% if collection.handle ==  product_vendor1 %}
      {%- assign match = true -%}
    {% endif %}
  {%- endfor -%}

  {%- assign collection_tag = collection.all_tags | uniq -%}
  {%- assign collection_tag_brand = collection.all_tags | uniq | handleize -%}

  {%- if collection_tag != blank -%}
    <div class="collection-filters_header py-3 w-100">
      <div class="d-flex d-lg-none justify-content-end mb-3">
        <div class="filter_close ion ion-md-close text-black"></div>
      </div>
      <div class="row justify-content-between align-items-center">
          <div class="col font-weight-bold text-uppercase font-size-sm">Filter By:</div>
          <div class="col text-right">
              <a href="#" @click.prevent="_clearAllFilters($event)" class="text-uppercase small">clear all</a>
          </div>
      </div>
    </div>

    <div id="accordion" class="accordion">
    {%- for block in section.blocks -%}

      {%- comment -%} collections filter {%- endcomment -%}
      {%- if block.settings.enable_collections_filter -%}
        {%- assign col_handle = collection.handle | split: '-' | first -%}
        {%- assign cat_title = category_title -%}
        {%- comment %} For Mens collections {%- endcomment -%}
        {%- if col_handle == 'mens' -%}
          {%- assign collection_link_list_men = block.settings.collection_link_list_men -%}
          <div class="card border-top shadow-none mb-0" {{ block.shopify_attributes }}>
            <div class="card-header collapsed text-uppercase font-weight-bold text-black bg-transparent px-0" id="{{ forloop.index }}" data-toggle="collapse" data-target="#{{ block.settings.collections_filter_title }}" aria-expanded="true" aria-controls="{{ block.settings.collections_filter_title }}">{{ block.settings.collections_filter_title }}</div>
            <div id="{{ block.settings.collections_filter_title }}" class="collapse" aria-labelledby="{{ forloop.index }}" data-parent="#accordion">
              <div class="card-body px-0">
                {%- if linklists[collection_link_list_men].links.size > 0 -%}
                  <ul class="list-group list-group-flush">
                    {%- for link in linklists[collection_link_list_men].links -%}
                      {%- if cat_title contains link.object.handle and link.object.handle != collection.handle and collection.handle != 'mens-shoes' -%}
                        <li class="list-group-item border-0 py-2 px-0">
                          <a href="{{ link.url }}" @click.prevent="_parseFilters($event)" rel="nofollow" data-filter data-filter-type="collection" data-handle="{{ link.object.handle }}"><span>{{ link.title }}</span></a>
                        </li>
                      {%- elsif collection.handle == 'mens-shoes' -%}
                        <li class="list-group-item border-0 py-2 px-0">
                          <a href="{{ link.url }}" @click.prevent="_parseFilters($event)" rel="nofollow" data-filter data-filter-type="collection" data-handle="{{ link.object.handle }}"><span>{{ link.title }}</span></a>
                        </li>
                      {%- endif -%}
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
            </div>
          </div>
          {%- comment -%} For Womens collection {%- endcomment -%}
        {%- elsif col_handle == 'womens' -%}
          {%- assign collection_link_list_women = block.settings.collection_link_list_women -%}
          <div class="card border-top shadow-none mb-0" {{ block.shopify_attributes }}>
            <div class="card-header collapsed text-uppercase font-weight-bold text-black bg-transparent px-0" id="{{ forloop.index }}" data-toggle="collapse" data-target="#{{ block.settings.collections_filter_title }}" aria-expanded="false" aria-controls="{{ block.settings.collections_filter_title }}">{{ block.settings.collections_filter_title }}</div>
            <div id="{{ block.settings.collections_filter_title }}" class="collapse" aria-labelledby="{{ forloop.index }}" data-parent="#accordion">
              {%- if linklists[collection_link_list_women].links.size > 0 -%}
              <div class="card-body px-0">
                <ul class="list-group list-group-flush">
                  {%- for link in linklists[collection_link_list_women].links -%}
                    {%- if cat_title contains link.object.handle and link.object.handle != collection.handle and collection.handle != 'womens-shoes' -%}
                      <li class="list-group-item border-0 py-2 px-0">
                        <a href="{{ link.url }}" @click.prevent="_parseFilters($event)" rel="nofollow" data-filter data-filter-type="collection" data-handle="{{ link.object.handle }}"><span>{{ link.title }}</span></a>
                      </li>
                      {%- elsif collection.handle == 'womens-shoes' -%}
                        <li class="list-group-item border-0 py-2 px-0">
                          <a href="{{ link.url }}" @click.prevent="_parseFilters($event)" rel="nofollow" data-filter data-filter-type="collection" data-handle="{{ link.object.handle }}"><span>{{ link.title }}</span></a>
                        </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- elsif col_handle == 'all' -%}
          {%- assign collection_link_list_all = block.settings.collection_link_list_all -%}
          <div class="card border-top shadow-none mb-0" {{ block.shopify_attributes }}>
            <div class="card-header collapsed text-uppercase font-weight-bold text-black bg-transparent px-0" id="{{ forloop.index }}" data-toggle="collapse" data-target="#{{ block.settings.collections_filter_title }}" aria-expanded="false" aria-controls="{{ block.settings.collections_filter_title }}">{{ block.settings.collections_filter_title }}</div>
            <div id="{{ block.settings.collections_filter_title }}" class="collapse" aria-labelledby="{{ forloop.index }}" data-parent="#accordion">
              {%- if linklists[collection_link_list_all].links.size > 0 -%}
              <div class="card-body px-0">
                <ul class="list-group list-group-flush">
                  {%- for link in linklists[collection_link_list_all].links -%}
                    <li class="list-group-item border-0 py-2 px-0">
                      <a href="{{ link.url }}" @click.prevent="_parseFilters($event)" rel="nofollow" data-filter data-filter-type="collection" data-handle="{{ link.object.handle }}"><span>{{ link.title }}</span></a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}

      {%- comment -%} gender filter {%- endcomment -%}
      {%- if collection.handle == 'all' -%}
        {%- if block.settings.enable_gender_filter -%}
          <div class="card shadow-none mb-0" {{ block.shopify_attributes }}>
            <div class="card-header collapsed text-uppercase font-weight-bold text-black bg-transparent px-0" id="{{ forloop.index }}" data-toggle="collapse" data-target="#{{ block.settings.gender_filter_title }}" aria-expanded="false" aria-controls="{{ block.settings.gender_filter_title }}">{{ block.settings.gender_filter_title }}</div>
            <div id="{{ block.settings.gender_filter_title }}" class="collapse" aria-labelledby="{{ forloop.index }}" data-parent="#accordion">
              <div class="card-body px-0">
                <ul class="list-unstyled gender-list my-0 py-0">
                  {%- assign gender_list = block.settings.gender_list | newline_to_br | split:'<br />' -%}
                  {%- for tag in gender_list -%}
                    {%- assign filter_gender = tag | strip_newlines | remove: " " | handleize -%}
                    <li class="list-inline-item d-block py-2 m-0 px-0">
                      <div class="custom-control custom-checkbox">                      
                        <input type="radio" name="gender" id="{{ filter_gender }}" aria-label="{{ block.settings.gender_filter_title }}" value="{{ filter_gender | handle }}" class="custom-control-input" @change="_parseFilters($event)" data-filter data-filter-type="tag" v-model="collection.activeFilters" {% if current_tags contains filter_gender %}data-selected-tag{% endif %}>
                        <label class="custom-control-label text-capitalize" for="{{ filter_gender }}">{{ filter_gender }}</label>
                      </div>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}

      {%- comment -%} colors filter {%- endcomment -%}
      {%- if block.settings.enable_colors_filter -%}
        <div class="card shadow-none mb-0" {{ block.shopify_attributes }}>
          <div class="card-header collapsed text-uppercase font-weight-bold text-black bg-transparent px-0 text-uppercase font-weight-bold text-black" id="{{ forloop.index }}" data-toggle="collapse" data-target="#{{ block.settings.colors_filter_title }}" aria-expanded="false" aria-controls="{{ block.settings.colors_filter_title }}">{{ block.settings.colors_filter_title }}</div>
          <div id="{{ block.settings.colors_filter_title }}" class="collapse" aria-labelledby="{{ forloop.index }}" data-parent="#accordion">
            <div class="card-body px-0">
              <ul class="list-unstyled list-inline my-0 py-0 colors-list">
                {%- assign colors_list = block.settings.colors_list | newline_to_br | split:'<br />' -%}
                {%- for color in colors_list -%}
                  {%- assign filter_color = color | strip_newlines -%}
                  {%- if collection_tag contains filter_color -%}
                    <li class="list-inline-item d-block py-2 m-0 px-0">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="{% if settings.filters_logic == 'or_logic' %}radio{% else %}checkbox{% endif %}" name="colors[]" aria-label="{{ block.settings.colors_filter_title }}" id="{{ color | handle }}" value="{{ color | handle }}" @change="_parseFilters($event)" data-filter data-filter-type="tag" v-model="collection.activeFilters" {% if current_tags contains filter_color %}data-selected-tag{% endif %}>
                          <label class="custom-control-label text-capitalize" for="{{ color | handle }}" >{{ color | handle }}</label>
                      </div>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
      {%- endif -%}

      {%- comment -%} prices filter {%- endcomment -%}
      {%- if block.settings.enable_prices_filter -%}
        <div class="card shadow-none mb-0" {{ block.shopify_attributes }}>
          <div class="card-header collapsed text-uppercase font-weight-bold text-black bg-transparent px-0" id="{{ forloop.index }}" data-toggle="collapse" data-target="#{{ block.settings.prices_filter_title }}" aria-expanded="false" aria-controls="{{ block.settings.prices_filter_title }}">{{ block.settings.prices_filter_title }}</div>
          <div id="{{ block.settings.prices_filter_title }}" class="collapse" aria-labelledby="{{ forloop.index }}" data-parent="#accordion">
            <div class="card-body px-0">
              <ul class="list-unstyled prices-list my-0 py-0">
                {%- assign prices_list = block.settings.prices_list | newline_to_br | split:'<br />' -%}
                {%- for price in prices_list -%}
                  {%- assign filter_prices = price | strip_newlines -%}
                  {%- assign filter_price = price | strip_newlines | handleize -%}
                  {%- if collection_tag contains filter_price -%}
                    <li class="list-inline-item d-block py-2 m-0 px-0">
                      <div class="custom-control custom-checkbox">
                        <input type="radio" name="prices[]" id="{{ filter_price }}" aria-label="{{ block.settings.prices_filter_title }}" value="{{ filter_price }}" class="custom-control-input" @change="_parseFilters($event)" data-filter data-filter-type="tag" v-model="collection.activeFilters" {% if current_tags contains filter_price %}data-selected-tag{% endif %}>
                        <label class="custom-control-label" for="{{ filter_price }}">{{ filter_prices }}</label>
                      </div>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
      {%- endif -%}

      {%- comment -%} size filter {%- endcomment -%}
      {%- if block.settings.enable_size_filter -%}
        <div class="card shadow-none mb-0" {{ block.shopify_attributes }}>
          <div class="card-header collapsed text-uppercase font-weight-bold text-black bg-transparent px-0" id="{{ forloop.index }}" data-toggle="collapse" data-target="#{{ block.settings.size_filter_title }}" aria-expanded="false" aria-controls="{{ block.settings.size_filter_title }}">{{ block.settings.size_filter_title }}</div>
          <div id="{{ block.settings.size_filter_title }}" class="collapse" aria-labelledby="{{ forloop.index }}" data-parent="#accordion">
            <div class="card-body px-0">
              <ul class="list-unstyled size-list my-0 py-0">
                {%- assign size_list = block.settings.size_list | newline_to_br | split:'<br />' -%}
                {%- for size in size_list -%}
                  {%- assign filter_size = size | strip_newlines -%}
                  {%- if collection_tag contains filter_size -%}
                  <li class="list-inline-item d-block py-2 m-0 px-0">
                    <div class="custom-control custom-checkbox">
                      <input type="radio" name="size[]" id="{{ filter_size | append: '_size' }}" aria-label="{{ block.settings.size_filter_title }}" value="{{ filter_size | replace: ' ', '-' }}" class="custom-control-input" @change="_parseFilters($event)" data-filter data-filter-type="tag" v-model="collection.activeFilters" {% if current_tags contains filter_size %}data-selected-tag{% endif %}>
                      <label class="custom-control-label" for="{{ filter_size | append: '_size' }}">{{ filter_size }}</label>
                    </div>
                  </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
      {%- endif -%}

      {%- comment -%} tags based filter - is repeated block {%- endcomment -%}
      {%- if block.settings.enable_tags_filter -%}
        {%- if match == false -%}
          <div class="card shadow-none mb-0" {{ block.shopify_attributes }}>
            <div class="card-header collapsed text-uppercase font-weight-bold text-black bg-transparent px-0" id="06" data-toggle="collapse" data-target="#{{ block.settings.tags_filter_title }}" aria-expanded="false" aria-controls="{{ block.settings.tags_filter_title }}">{{ block.settings.tags_filter_title }}</div>
            <div id="{{ block.settings.tags_filter_title }}" class="collapse" data-parent="#accordion">
              <div class="card-body px-0">
                <ul class="list-unstyled tags-list my-0 py-0">
                  {%- assign tags_list = block.settings.tags_list | newline_to_br | split:'<br />' -%}
                  {%- for tag in tags_list -%}
                    {%- assign filter_tag = tag | strip_newlines | handleize -%}
                    {%- if collection_tag_brand contains filter_tag -%}
                    <li class="list-inline-item d-block py-2 m-0 px-0">
                      <div class="custom-control custom-checkbox">
                        <input type="{% if block.settings.tags_filter_title == 'Brand' %}radio{% else %}checkbox{% endif %}" name="tags[]" id="{{ tag }}" aria-label="{{ block.settings.tags_filter_title }}" value="{{ filter_tag }}" class="custom-control-input" @change="_parseFilters($event)" data-filter data-filter-type="tag" v-model="collection.activeFilters" 
                        {% if current_tags contains filter_tag %}data-selected-tag{% endif %} >
                        <label class="custom-control-label text-capitalize" for="{{ tag }}">{{ tag }}</label>
                      </div>
                    </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}

    {%- endfor -%}
    </div>
  {%- endif -%}

</aside>
