{%- assign og_title = page_title -%}
{%- assign og_url = canonical_url -%}
{%- assign og_type = 'website' -%}
{%- assign og_description = page_description | default: shop.description | default: shop.name -%}

{%- comment -%}
  Template specific overides
{%- endcomment -%}
{%- if template.name == 'product' -%}
  {%- assign og_title = product.title | strip_html -%}
  {%- assign og_type = 'product' -%}
  {%- capture og_image_tags -%}
    {%- for image in product.images limit: 3 -%}
      <meta property="og:image" content="http:{{ image.src | product_img_url: '1024x1024' }}">
    {%- endfor -%}
  {%- endcapture -%}
  {%- capture og_image_secure_url_tags -%}
    {%- for image in product.images limit: 3 -%}
      <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '1024x1024' }}">
    {%- endfor -%}
  {%- endcapture -%}

  {%- capture twitter_og_image -%}
    <meta name="twitter:image" content="https:{{ product.featured_image.src | img_url: '1024x1024' }}">
  {%- endcapture -%}
  
{%- elsif template.name == 'collection' -%}
  {%- assign og_title = collection.title | strip_html -%}
  {%- assign og_type = 'collection' -%}
  {%- assign collection_image = collection.image.src | img_url -%}
  {%- if collection_image contains 'no-image' -%}
    {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ settings.main_logo_socials | img_url: '1200x630' }}">{%- endcapture -%}
    {%- capture og_image_secure_url_tags -%}
      <meta property="og:image:secure_url" content="https:{{ settings.main_logo_socials | img_url: '1200x630' }}">
    {%- endcapture -%}
    {%- capture twitter_og_image -%}		
    <meta name="twitter:image" content="https:{{ settings.main_logo_socials | img_url: '1200x630' }}">		
    {%- endcapture -%}
  {%- else -%}
    {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ collection.image | img_url: '1200x630' }}">{%- endcapture -%}
    {%- capture og_image_secure_url_tags -%}
      <meta property="og:image:secure_url" content="https:{{ collection.image | img_url: '1200x630' }}">		
    {%- endcapture -%}
    {%- capture twitter_og_image -%}		
    <meta name="twitter:image" content="https:{{ collection.image | img_url: '1200x630' }}">		
    {%- endcapture -%}
  {%- endif -%}

{%- elsif template.name == 'article' -%}
  {%- assign og_title = article.title | strip_html -%}
  {%- assign og_type = 'article' -%}
  {%- assign og_description = article.excerpt_or_content | strip_html -%}
  {%- assign article_image = article.image.src | img_url -%}
  {%- if article_image contains "no-image" -%}
    {%- capture og_image_tags -%}
      <meta property="og:image" content="http:{{ settings.main_logo_socials | img_url: '1200x630' }}">
    {%- endcapture -%}
    {%- capture og_image_secure_url_tags -%}
      <meta property="og:image:secure_url" content="https:{{ settings.main_logo_socials | img_url: '1200x630' }}">
    {%- endcapture -%}
    {%- capture twitter_og_image -%}
      <meta name="twitter:image" content="https:{{ settings.main_logo_socials | img_url: '1200x630' }}">
    {%- endcapture -%}
  {%- else -%}
    {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ article.image | img_url: '1024x1024' }}">{%- endcapture -%}
    {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1024x1024' }}">{%- endcapture -%}
    {%- capture twitter_og_image -%}
      <meta name="twitter:image" content="https:{{ article.image | img_url: '1024x1024' }}">
    {%- endcapture -%}
  {%- endif -%}

{%- elsif template.name == 'password' -%}
  {%- assign og_title = shop.name -%}
  {%- assign og_url = shop.url -%}
  {%- assign og_description = shop.description | default: shop.name -%}
{%- endif -%}

{%- if og_image_tags == blank -%}
  {%- capture og_image_tags -%}<meta property="og:image" content="https:{{settings.main_logo_socials | img_url: '1200x630' }}">{%- endcapture -%}
{%- endif -%}
{%- if og_image_secure_url_tags == blank -%}
  {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{settings.main_logo_socials | img_url: '1200x630' }}">{%- endcapture -%}
{%- endif -%}
{%- if twitter_og_image == blank -%}
  {%- capture twitter_og_image -%}
    <meta name="twitter:image" content="https:{{settings.main_logo_socials | img_url: '1200x630' }}">
  {%- endcapture -%}
{%- endif -%}

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description }}">

{%- if template.name == null or template.name == 'index' or template.name == 'page' or template.name == 'blog' or template.name == 'login' or template.name == 'search' or template.name == 'cart' -%}
    <meta property="og:image:secure_url" content="https:{{ settings.main_logo_socials | img_url: '1200x630' }}">
{%- endif -%}

{%- if template.name == 'product' -%}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
  <meta property="og:price:currency" content="{{ shop.currency }}">
  <meta property="og:type" content="{{ product.type }}" />
{%- endif -%}
{{ og_image_tags }}
{{ og_image_secure_url_tags }}

<meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title }}">
<meta name="twitter:description" content="{{ og_description }}">

{%- if template.name == 'product' -%}
  <meta name="twitter:data1" content="{{ product.price | money | strip_html }}">
  <meta name="twitter:label1" content="Price">
  <meta name="twitter:data2" content="{{product.vendor}}">
  <meta name="twitter:label2" content="Brand">
  <meta name="twitter:type" content="{{ product.type }}" />
{%- endif -%}
{%- if twitter_og_image != blank -%}{{twitter_og_image}}{%- endif -%}
