<ul class="social-sharing list-inline mb-0">
    <li class="list-inline-item">
        <a href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" target="_blank" rel="noopener noreferrer"  title="Share on Facebook">
          <i class="icon ion-logo-facebook"></i>
        </a>
    </li>
    <li class="list-inline-item">
      <a href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" target="_blank" rel="noopener noreferrer"  title="Share on Twitter">
        <i class="icon ion-logo-twitter"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" target="_blank" rel="noopener noreferrer"  title="Share on Pinterest">
        <i class="icon ion-logo-pinterest"></i>
      </a>
    </li>
</ul>
