
{%- comment -%} Fetch all collections from current-collection's products for category filter {%- endcomment -%}
{%- assign category_title = "" -%}
{%- for product_all in collection.products -%}
  {%- for collection_all in product_all.collections -%}
    {%- assign category_title =  category_title | append: collection_all.handle | append: ', ' -%}
  {%- endfor -%}
{%- endfor -%}

{%- assign collection_image = collection.image.src | img_url -%}

{%- paginate collection.products by items_per_page -%}
 
<div class="collections-banner position-relative d-flex align-items-center"  style="background:{% if collection_image contains 'no-image-' %}black{% else %}url('{{ collection.image | img_url: 'master' }}'){% endif %} center no-repeat; background-size:cover;">
  <!-- <div class="collections-overlay"></div> -->
  <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="fancy-heading active text-white">
          {%- if collection_ajaxed -%}
            <!-- <h2 v-if="collection.title" class="page-title text-white font-weight-bold mb-0" v-text="collection.title"></h2> -->
            <!-- <h2 v-else class="page-title text-white font-weight-bold mb-0">{{ collection.title }}</h2> -->
            <h3 class="text-muted d-none" v-html="collection.description"></h3>
          {%- else -%}
            <!-- <h2 class="page-title text-white font-weight-bold">{{ collection.title }}</h2> -->
            <h3 class="text-muted d-none">{{ collection.description }}</h3>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section-content pt-0">

    <div class="border-bottom py-3">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">    
            <div class="row align-items-center">
                <div class="col-lg-2 col-12">
                    {%- include 'breadcrumb' -%}
                </div>
                {%- comment -%} <div class="col-lg-4 col-sm-6">
                  <div class="page_count">
                    {%- assign total_item = paginate.items -%} 
                    {%- unless total_item == 1 -%}
                    <template v-if="collection.totalItems > 0"><p class="page-total my-0 py-2">Items <span v-text="collection.startOffset"></span> to <span v-text="collection.endOffset"></span> of <span v-text="collection.totalItems"></span> total</p> </template>
                    {%- endunless -%}
                  </div>
                </div> {%- endcomment -%}

                <div class="col-lg-5 col-sm-9 col-12 mb-3 mb-sm-0 mb-md-0 mb-lg-0 font-weight-bold per-page-sort">
                  <span v-if="collection.totalItems > 20">
                    <span>Show </span>
                    <select class="form-control w-auto d-inline viewproduct" id="showItems" name="show-items" aria-label="Sort By" @change="_parseFilters($event)" data-filter-type="custom-pagination">
                      <option value="20">20</option>
                      <option value="32">32</option>
                    </select>
                    <span>per page</span>
                  </span>
                </div>
                
                <div class="col-lg-5 col-sm-9 col-12 d-flex justify-content-sm-end per-page-sort">
                    {%- include 'form-collection-sorting' -%} 
                </div>
            </div>
        </div>        
    </div>

    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        {%- if filters_enabled and filters_type == 'sidebar' -%}
          <a class="filter_btn d-flex d-lg-none" data-toggle="collapse" href="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse" data-filter_sidebar>
            <span class="filter_icon"><img src="{{ 'filter.svg' | asset_url }}" /></span>
          </a>
        {%- else -%}
          <div class="row my-3">
            <div class="col-6 col-sm-4 col-md-3 mx-auto">
              {%- include 'form-collection-sorting' -%}
            </div>
          </div>
        {%- endif -%}

          <div class="row clear">

            {%- if filters_enabled and filters_type == 'sidebar' -%}
              <div class="col-xl-2 col-lg-3" id="filtersCollapse">
                {%- include 'sidebar-collection-filters' -%}
              </div>
            {%- endif -%}

            <div class="col">
              <transition-group name="collection-tween" tag="div" class="row justify-content-center pt-3">
                {% comment %} {% unless collection.handle == 'mens-shoes' %}
                  <div v-for="(product, index, key) in collection.products" :key="product.id" class="col-12 col-sm-6 col-md-4 col-xl-3 {% unless filters_enabled and filters_type == 'sidebar' %} col-xl-3 {% endunless %} my-3 d-flex align-items-stretch justify-content-around per-page-sort">

                    {%- if promo_card_enabled -%}
                      <template v-if="index == parseFloat('{{ promo_card_index }}' - 1)">
                        {%- case promo_card_type -%}
                          {%- when 'type_1' -%}
                            {%- include 'card-promo-style-1' -%}
                        {%- endcase -%}
                      </template>
                      <template v-else>
                        {%- case product_card_type-%}
                          {%- when 'type_1' -%}
                            {%- include 'card-product-style-1' -%}
                          {%- when 'type_2' -%}
                            {%- include 'card-product-style-2' -%}
                          {%- when 'type_3' -%}
                            {%- include 'card-product-style-3' -%}
                        {%- endcase -%}
                      </template>
                    {%- else-%}
                      {%- case product_card_type -%}
                        {%- when 'type_1' -%}
                          {%- include 'card-product-style-1' -%}
                        {%- when 'type_2' -%}
                          {%- include 'card-product-style-2' -%}
                        {%- when 'type_3' -%}
                          {%- include 'card-product-style-3' -%}
                      {%- endcase -%}
                    {%- endif -%}
                  </div>
                {% endunless %} {% endcomment %}
              </transition-group>

              {%- if collection_ajaxed -%}
                <div v-if="!isLoading && collection.products.length == 0" class="row mt-5">
                  <div class="col-12 text-center">
                    {%- comment -%} <i class="icon ion-md-information-circle-outline display-4 text-gray-400"></i> {%- endcomment -%}
                    <img src="{{ 'no-found-img.svg' | asset_url }}" class="no-found-img" />
                    <h5>{{ 'collections.general.no_matches_within_filters' | t }}</h5>

                    {%- if filters_enabled -%}
                      <p>{{ 'collections.general.refine_search' | t }} <a href="#" @click.prevent="_clearAllFilters($event)" rel="nofollow" aria-label="{{ 'collections.general.reset_filters' | t }}" title="{{ 'collections.general.reset_filters' | t }}">{{ 'collections.general.reset_filters' | t }}</a></p>
                    {%- endif -%}
                  </div>
                </div>
              {%- else -%}
                {%- if collection.products.size == 0 -%}
                  <div class="row mt-5">
                    <div class="col-12 text-center mt-5">
                      <img src="{{ 'no-found-img.svg' | asset_url }}" class="no-found-img" />
                      <h5>{{ 'collections.general.no_matches_within_filters' | t }}</h5>

                      {%- if filters_enabled -%}
                        <p>{{ 'collections.general.refine_search' | t }} <a href="#" @click.prevent="_clearAllFilters($event)" rel="nofollow" aria-label="{{ 'collections.general.reset_filters' | t }}" title="{{ 'collections.general.reset_filters' | t }}">{{ 'collections.general.reset_filters' | t }}</a></p>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- endif -%}


              {%- if paginate.pages > 1 -%}
                <div class="row per-page-sort">
                    <div v-if="collection.totalItems > 20" class="col-12 {% if paginate.pages > 1 %}col-md-6 col-lg-6{% endif %} text-center text-lg-left mt-5">
                      <span>Show </span>
                      <select class="form-control w-auto d-inline viewproduct font-weight-bold" id="showItems" name="show-items" aria-label="Sort By" @change="_parseFilters($event)" data-filter-type="custom-pagination">
                        <option value="20">20</option>
                        <option value="32">32</option>
                      </select>
                      <span>per page</span>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 text-center text-lg-right mt-5">
                      {%- if collection_ajaxed -%}
                        {%- include 'pagination-collection-ajaxed' with 'collection' } -%}
                      {%- else -%}
                        {%- include 'pagination' with 'collection' -%}
                      {%- endif -%}
                    </div>
                </div>
              {%- endif -%}
            </div>
          </div>

    </div>
</section>

{%- endpaginate -%}
