{%- assign is_promo_in_cart = false -%}
{%- assign promoPrices = '' -%}

<div class="row">
  <div class="col-12">

    <form data-cart-form action="/cart" method="post">
      <div class="table-responsive">
        <table class="table table-cart">
          <thead class="bg-gray-300">
            <tr>
              <th class="cart-product-thumbnail">&nbsp;</th>
              <th class="cart-product-name text-uppercase small">{{ 'cart.label.product' | t }}</th>
              <th class="cart-product-price text-uppercase small">{{ 'cart.label.price' | t }}</th>
              <th class="cart-product-quantity text-center text-uppercase small" width="10%">{{ 'cart.label.quantity' | t }}</th>
              <th class="cart-product-subtotal text-uppercase small">{{ 'cart.label.total' | t }}</th>
              <th class="cart-product-remove">&nbsp;</th>
            </tr>
          </thead>

          <tbody class="bg-white">
            {%- for item in cart.items -%}
              {%- assign is_promo_product = false -%}
              {%- assign add_mode = 'manual' -%}
              {%- comment -%}ReCharge App{%- endcomment -%}
              {%- assign recurringchecked = "false" -%}

              {%- for property in item.properties -%}
                {%- if property.first == 'promo_product' and property.last == 'true' -%}
                  {%- assign is_promo_in_cart = true -%}
                  {%- assign is_promo_product = true -%}
                  {%- assign promoPrices = promoPrices | plus: item.line_price -%}
                {%- endif -%}

                {%- if property.first == 'add_mode' and property.last == 'auto' -%}
                  {%- assign add_mode = 'auto' -%}
                {%- endif -%}

                {%- comment -%}ReCharge App{%- endcomment -%}
                {%- if property.first == 'shipping_interval_frequency' -%}
                  {%- assign frequency = property.last -%}
                  {%- assign recurringchecked = "true" -%}
                {%- endif -%}
                {%- if property.first == 'shipping_interval_unit_type' -%}
                  {%- if frequency == '1'-%}
                    {%- if property.last == 'Days' -%}
                      {%- assign frequency_unit = 'Day' -%}
                    {%- elsif property.last == 'Months'-%}
                      {%- assign frequency_unit = 'Month' -%}
                    {%- elsif property.last == 'Weeks'-%}
                      {%- assign frequency_unit = 'Week' -%}
                    {%- endif -%}
                  {%- else -%}
                    {%- assign frequency_unit = property.last -%}
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}

              <tr data-cart-item
                  data-variant-id="{{ item.variant_id }}"
                  data-cart-limit="{{ item.properties['cart_limit'] }}">
                <td width="100" class="align-middle">
                  <a href="{{ item.url | within: collections.all }}">
                    {%- if is_promo_product -%}
                      <div class="ribbon position-absolute d-flex justify-content-start">
                        <div class="ribbon-left">
                          <span><i class="icon ion-md-star"></i></span>
                        </div>
                      </div>
                    {%- endif -%}

                    {%- if item.image != blank -%}
                      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="img-fluid item-img"/>
                    {%- else -%}
                      {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                    {%- endif -%}
                  </a>
                </td>

                <td class="align-middle">
                  <a href="{{ item.url }}">
                    {{ item.product.title }}
                  </a>

                  {%- unless item.variant.title contains 'Default' -%}
                    <ul class="list-unstyled">
                      {%- for option in item.product.options -%}
                        <li class="text-muted small text-capitalize">
                          {{ option }}: {{ item.variant.options[forloop.index0] }}
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endunless -%}

                  {%- comment -%}ReCharge frequency{%- endcomment -%}
                  {%- if recurringchecked == "true" -%}
                    <div class="small">
                      Recurring Delivery every {{frequency}} {{frequency_unit}}. Change or cancel anytime.
                    </div>
                  {%- endif -%}
                </td>

                <td class="align-middle">
                  {%- if is_promo_product -%}
                    <s class="text-muted m-0 p-0">{{ item.price | money }}</s>
                  {%- else -%}
                    {%- if item.product.compare_at_price > item.price -%}
                      <s class="text-muted m-0 p-0">{{ item.product.compare_at_price | money }}</s>
                    {%- endif -%}
                    <span class="m-0 p-0">{{ item.price | money }}</span>
                  {%- endif -%}
                </td>

                <td width="140" class="align-middle text-center">
                  {%- if is_promo_product -%}
                    <span>1</span>
                    <input type="hidden" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                  {%- else -%}
                    <div class="quantity-wrapper" data-qty-container>
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <a href="#" class="input-group-text" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateQty($event)">
                            <span class="btn-decrease"></span>
                          </a>
                        </div>
                        <input type="number" name="updates[]" id="updates_{{ item.key }}" aria-label="quantity" value="{{ item.quantity }}" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center" readonly>
                        <div class="input-group-append">
                          <a href="#" class="input-group-text" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateQty($event)">
                            <span class="btn-increase"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  {%- endif -%}
                </td>

                <td class="align-middle">
                  {%- if is_promo_product -%}
                    <s class="amount text-muted">{{ item.price | money }}</s>
                  {%- else -%}
                    <span class="amount">{{ item.line_price | money }}</span>
                  {%- endif -%}
                </td>

                <td width="50" class="align-middle text-right">
                  {%- unless is_promo_product and add_mode == 'auto' -%}
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}" name="{{ 'cart.general.remove' | t }}" aria-label="{{ 'cart.general.remove' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="top" class="text-danger lead"><i class="icon ion-md-remove-circle-outline"></i></a>
                  {%- endunless -%}
                </td>
              </tr>

            {%- endfor -%}
          </tbody>
        </table>

      </div>

      <div class="row">
        {%- if section.settings.show_back_btn -%}
        <div class="col-6">
          <a href="/collections/all" class="btn btn-info btn-sm"><i class="icon ion-md-arrow-back"></i> {{ 'cart.general.back_to_shop' | t }}</a>
        </div>
        {%- endif -%}
        <div class="col-6 ml-auto text-right">
          <button type="submit" name="update" class="btn btn-outline-primary btn-sm">
            <i class="icon ion-md-refresh"></i> {{ 'cart.general.update' | t }}
          </button>
        </div>
      </div>

      <div class="row mt-5">

        {%- if section.settings.enable_cart_notes -%}
          <div class="col-md-6 col-lg-4 ml-right text-left mb-4">
            <textarea name="note" class="form-control" rows="5" placeholder="{{ 'cart.general.note' | t }}">{{ cart.note }}</textarea>
          </div>
        {%- endif -%}

        {%- if section.settings.enable_delivery_date_selection -%}
          <div class="col-md-6 col-lg-4 ml-right text-left mb-5">
            <label>{{ 'cart.general.delivery_date' | t }}</label>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon ion-md-calendar"></i>
                </span>
              </div>
              <flat-pickr
                  value="{{ cart.attributes.date }}"
                  :config="datePickerConfig"
                  :required="false"
                  name="attributes[date]"
                  aria-label="delivery date"
                  class="form-control">
              </flat-pickr>
            </div>
            <p class="small font-italic">{{ 'cart.general.delivery_date_note' | t }}</p>
          </div>
        {%- endif -%}

        <div class="col-md-6 col-lg-4 ml-auto text-right">
          <hr>
          <div class="row no-gutters">
            <div class="col">
              <h4 class="text-uppercase my-0">{{ 'cart.general.total' | t }}:</h4>
            </div>
            <div class="col-4">
              <h4 class="my-0">{{ cart.total_price | minus: promoPrices | money }}</h4>
            </div>
          </div>

          <p class="small font-italic">{{ 'cart.general.shipping_at_checkout' | t}}</p>

          <button class="btn btn-primary btn-block"
            type="submit"
            name="checkout"
            {% if cart_has_subscription_item == 'true' %} onclick="event.preventDefault(); reChargeSaveCartNoteAndRedirect()"{% endif %}>
            {{ 'cart.general.checkout' | t }} <i class="icon ion-md-arrow-forward"></i>
          </button>

          {%- comment -%}span wrapper tag is needed by the ReCharce App{%- endcomment -%}
         
        </div>
      </div>

    </form>
  </div>
</div>
