<div class="row">
  <div class="col-12">

    <form data-cart-form action="/cart" method="post">
        <div class="row">   
            <div class="col-12 col-lg-9 pr-xl-7">

                <div class="border-bottom border-gray-900 py-3 mb-5">
                    <div class="row text-uppercase font-weight-semibold">
                        <div class="col-md-2 col-4">
                            <p class="mb-0 text-left font-weight-bold">Product</p>
                        </div> 
                        <div class="col-4 d-none d-md-block"></div> 
                        <div class="col-lg-2 col-1 d-none d-md-block">
                            <p class="mb-0 font-weight-bold">Price</p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-4">
                            <p class="mb-0 text-center text-md-left font-weight-bold">Quantity</p>
                        </div> 
                        <div class="col-md-2 col-4">
                            <p class="mb-0 text-right font-weight-bold">Total</p>
                        </div>
                    </div>
                </div>

                <div v-for="(item, index, key) in cart.items"
                    data-cart-item
                    :key="item.id"
                    :data-variant-id="item.variant_id"
                    :data-cart-limit="item.properties['cart_limit']"  class="row pb-4 mb-4 border-bottom-inside align-items-center cart-item">    

                    
                    <div class="col-md-2 col-3 mb-3 mb-md-0 d-flex">
                        <a :href="item.url">
                            <div v-if="item.properties['promo_product']" class="ribbon position-absolute d-flex justify-content-start">
                                <div class="ribbon-left">
                                    <span><i class="icon ion-md-star"></i></span>
                                </div>
                            </div>
                            <img v-if="item.image" :src="_getSizedImageUrl(item.image ,'medium')" :alt="item.product_title" class="img-fluid item-img"/>
                            <template v-else>
                            {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                            </template>
                        </a>
                    </div>
                    
                    <div class="col-md-4 col-9 mb-3 mb-md-0 d-flex flex-column mt-2">
                        <a :href="item.url" v-text="item.product_title"></a>

                        <ul v-if="item.product_options" class="list-unstyled">
                        <li v-for="option in item.product_options" v-if="option.value !== 'Default Title'">
                            <span class="text-capitalize font-size-sm text-gray-500">${ option.name }:</span>
                            <span class="text-capitalize font-size-sm text-gray-500">${ option.value }</span>
                        </li>
                        </ul>

                        {%- comment -%}ReCharge frequency{%- endcomment -%}
                        <div v-if="item.properties['subscription_id']">
                        <span class="small">
                            Recurring Delivery every ${ item.properties['shipping_interval_frequency'] } ${ item.properties['shipping_interval_unit_type'] }. Change or cancel anytime.
                        </span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-1 d-none d-md-block">
                        <s v-if="item.properties['promo_product']" class="text-muted m-0 p-0" v-text="_formatMoney(item.price)"></s>
                        <span v-else class="m-0 p-0" v-text="_formatMoney(item.price)"></span>
                    </div>

                    <div class="col-md-3 col-lg-3 offset-0 offset-sm-3 offset-md-0 d-flex col-7 cart_quantity align-items-center">
                        <template v-if="item.properties['promo_product']">
                        <span>1</span>
                        <input type="hidden" name="updates[]" :id="'updates_'+item.key" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                        </template>

                        <div v-else class="quantity-wrapper" data-qty-container>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <a href="#" class="input-group-text bg-white" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateCart(index+1, $event)">
                                    <span class="btn-decrease px-2"></span>
                                </a>
                                </div>
                                <input type="number" name="updates[]" :id="'updates_'+item.key" aria-label="quantity" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="bg-white quantity form-control text-center" readonly>
                                <div class="input-group-append">
                                <a href="#" class="input-group-text bg-white" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateCart(index+1, $event)">
                                    <span class="btn-increase px-2"></span>
                                </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a v-if="item.properties['add_mode'] != 'auto'" href="#" class="text-danger lead ml-3"
                                title="{{ 'cart.general.remove' | t }}"
                                name="{{ 'cart.general.remove' | t }}"
                                aria-label="{{ 'cart.general.remove' | t }}"
                                data-toggle="tooltip"
                                data-trigger="hover"
                                data-placement="top"
                                @click.prevent="_removeFromCart(index+1, $event)">
                                <i class="ion ion-md-close"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-3 col-lg-1 col-5 text-right font-weight-bold">
                        <s v-if="item.properties['promo_product']" class="text-muted" v-text="_formatMoney(item.price)"></s>
                        <span v-else class="amount" v-text="_formatMoney(item.line_price)"></span>
                    </div>

                </div>    

                {%- if section.settings.show_back_btn -%}
                    <div class="row">        
                        <div class="col-6">
                            <a href="/collections/all" class="btn btn-info btn-sm"><i class="icon ion-md-arrow-back"></i> {{ 'cart.general.back_to_shop' | t }}</a>
                        </div>        
                    </div>
                {%- endif -%} 

            </div> 

            <div class="col-md-6 col-12 ml-0 col-lg-3 mx-md-auto mx-lg-0 cart-sidebar">
                <div class="border border-gray-900 px-ex-lg-6 px-4 py-5 sticky-top">
                    <h4 class="mb-4 font-family-base font-weight-bold text-center">Order Summary</h4>
                    
                    <div class="row no-gutters">
                        <div class="col">
                        <h6 class="text-uppercase my-0 font-family-base">{{ 'cart.general.subtotal' | t }}:&nbsp;</h5>
                        </div>
                        <div class="col-4">
                        <h6 class="my-0 font-family-base"><span v-text="_formatMoney(cart.total_price)"></span></h5>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block my-3"
                        type="submit"
                        name="checkout"
                        {% if cart_has_subscription_item == 'true' %} onclick="event.preventDefault(); reChargeSaveCartNoteAndRedirect()"{% endif %}>
                        {{ 'cart.general.checkout' | t }}
                    </button>
                    
                    <p class="font-size-sm pt-3 text-center">{{ 'cart.general.shipping_date_note' | t}}</p>

                    <p class="font-size-sm mb-0 text-center">{{ 'cart.general.shipping_at_checkout' | t}}</p>

                    
                    {%- comment -%}span wrapper tag is needed by the ReCharce App{%- endcomment -%}
                    
                </div>
            </div>


            {%- if section.settings.enable_cart_notes -%}
                <div class="col-md-6 col-lg-4 ml-right text-left mb-4">
                    <textarea name="note" class="form-control" rows="5" placeholder="{{ 'cart.general.note' | t }}">{{ cart.note }}</textarea>
                </div>
                {%- endif -%}

                {%- if section.settings.enable_delivery_date_selection -%}
                <div class="col-md-6 col-lg-4 ml-right text-left mb-5">
                    <label>{{ 'cart.general.delivery_date' | t }}</label>
                    <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="icon ion-md-calendar"></i>
                        </span>
                    </div>
                    <flat-pickr
                        :value="cart.attributes.date"
                        :config="datePickerConfig"
                        :required="false"
                        name="attributes[date]"
                        aria-label="delivery date"
                        class="form-control">
                    </flat-pickr>
                    </div>
                    <p class="small font-italic">{{ 'cart.general.delivery_date_note' | t }}</p>
                </div>
            {%- endif -%}

        </div>
    </form>
  </div>
</div>
