<section class="template-product-classic vertical-thumbs">
    <div class="{% if fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="pt-3 pb-lg-8 pb-md-6 pb-5">
          {%- include 'breadcrumb' -%}
        </div>
        <div class="row mb-3">
            <div class="col-xl-8 col-lg-7">
                <div class="row">

                    {%- if featured_image != blank -%}
                      <div class="col-12 col-md-10 order-md-2">
                        <div class="carousel carousel-main slider product-main-slider col-12 p-0 mb-4 pb-md-3" data-carousel-main>
                       {%- for image in product.images -%}
                            <div class="carousel-cell w-100" data-variant-title="{{ image.alt | escape }}">
                               
                              <v-zoom img="{{ image.src | img_url: '1920x' }}" width="100%" class="img-fluid d-none d-md-block"></v-zoom>
                              
                              <img class="img-fluid d-block d-md-none"
                                data-flickity-lazyload-src="{{ image.src | img_url: 'pico' }}"
                                data-flickity-lazyload-srcset="
                                {{ image.src | img_url: 'large' }} 576w,
                                {{ image.src | img_url: '1280x' }} 768w,
                                {{ image.src | img_url: '1440x' }} 992w,
                                {{ image.src | img_url: '1920x' }} 1200w
                                "
                                sizes="(min-width: 1024px) 720px, 360px"
                                alt="{{ image.alt | escape }}"/>
                            </div>
                        {%- endfor -%}

                    </div>
                      </div>

                    {%- else -%}
                      <div class="col-12 order-md-2">
                        {{ 'image' | append: current | placeholder_svg_tag: 'img-fluid' }}
                      </div>
                    {%- endif -%}

                    {%- if product.images.size > 1 -%}
                      <div class="col-md-2 order-md-1">
                        <div class="carousel-nav" role="tree">
                          {%- for image in product.images -%}
                            <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="carousel-cell" role="treeitem">
                          {%- endfor -%}
                        </div>
                      </div>
                    {%- endif -%}

                </div>
            </div>

            <div class="col-xl-4 col-lg-5">
                <div class="product-details-wrapper mt-4 mt-lg-0">                    
                    {%- if show_vendor -%}
                        <div class="vendor_name">
                            <span class="font-weight-bold text-uppercase text-black mb-2" id="prod_ven_title"><a href="/collections/{{ product.vendor | handleize }}">{{ product.vendor }}</a></span>
                            {%- capture all_vendor -%}{{ product.vendor | downcase | append: '.png' | replace: ' ', '' | replace: "'", "" | replace: "`", "" | replace: "-", ""  | file_url }}{%- endcapture -%}
                            <a href="/collections/{{ product.vendor | handleize }}"><img class="mb-4 brnd-img" src="{{ all_vendor }}" id="prod_vend" alt="{{ product.vendor }}" onerror="this.style.display = 'none'" /></a>
                        </div>
                    {%- endif -%}
                  <h2 class="font-family-base text-gray-800 text-capitalize mb-3">{{ product.title }}</h2>
                  <div class="align-items-center">                              
                    <a v-if="totalReviews > 0"  href="#" @click.prevent="_scrollToReviews" class="float-right">
                      <span v-text="totalReviews"></span> Review<span v-if="totalReviews > 1">s</span>
                      <span v-html="_getAvgRating()"></span>
                    </a>
                  </div>   
                  {%- assign vendor_list = section.settings.vendors_list | newline_to_br | split:'<br />' -%}
                 
                  {% assign show_deal = false %}
                  {% for vendor in vendor_list %}
                  	{% if vendor contains product.vendor or vendor == "All" %}
                  		{% assign show_deal = true %}
                   		{% break %}
                  {% endif %}
                  {% endfor %}
                 
                   {% if show_deal == true %}               
                 
                    {%- if enable_ruze_deal -%}
                      <div class="ruzedeal-wrapper" >
                          <a data-toggle="collapse" href="#ruze_deal_msg" aria-expanded="true" aria-controls="ruze_deal_msg" class="text-danger h5 font-family-base d-block collapsed " style="font-size: {{ section.settings.ruze_deal_title_size}}rem !important; color: {{ section.settings.ruze_deal_title_color }} !important">{{ ruze_deal_title }} </a>
                          <p id="ruze_deal_msg" class="collapse" style="font-size: {{ section.settings.ruze_deal_message_size}}rem !important; color: {{ section.settings.ruze_deal_message_color }} !important">{{ ruze_deal_message }}</p>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                  <div class="price-wrapper mt-4 border-bottom pb-3">
                    <span class="h5 font-family-base" >RUZE PRICE:</span> <span class="h5 actual-price font-family-base" v-html="_formatMoney(currentVariant.price)"></span>
                    <p v-if="currentVariant.compare_at_price > currentVariant.price" class="mb-0 text-black font-size-sm mt-2">MSRP: <s class="text-gray-600 mr-2" v-html="_formatMoney(currentVariant.compare_at_price)"></s></p>

                    {%- if product.compare_at_price_max > product.price -%}
                      <p class="mb-0 text-black font-size-sm mt-3">Discount: {{ product.compare_at_price_min | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_min | money_without_currency | times: 100 | replace: '.0', ''}} %</p>
                    {%- endif -%}

                  </div>
                  
                  {% if template.suffix == "template-size-swatch" %}
                  {%- include 'form-product-alternate' -%}
                  {% else %}
                  {%- include 'form-product' -%}
                  {% endif %}
 
                {%- if product.description -%}
                    <div id="description_accordion" role="tablist">
                        <div class="card shadow-none border-0">
                            <div class="card-header bg-transparent p-0 border-bottom-0" role="tab" id="descriptionOne">
                                <h6 class="mb-0 font-family-base">
                                    <a data-toggle="collapse" href="#description" aria-expanded="true" aria-controls="description" class="border-top d-block py-3 collapsed text-uppercase">{{ 'products.product.description' | t }}</a>
                                </h6>
                            </div>

                            <div id="description" class="collapse show" role="tabpanel" aria-labelledby="descriptionOne">
                                <div class="card-body px-0 border-bottom">
                                    <div class="rte">
                                        {{ product.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {%- endif -%} 

                  {%- if section.settings.show_social_share -%}
                  <div class="mt-4 mb-2 d-flex align-items-center">
                    <h6 class="mr-3 font-family-base text-uppercase font-weight-bold mb-0">{{ 'general.social.share' | t }} : </h6>
                    {%- include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product -%}
                  </div>
                  {%- endif -%}
                </div>

            </div>
        </div>
    </div>
</section>
