{%- assign images_length = product.images.size -%}

<div class="template-product-modern">

  <section class="pt-3">
    <div class="container-fluid">
        <div class="row row-full-width">
            <div class="col-12">

                <div class="product-images-wrapper">
                  {%- if featured_image != blank -%}
                      <div class="carousel carousel-main" role="tree"
                          data-carousel-main
                          data-flickity='{
                           "adaptiveHeight": true,
                           "cellAlign": "center",
                           "contain": false,
                           "wrapAround": false,
                           "freeScroll": false,
                           "accessibility": true,
                           "setGallerySize": true,
                           "prevNextButtons": true,
                           "pageDots": true,
                           "lazyLoad": 2,
                           "fullscreen": true,
                           "dragThreshold": 20,
                           "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
                         }'>

                        {%- for image in product.images -%}
                          <div class="carousel-cell {% if product.images.size ==  1 %}col-12 px-4{% else %}col-12{% endif %} col-sm-6 col-md-6 col-lg-4 mx-2" role="treeitem" data-variant-title="{{ image.alt | escape }}">
                            <img class="img-fluid"
                              data-flickity-lazyload-src="{{ image.src | img_url: 'large' }}"
                              data-flickity-lazyload-srcset="
                                {{ image.src | img_url: 'large' }} 576w,
                                {{ image.src | img_url: '1280x' }} 768w,
                                {{ image.src | img_url: '1440x' }} 992w,
                                {{ image.src | img_url: '1920x' }} 1200w
                                "
                              alt="{{ image.alt | escape }}" />
                          </div>
                        {%- endfor -%}
                      </div>
                  {%- else -%}
                    <div class="col-3 mx-auto">
                      {{ 'image' | append: current | placeholder_svg_tag: 'img-fluid' }}
                    </div>
                  {%- endif -%}
                </div><!-- end product-images-wrapper -->

            </div>
        </div>
    </div>
  </section>

  <section class="section-content">
    <div class="{% if fluid_layout %}container-fluid{% else %}container{% endif %}">

      <div class="row">
          <div class="col-12">
              <div class="product-details-wrapper text-center">
                <h1>{{ product.title }}</h1>

                {%- if show_vendor -%}
                  <p class="my-0">{{ product.vendor }}</p>
                {%- endif -%}

                <div v-if="totalReviews > 0" class="mb-3">
                  <a href="#" @click.prevent="_scrollToReviews">
                    <span v-text="totalReviews"></span> Review<span v-if="totalReviews > 1">s</span>
                    <span v-html="_getAvgRating()"></span>
                  </a>
                </div>

                <div class="price-wrapper">
                  <s v-if="currentVariant.compare_at_price > currentVariant.price" class="h6 text-gray-600 mr-2" v-html="_formatMoney(currentVariant.compare_at_price)"></s>
                  <span class="h5 actual-price" v-html="_formatMoney(currentVariant.price)"></span>
                </div>

                <div class="row">
                  <div class="col-sm-7 col-md-6 col-lg-5 text-left ml-auto mr-auto">
                    {%- include 'form-product' -%}
                  </div>
                </div>

                {%- if section.settings.show_social_share -%}
                <div class="row">
                  <div class="col-12 text-center">
                    <h6 class="mt-5 mb-2">{{ 'general.social.share' | t }}</h6>
                    {%- include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product -%}
                  </div>
                </div>
                {%- endif -%}

              </div><!-- end product-details-wrapper -->
          </div>

      </div>
    </div>
  </section>

</div>
