/* -----------------------------------------------------------------------------------

    Custom Theme Design

    When making your own theme it is important to consider modifying the variables.scss
    file in order to change fonts, sizes & colors. By doing that you will reduce the need
    of writing extra css styles.

    However sometimes you will need extra styles in order to further modify Bootstrap's
    elements and look & feel in general so as to match your theme design.

    You should place all these extra styles here.

----------------------------------------------------------------------------------- */


html {
  background-color: $white;  
  font-size: 14px;
  @include media-breakpoint-down(sm) {
    font-size: 13px;
  }
}

body {
  letter-spacing: 0.05em;
  background-color: $white;
}

/* --------------------------------------------------------------------------------- */

/*  Typography
/*--------------------------------------------------------------------------------- */
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.page-title {
  margin-bottom: 1.6rem;
}

h1, h2, h3{
  text-transform: uppercase;
}

// Font Family
.font-family-base {font-family: $font-family-base;}
.font-family-heading {font-family: $font-family-heading;}

// Font Size
.font-size-sm {font-size: $font-size-sm !important;}
.font-size-base {font-size: $font-size-base !important;}
.font-size-lg {font-size: $font-size-lg !important;}
.font-size-ex-lg {font-size: $font-size-ex-lg !important;}

// line-height
.line-height-lg {line-height: $line-height-lg !important;}
.line-height-base {line-height: 22px !important;}
.line-height-sm {line-height: $line-height-sm !important;}

.rte{
    h1, h2, h3, h4, h5, h6{
        margin-bottom:1em; 
        margin-top:1.5em; 
    }
    p{
        margin-bottom:1.5em; 
    }
    ul{
        li{
            margin-bottom: 0.25rem;
        }        
    }
}


/* --------------------------------------------------------------------------------- */

/*  Layout
/*--------------------------------------------------------------------------------- */
.section-content {
  padding: $spacer*5 0;

  @include media-breakpoint-down(md) {
    padding: $spacer*3 0;
  }
}

/* --------------------------------------------------------------------------------- */

/*  Components
/*--------------------------------------------------------------------------------- */

/* Button */
.btn {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.btn:not(.btn-sm){
    padding-top: calc(0.965rem + 0.1rem);
    padding-bottom: calc(0.965rem - 0.1rem);
}

/* Card */
.card {
  box-shadow: $box-shadow-sm;

  &.card-product-style-2 {
    .color-swatch {
      label {
        border-radius: 100%;
        margin: 0.1rem;
      }

      input {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.card-product-style-3 {
    .list-inline {
      margin: 0;
      padding: 0;

      .list-inline-item {
        margin-right: 0.2rem;
      }
    }

    .color-swatch {
      label {
        position: relative;
        top: 0.2rem;
        border-radius: 100%;
      }

      input {
        width: 24px;
        height: 24px;
      }
    }
  }
}

/*  Pagination */
.pagination {
  font-weight: bold;

  a,
  span span {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-800;
    font-size: 0.8rem;

    &:hover {
      color: $primary;
    }
  }

  .active {
    color: $primary;
  }

  .sep {
    margin: 0 10px;
  }
}

.collection-item{
    .collection-title{
        position: relative;
        a{
            text-decoration: none;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 0px;
            height: 4px;
            background: $primary;
            left: 0;
            right: 0;
            bottom: -10px;
            margin: 0 auto;
            transition: $transition-base;
        }
    }
    &:hover{
        .collection-title{
            &:after{
                width: 60px;
            }
        }
    }
}

.colletion_banner_img{
  padding-top: 120%;
  position: relative;
  img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.brand-item{
  @include media-breakpoint-down(sm) {
    border: 0 !important;
  }
    .brand-img{
        padding-top: 100%;
        position: relative;
        @include media-breakpoint-down(sm) {
          padding-top: 80%;
        }
        a{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            img{
                max-width: 65%;
                margin: 0 auto;
                max-height: 100%;                
                @include media-breakpoint-down(sm) {
                    max-width: 85%;
                }
            }
        }
    }
    .more_brand{
        width: 20px;
        height: 20px;
        position: relative;
        &:after,
        &:before{
            content: '';
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 2px;
            background: $black;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:before{
            height: 100%;
            width: 2px;
        }
    }
}

.bg-color-brand{
    @include media-breakpoint-down(sm) {
        background: $gray-100;
    }
}

.banner_section{
    min-height: 600px;
    height: 65vh;
    @include media-breakpoint-down(xl) {
      min-height: 530px;
    }
    @include media-breakpoint-down(lg) {
      min-height: 470px;
      height: 60vh;
    }
    @include media-breakpoint-down(md) {
        min-height: 400px;
        height: 40vh;
    }
}

.form-control{
  background-clip: unset;
}

.min-height{
  min-height: 100%;
}
.flickity-viewport{
  width: 100%;
}

.currency-header{
    select{
        background-color: transparent;
        color: $white;        
        border: none;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.83 16.42l9.17 9.17 9.17-9.17 2.83 2.83-12 12-12-12z' fill='%23fff'/%3E%3Cpath d='M0-.75h48v48h-48z' fill='none'/%3E%3C/svg%3E");
        &:focus{
            background-color: transparent !important;
            color: $white;
        }
    }
}

.collection-filters {
    .card-header{
        position: relative;
        cursor: pointer;
        &:after{
            content: "\f3d0";
            font-family: Ionicons;
            font-size: 1.4rem;
            display: block;
            width: 1.4rem;
            text-align: center;
            height: 1.4rem;
            top: 50%;
            right: 0;
            font-weight: 400;
            transform: translateY(-50%);
            color: $black;
            line-height: 1;
            position: absolute;
        }  
        &.collapsed{
            &:after{
                content: "\F3D8";
            }
        }      
    }
    .accordion{
        .card{
            border: 0;
            border-bottom: 1px solid $border-color !important;
        }
    }
}

.breadcrumb{
    a, span{
        text-transform: uppercase;
        font-size: $font-size-sm;
    }
    a{
        color: $gray-600;
    }
    span{
        color: $gray-800;
    }
}

.collections-banner{
    min-height: 200px;
    .collections-overlay{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(51,51,51,0.58);
    }
    .container{
        position: relative;
        z-index: 1;
    }
}
.quickshop{
    .ion-md-eye{
        font-size: 22px;
        line-height: 1;
    }
}

.card-product{
    box-shadow: none;
    transition: 0.25s ease-in-out; 
    box-shadow: none;
    .card-img{
        padding-top: 100%;
        position: relative;
        a{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;            
            align-items: center;
        }
    }
    .product-btn{
        @include media-breakpoint-up(lg) {
            form{
                > a{
                    opacity: 0;
                    transition: 0.25s ease-in-out; 
                }
            }
        }
    }    
    &:hover{
        box-shadow: $box-shadow-sm;
        .product-btn{
            form{
                > a{
                    opacity: 1;
                }
            }
        }    
    }
    .wishlist-icon{
        top: 5px;
        right: 5px;
        padding: 0 5px;
    }
}

.close{
    opacity: 1 !important;
}

#description_accordion{
    h6{
        a{
            &:before{
                content: "\f3d8";
                font-family: "Ionicons";
                margin-right: 10px;
            }     
            &.collapsed{
                border-bottom: 1px solid $border-color;
                &:before{
                    content: "\F3D0";
                }   
            }       
        }
    }
    .short_description{
        display: none;
    }
    table{
        margin: 0;
        tr{
            color: $gray-800;
            td{
                padding: 5px 10px;
            }
            td:first-child{
                font-weight: $font-weight-bold;
                border-right: 1px solid #bebebe;
            }
            &:nth-child(2n) {
                background-color: #f5f5f5;
            }
        }
    }
}

.quantity-wrapper{
    .input-group-text{
        span{
            position: relative;
            &:after,
            &:before{
                content:'';
                display: block;
                width: 9px;
                height: 1px;
                background: $black;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:after{
                width: 1px;
                height: 9px;
            }
            &.btn-decrease{
                &:after{
                    display: none;
                }
            }
        }
    }
}

.border-bottom-inside{
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;
        background-color: $border-color;
        height: 1px;
    }
}

.panel-title{
    position: relative;
    padding-right: 30px;
    @include media-breakpoint-down(sm) {
        padding-right: 22px;
    }
    .more-less{
        position: absolute;
        top:0;
        right: 0;
        width: 18px;
        height: 18px;
        @include media-breakpoint-down(sm) {
            width: 14px;
            height: 14px;
            top: 5px;
        }
        &:after,
        &:before{
            content:'';
            display: block;
            width: 100%;
            height: 2px;
            background: $black;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:before{
            height: 100%;
            width: 2px;
            opacity: 0;
        }    
    }
    &.collapsed{
        .more-less{
            &:after,
            &:before{
                opacity: 1;
            }
        }
    }
}

.returns-policy{
    a{
        text-decoration: underline;
    }
}

.pagemin_height{
    min-height: calc(100vh - 462px);
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md){
        min-height: calc(100vh - 451px);
    }
    @include media-breakpoint-down(sm){
        min-height: calc(100vh - 542px);
    }
}
.mn-height{
    min-height: 100%;
}


@include media-breakpoint-down(md){
    #filtersCollapse{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1090;
        display: block;
        height: auto !important;
        background: $white;
        transform: translateX(-100%);
        max-width: 300px;
        transition: ease-in-out 0.25s;
        &.show{
            transform: translateX(0%);
            display: flex !important;
        }
        .accordion{        
            overflow: auto;
            max-height: calc(100% - 96px);
            height: 100%;
            width: 100%;
        }
        .collection-filters {
            position: static;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .collection-filters_header{
            width: 100%;
        }
    }
}

.collection-filters {
    .accordion{
        .card{
            .card-body{
                > ul{
                    max-height: 270px;
                    overflow: auto;
                    &::-webkit-scrollbar-track{
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar{
                        width: 5px;
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: #000000;
                    }
                    li {
                        .custom-control-label {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.index-collectiion-list{
    .flickity-prev-next-button{
        &:disabled{    
            @include media-breakpoint-up(md){
                display: none;  
            }
        }
        &.next {
            right: 0px;
        }
        &.previous {
            left: 0px;
        }
    }
}

.filter_btn{
    width:60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: $box-shadow;
    background: $white;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 1020;
    right: 20px;
    top: 75%;
    cursor: pointer;
    float: right;    
}
.clear{
    clear: both;
}
.filter_close{
    font-size: 26px;
}


.form-group{
    .form-control.no-padding-control{
        padding:0;
        border:0; 
    }
}
.form-control{
    letter-spacing: 0.05em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;    
}
.arrow_size{
    font-size: 1.4rem !important;
}
.template-search {
    .form-control {
        font-size: 1.2rem;
    }
}

#prod_ven_title{
    display: none;
}

.vendor_name{
    .brnd-img{
        max-width: 110px;
    }
}

#description_accordion{
    table{
        margin-top:10px;
    }
    td,th{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; 
    }
}

.address-form{
    @include media-breakpoint-down(sm){
        .form-group{
            flex-wrap: wrap;
            .form-control{
                width: 100% !important;
                + .form-control{
                    margin: 15px 0 0;
                }
            }
        }
    }
}

select::-ms-expand {
    display: none;
}

.index-featured-collectiion{
    .carousel{
        &.hide-nav-ui{
            .flickity-prev-next-button{
                display: block;
            }
        }
    }
}

.active_filter::after {
    content: '+';
    padding-left: 7px;
    padding-right: 7px;
}
.active_filter:last-child::after {
    content: '';
}


.no-found-img{
    max-width: 80px;
    margin-bottom: 10px;
    opacity: 0.4;
}
.cart-sidebar{
    .sticky-top{
        top:30px;
    }
}
.ruze-logo{
    img{
        max-width: 90px;
        margin: 0 auto 20px;
    }
}

.custom-control {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.7rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  
    &.for-checkbox {
  
      input[type=radio],
      input[type=checkbox] {
        &:checked {
          +.custom-control-indicator {
            +.custom-control-description {
              color: $gray-900 !important;
            }
          }
        }
      }
    }
  
    .custom-control-indicator {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #ddd;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 50% 50%;
      margin: auto;
      bottom: 0;
      border-color: #d0d0d0 !important;
      background: transparent;
      border: 1px solid;
    }
  
    input[type=radio],
    input[type=checkbox] {
      opacity: 0;
      position: absolute;
  
      &:checked {
        +.custom-control-indicator {
          background-image: url("https://cdn.shopify.com/s/files/1/1403/1303/files/right-checkbox.png?46692");
          background-repeat: no-repeat;
          background-size: auto 9px;
          background-position: 50%;
          background-color: $primary;
          border-color: $primary !important;
          color: #fff;
        }
      }
    }
  }
  

.modal-quickshop, .modal-wishlist{
    .modal-dialog .modal-content{
        @include media-breakpoint-down(sm){
            max-height: calc(100vh - 60px);
            overflow: auto;
        }
    }
}

.custom-checkbox{
  input[type=radio]{
    & ~ label{
      &:before{
        background-color: transparent !important;
      }
      &:after{
        opacity: 0;
      }
    }
    &:checked{
      & ~ label{
        &:before{
          background-color: $black !important;
        }
        &:after{
          opacity: 1;
        }
      }
    }
  }
}

.for-faqs{
    .panel-heading{
        cursor: pointer;
    }
}
.account-sidebar{
    top:25px;
}
.quickShop_btn{
    white-space: nowrap;
}
.colletion_banner_img{
    overflow: hidden;
}
.zoom.img-fluid:after{
    display: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .header-slider .carousel-desktop .carousel-cell img, 
    .header-slider .carousel-desktop .carousel-cell svg,
    .colletion_banner_img img{
        width: auto !important;
        min-width: 100%;
    }
    .collections-banner{
        height: 200px;
    }
    .form-inline .form-control{
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxNS40IDkuMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTUuNCA5LjE7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiM3MDcwNzA7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQ0KPC9zdHlsZT4NCjxwb2x5bGluZSBjbGFzcz0ic3QwIiBwb2ludHM9IjE0LjcsMC43IDcuNyw3LjcgMC43LDAuNyAiLz4NCjwvc3ZnPg0K");
        background-size: 30px;
    }    
    .viewproduct{
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxNS40IDkuMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTUuNCA5LjE7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiM3MDcwNzA7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQ0KPC9zdHlsZT4NCjxwb2x5bGluZSBjbGFzcz0ic3QwIiBwb2ludHM9IjE0LjcsMC43IDcuNyw3LjcgMC43LDAuNyAiLz4NCjwvc3ZnPg0K");
    }
} 

.sa_rounded .sa_review {
    border-radius: 0 !important;
}
.open_filter {
    width: 100%;
    height: 100%;
    position: fixed;
}

#filtersCollapse.nextFilter {
    .accordion {
      max-height: calc(100% - 140px);
    }
}
@include media-breakpoint-down(sm){
    [data-customercheck]{
        width: 100% !important;
    }
    .ResetElements__Div-sc-8e6zl9-0{
        display: block !important;
        input{
            display: inline-block;
            width: 100% !important;
        }
        &.DropdownComponents__DropdownField-sc-1ahum51-2 {
            input{
                height: 100% !important;
            } 
        }
        svg{
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


/*New Collection Page*/
.brand-menu {
    & > li {
        position: relative;
        & > a {
            padding: 17px 0 !important;
            span i {
                line-height: 10px !important;
            }
        }
        &:hover > ul {
            opacity: 1;
            visibility: visible;
        }
    }
    .dropdown-menu {
        position: absolute;
        right: 0;
        top: 100%;
        padding: 5px 0;
        margin: 0;
        min-width: 250px;
        left: inherit;
        a:hover{
            background-color: #f7f7f7 !important;
        }
    }
}
 
 
.main-vertical-slider{ 
    .slick-slide{
        border: none; 
        position: relative; 
        /*padding-bottom: 48%;*/ 
        .slide_info {
            padding: 90px 0;
            @include media-breakpoint-down(lg){
                padding: 50px 0;
            }
            @include media-breakpoint-down(sm){
                padding: 20px 0;
            }
            /*
            top: 50%;
            transform: translateY(-50%);
            left: 9%;
            @include media-breakpoint-down(lg){
                bottom: inherit;
                top: 50%;
                transform: translateY(-50%);
            }
            */
            h2 { 
                font-size: 120px;
                max-width: 85%;
                /*font-style: italic;*/
                /*letter-spacing: 1px;*/
                margin-bottom: 50px;
                position: absolute;
                left: 0;
                top: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                @include media-breakpoint-down(xl){
                    font-size: 75px !important;
                    max-width: 80%;
                    margin-bottom: 10px;
                }
                /*@include media-breakpoint-down(lg){
                    font-size: 75px !important;
                }*/
                @include media-breakpoint-down(sm){
                    margin: 0;
                    line-height: 30px;
                } 
            }
            img{
                position: relative;
                z-index: 1;
                max-width: 680px;
                @include media-breakpoint-down(lg){
                    max-width: 550px;
                }
                @include media-breakpoint-down(sm){
                    max-width: 250px;
                }
            }
            .btn-rebok{
                @include media-breakpoint-down(sm){
                    padding: 5px 10px !important;
                }
            }
        }
    }
    .slick-dots {
        bottom: inherit;
        top: 50%;
        right: 12%;
        left: inherit;
        transform: translateY(-50%); 
        li {
            display: block;
            margin: 10px 0;
            width: 12px; 
            margin-left: auto !important;
            @include media-breakpoint-down(lg){
                margin: 0;
            }
            button {
                width: 10px;
                height: 10px;
                &:before {
                    width: 10px;
                    height: 10px;
                    content: " ";
                    border-radius: 100%;
                    background-color: #fff;
                }
            }
            &.slick-active button:before {
                opacity: 1;
            }
        }
    }
    .slick-prev {
        top: 30% !important;
        @include media-breakpoint-down(lg){
            top: 25px !important;
        }
    }
    .slick-next {
        top: inherit !important;
        bottom: 30%;
        @include media-breakpoint-down(lg){
            bottom: 25px;
        }

    }
    .slick-prev, 
    .slick-next {
        right: 11.5%;
        top: 50%;
        transform: translateY(-50%);
        left: inherit;
        z-index: 1;
        width: 30px;
        height: 30px;
    }
    .slick-prev:before {
        content: "\f3d8";
    }
    .slick-next:before {
        content: "\f3d0";
    }
    .slick-next:before,
    .slick-prev:before{
        display: inline-block;
        font-family: "Ionicons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        font-size: 42px;
        opacity: 1;
    }  
}

.mobile-version{ 
    .slick-slide{
        padding-bottom: 0 !important;
    }
}

@font-face {
    font-family: "CeraGR-Regular"; 
    src: url("https://cdn.shopify.com/s/files/1/0025/4823/6334/files/CeraGR.eot?v=1588678571"); 
    src: url("https://cdn.shopify.com/s/files/1/0025/4823/6334/files/CeraGR.eot?v=1588678571?#iefix") format("embedded-opentype"), 
    url("https://cdn.shopify.com/s/files/1/0025/4823/6334/files/CeraGR.woff2?v=1588678571") format("woff2"), 
    url("https://cdn.shopify.com/s/files/1/0025/4823/6334/files/CeraGR.woff?v=1588678571") format("woff"), 
    url("https://cdn.shopify.com/s/files/1/0025/4823/6334/files/CeraGR.ttf?v=1588678571") format("truetype"), 
    url("https://cdn.shopify.com/s/files/1/0025/4823/6334/files/CeraGR.svg?v=1588678572") format("svg"); 
}

@font-face {
    font-family: 'CeraGR';
    src: url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/CeraGR-BoldItalic.eot?v=1589527679');
    src: url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/CeraGR-BoldItalic.eot?v=1589527679') format('embedded-opentype'),
        url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/CeraGR-BoldItalic.woff2?v=1589527678') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/CeraGR-BoldItalic.woff?v=1589527678') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/CeraGR-BoldItalic.ttf?v=1589527679') format('truetype');
    font-weight: bold;
    font-style: italic;
}


/*
@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/HelveticaNeue-BoldOutline.eot?v=1588943707');
    src: url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/HelveticaNeue-BoldOutline.eot?v=1588943707?#iefix') format('embedded-opentype'),
        url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/HelveticaNeue-BoldOutline.woff2?v=1588943707') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/HelveticaNeue-BoldOutline.woff?v=1588943707') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/HelveticaNeue-BoldOutline.ttf?v=1588943707') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/HelveticaNeue-Bold.eot?v=1588944084');
    src: url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/HelveticaNeue-Bold.woff2?v=1588944084') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/HelveticaNeue-Bold.woff?v=1588944083') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0025/4823/6334/files/HelveticaNeue-Bold.ttf?v=1588944083') format('truetype');
    font-weight: bold;
    font-style: normal;
}
*/

.font-family-cera{
    font-family: "CeraGR-Regular" !important; 
}
.font-family-lato{
    font-family: 'Lato', sans-serif !important;
}
.font-cera-title{
    font-size: 24px;
}

.nano-9-section{
    background-color: #FF775A; 
    .nano_image {
        position: relative;
        top: -30px;
        @include media-breakpoint-up(lg){
            padding-left: 150px;
        }
        .nano_9_title{
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-size: 56px;
            letter-spacing: 13px;
            position: relative;
            right: -13px;
            top: -4px;
            span {
                top: 20px;
            }
        }
        .nano_img_wrap {
            padding-bottom: 118%;
            img {
                left: 0;
                top: 0;
            }
        }
    }
    .nano_product {
        .nano_product_image {
            position: relative;
            left: -90px;
            @include media-breakpoint-down(lg){
                left: 0;
            }
            a {
                max-width: 100%;
                padding-bottom: 61%;
                @include media-breakpoint-up(lg){
                 max-width: 550px;
                }
                img {
                    left: 0;
                    top: 0;
                    object-position: center right;
                }
            }
        }
        .nano_product_title {
            max-width: 380px;
        }
    }
} 
.font-cera-desc {
    line-height: 17px;
}
a.font-cera-desc:hover {
    color: #f5f5f5 !important;
}
.btn-rebok {
    color: #FF775A;
    font-size: 16px;
    font-weight: 400;
    padding: 0.965rem 2.223rem;
}
.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.opacity-5 {
    opacity: 0.5;
}

@include media-breakpoint-up(sm){
    .col-lg-5.col-sm-6.col-12.mb-3.mb-sm-0.mb-md-0.mb-lg-0.font-weight-bold.nxt-address {
        max-width: 60%;
    }
}


.slide_info.text-right {
    left: 0 !important;
    right: 0;
    max-width: 95%;
    h2 {
        margin-right: auto;
    }
    .btn-wrap {
        max-width: 85%;
        @include media-breakpoint-down(lg){
            max-width: 80%;
        }
    }
}

#shopify-section-template-collection-reebok .nxt-toolbar.nxt-address {
    display: none;
}

 

/*Slider Text*/
.slide_info{
    .stroke {
        margin: 0;
        font-family: "CeraGR" !important; 
        text-transform: uppercase;
        margin-bottom: 30px;
        @include media-breakpoint-down(sm){
            margin-bottom: 10px;    
        }
      }
      .stroke-0 svg text{
          stroke-width: 0;
          fill: #ffffff;
      }
    
      text {
          fill: transparent;
          stroke: #ffffff;
          stroke-width: 2;
      }
}
.per-page-sort{
    display:none;
}

@media only screen and (max-width: 768px) {
    .header-slider .carousel-desktop.tallheight {
        min-height: 340px;
    }
}