.site-footer {
  .footer-top {
    .logo {
      max-height: 26px;
    }

    .footer-nav{
        @include media-breakpoint-down(sm) {
            .footer-nav-list {            
                display: none;
                margin: 0 15px;
                li{
                    padding: 10px 0;
                    border-bottom: 1px solid $border-color;
                }
            }
            .ftr-nav-title {
                padding: 1.2rem 0!important;
                position: relative;
                border-bottom: 1px solid $border-color;            
                &:before {
                    content: "\F273";
                    font-family: Ionicons;
                    font-size: 1.4rem;
                    display: block;
                    width: 1.4rem;
                    text-align: center;
                    height: 1.4rem;
                    top: 50%;
                    right: 0;
                    font-weight: 400;
                    transform: translateY(-50%);
                    color: $white;
                    position: absolute;
                }
            }
        }
        &.opened{
            .ftr-nav-title{                
                &:before{
                    content: "\F368";
                }
            }
        }
    }

    ul.articles-list {
      padding-left: 10px;

      li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid transparentize($gray-500, 0.9);

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-style: none;
        }

        &::before {
          font-family: "Ionicons";
          content: "\f287";
          font-size: 0.6rem;
          float: left;
          margin-top: 0.4rem;
          margin-left: -0.6rem;
        }
      }
    }

    ul.social-links {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        // border-width: 1px;
        // border-style: solid;
        // border-radius: 50%;
        font-size: 1rem;
        line-height: 1.8em;        
        img{
          max-width: 100%;
        }
      }
    }
  }

  .footer-bottom {
    a {
      transition: $transition-base;
      opacity: 0.5;
    }
  }
}

.footer-navigation{
  line-height: 32px;
}