header{
  z-index: $zindex-fixed;
  transition: $transition-base;
}

/* Top Bar */
.topbar{
  div, p, a{
    font-size: inherit !important;
    color: inherit !important;
    letter-spacing: 0.08em;
  }

  p{
    margin: 0;
  }
}



/* Main Navbar */
.navbar-main {
  width: 100%;
  transition: $transition-base;
  background: $navbar-dark-color;
  border-bottom: 1px solid $border-color;
  &.fixed-top {
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  &.bg-transparent{
    background: transparent;

    .nav-item{
      &.active .nav-link{
        color: $navbar-dark-active-color !important;
      }
    }

    .nav-link,
    .navbar-brand {
      color: $navbar-dark-color !important;

      &:hover{
        color: $navbar-dark-hover-color !important;
      }
    }
  }

  .navbar-brand img {
    @include media-breakpoint-down(md) {
      height: 35px;
      width: auto;
    }
  }

  .nav-item {
    padding:2.108rem 1.2rem;
    @include media-breakpoint-down(lg) {
      padding:0.6rem 1.2rem;
    }    
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
    &.active .nav-link{
      color: $primary;
      transition: $transition-base;
    }

    // @include media-breakpoint-down(md) {
    //   padding: 0;
    // }

    &:first-child .nav-link,
    &:last-child .nav-link {
      padding-right: 0 !important;
    }

    .nav-link {
      padding: 0;
      color: $navbar-light-active-color;

      &:hover{
        color: $primary;
      }
    }

    i {
      font-size: 1.6rem;

      @include media-breakpoint-down(md) {
        font-size: 1.8rem;
      }
    }
  }

  .badge {
    display: inline-block;
    margin: -34px 0 0 -8px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    border: 1px solid #ffffff;
  }

  .dropdown-menu {
    overflow: hidden;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition: $transition-base;
    transform: translate3d(0, -2%, 0);

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, -2%, 0);
    }

    .dropdown-item {
      padding: 0.6em 1em;
    }
  }
}

body.template-index{
  .navbar-main {
    border-bottom: none;
  }  
}
// Sticky styles for navbar
body {
  &.is-scrolled-down {
    header.fixed-top {
      transform: translate3d(0, -100%, 0);
      box-shadow: none;
    }
  }

  &.is-scrolled-up {
    header.fixed-top {
      background: rgba(255,255,255,0.95);
      box-shadow: $box-shadow-sm;

      .nav-link,
      .navbar-brand {
        color: $navbar-light-color !important;
      }
    }
  }

  &.is-scrolled-top.template-index .header-transparent {
    header.fixed-top {
      background: transparent;

      .nav-link,
      .navbar-brand {
        color: $navbar-dark-color;
      }

      &:hover {
        background: rgba(255,255,255,0.2);
      }
    }
  }
}

/* Navbar with centered logo - Additional styles */
.navbar-centered-logo {
  .navbar-icon-links {
    position: absolute;
    right: $navbar-padding-x;
  }

  .navbar-logo-mobile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .icon{
    width: 20px;
    height: 20px;
  }
}

/* Mobile Navbar => left drawer */
.navbar-mobile {

  .nav-item{
    padding: 0;
  }
  .nav-link {
    padding: 0.6rem 1.2rem;
    text-transform: uppercase;
    color: $navbar-light-color;
    font-size: 1.1rem;
  }

  .submenu{
    background: $gray-100;
    .nav-link {
      font-size: 0.9rem;

      // &:first-child{
      //   padding-top: 1rem;
      // }
      // &:last-child{
      //   padding-bottom: 1rem;
      // }
    }
  }

  .icon-toggle {
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1;
    &::before {
      font-family: "Ionicons";
    }
  }

  a[aria-expanded="false"] {
    background: transparent;

    .icon-toggle::before {
      content: "\f3d0";
    }
  }

  a[aria-expanded="true"] {
    background: $gray-200;

    .icon-toggle::before {
      content: "\f3d8";
    }
  }
}

.navbar-mobile-secondary {
  border-top: 1px solid $gray-200;
  margin-top: 0.5rem;
  padding-top: 0.5rem;

  .nav-link {
    font-size: 1rem;
  }

  .icon-toggle {
    font-size: 1.4rem;
  }
}

// Megamenu classes
.megamenu {
  position: static !important;

  .dropdown-menu{
    width: 100%;
  }
}

header{
  position: relative;
}

.megamenu_dropdown{
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background: #ffffff;
  padding: 35px 0;
  opacity: 0;
  visibility: hidden;
  transition: $transition-fade;
  box-shadow: $box-shadow-sm;
}

.mega_dropdown  {
  &:hover{
    .megamenu_dropdown{
      opacity: 1;
      visibility: visible;
    }
  }
}

.navbar-main{
    .megamenu_dropdown{
        border-top:1px solid $gray-100; 
        .size-col {
            column-count: 4;
            max-width: 220px;
            display: flex;
            flex-wrap: wrap;
            li{
                width:25%;                
                a{
                    background-color: $gray-100;
                    line-height: 32px;
                    // padding: 0 5px !important;
                    text-align: center;
                    transition: $transition-base;
                    &:hover{
                        background-color: $gray-200;
                    }
                }
            }
        }
    }
    .navbar-nav.custom_nav{
      > .nav-item{
        > a{
          position: relative;
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            width: 0;
            height: 2px;
            background: $dark;
            bottom: -3px;
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: $transition-base;
          }
        }
        &:hover{
          > a{
            &:after{
              width: 100%;              
            }
          }
        }
      }
    }
}

.navbar-toggler-icon{
    width: 2.5em;
    height: 2.5em;
}

.no-scroll{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}