@charset 'UTF-8';

/**
 * Insert your styles with Liquid below.
 *
 * You can import additional stylesheets with liquid code into this sheet using CSS imports:
 * @import url('./partials/test.scss');
 */

 /* Vue.js helper directive => hides elements */
[v-cloak] {
  display: none !important;
}

#sitePreloader{
  display: block;
  position: fixed;
  z-index: 1070;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;

  &.is-hidden{
    opacity: 0;
    visibility: hidden;
  }
}

// Password strength meter background image
.pass-colorbar {
  background-image: url('{{ "passwordstrength.jpg" | asset_url }}');
}

// @font-face {
//   font-family: 'avenir';
//   font-display: fallback;
//   src:url('Avenir-Heavy.eot') format('embedded-opentype'),  
//       url('Avenir-Heavy.woff') format('woff'),
//       url('Avenir-Heavy.ttf')  format('truetype'), 
//       url('Avenir-Heavy.svg#Avenir-Heavy') format('svg');
//   font-weight: 700;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'avenir';
//   font-display: fallback;
//   src:url('Avenir-Medium.eot?#iefix') format('embedded-opentype'),  
//       url('Avenir-Medium.woff') format('woff'), 
//       url('Avenir-Medium.ttf')  format('truetype'), 
//       url('Avenir-Medium.svg#Avenir-Medium') format('svg');
//   font-weight: 500;
//   font-style: normal;
// }


@font-face {
  font-family: 'avenir';
  font-display: auto;
  src: url('Avenir-Heavy.woff2') format('woff2'),
      url('Avenir-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'avenir';
  font-display: auto;
  src: url('Avenir-Medium.woff2') format('woff2'),
      url('Avenir-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


