/* --------------------------------------------------------------------------------- */

/* Responsive Font Sizes
/* Documentation and options at: https://github.com/twbs/rfs
/*--------------------------------------------------------------------------------- */

$rfs-base-font-size: $font-size-base;
$rfs-factor: 20;
$rfs-two-dimensional: false;
$rfs-safari-iframe-resize-bug-fix: true;
