<section data-template="account" class="section-content pagemin_height">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-5 ml-auto mr-auto">

        <div id="customerLoginForm">
          {%- form 'activate_customer_password' -%}

            <h3 class="mb-4 text-center">{{ 'customer.activate_account.title' | t }}</h3>

            {%- if form.errors -%}
            <div class="alert alert-warning">
              {{ form.errors | default_errors }}
            </div>
            {%- endif -%}

            <div class="mb-3">
              <input type="password" value="" name="customer[password]" aria-label="password" id="CustomerPassword" class="form-control" placeholder="{{ 'customer.activate_account.password' | t }}">
            </div>  
            <div class="mb-3">
              <input type="password" value="" name="customer[password_confirmation]" aria-label="password confirmation" id="CustomerPasswordConfirmation" class="form-control" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
            </div>

            <input type="submit" class="btn btn-primary btn-block text-uppercase" value="{{ 'customer.activate_account.submit' | t }}">

          {%- endform -%}
        </div>

      </div>
    </div>
  </div>
</section>
