<section data-template="account" class="section-content pagemin_height">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-5 mx-auto">

        <div id="accountTabs" data-account-tabs>
          <ul class="nav nav-pills justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link h6 small active" data-toggle="tab" href="#register" role="tab">{{ 'customer.register.title' | t }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link h6 small" data-toggle="tab" href="#login" role="tab">{{ 'customer.login.title' | t }}</a>
            </li>
          </ul>
          <div class="tab-content text-left" id="accountTabsContent">
            <div class="tab-pane fade show active" id="register" role="tabpanel">
              <div class="pt-5">{%- include 'form-account-register' -%}</div>
            </div>
            <div class="tab-pane fade" id="login" role="tabpanel">
              <div class="pt-5">
                {%- if reset_success -%}
                <div class="alert alert-success">
                  {{ 'customer.recover_password.success' | t }}
                </div>
                {%- endif -%}

                {%- include 'form-account-login' -%}
                
                {%- include 'form-account-reset' -%}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
