<section data-template="account" class="section-content pagemin_height">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-5 ml-auto mr-auto">
                  <div id="customerLoginForm">
                    {%- form 'reset_customer_password' -%}

                      <h3 class="text-center mb-4">Reset Password</h3>
                      <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

                      {%- if form.errors -%}
                      <div class="alert alert-warning">
                          {{ form.errors | default_errors }}
                      </div>
                      {%- endif -%}

                      <div class="mb-3">
                          <input type="password" name="customer[password]" aria-label="password" id="ResetPassword" class="form-control {% if form.errors contains 'email' %} is-invalid{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}" autocorrect="off" autocapitalize="off" required>
                      </div>                                
                      <div class="mb-3">  
                          <input type="password" name="customer[password_confirmation]" aria-label="password confirmation" id="PasswordConfirmation" class="form-control {% if form.errors contains 'email' %} is-invalid{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t}}" autocorrect="off" autocapitalize="off" required>
                      </div>

                      <div class="text-center">
                        <input type="submit" class="btn btn-primary btn-block text-uppercase" value="{{ 'customer.reset_password.submit' | t }}">
                      </div>

                    {%- endform -%}
                </div>
            </div>
        </div>
    </div>
</section>
