<div data-section-id="{{ section.id }}" data-section-type="covet-pics-feed" class="pb-5">
  {%- assign sectionHeading = section.settings.title -%}
  {%- assign gallery_code = section.settings.gallery-code -%}
  <section class="home-section content-area {% if sectionHeading != blank %}has-heading{% endif %}">
    {%- if section.settings.title != '' -%}
  <div class="row">
    <div class="col text-center">
      <h2 class="section-title mb-2 font-family-base font-weight-bold">{{ section.settings.title }}</h2>
    </div>
  </div>
  {%- endif -%}

  {%- if section.settings.show_profile_link -%}
  <div class="row {% unless section.settings.section_padding %}pb-4{% endunless %}">
    <div class="col text-center">
      <p class="text-uppercase">Follow <a href="https://www.instagram.com/{{section.settings.instagram_username}}" target="_blank" rel="noopener noreferrer" style="color: {{ section.settings.section_color }}">@{{section.settings.instagram_username}}</a> on Instagram</p>
    </div>
  </div>
  {%- endif -%}
    <div class="covet-pics-wrap">
      {{ gallery_code }}
    </div>
  </section>
</div>
{% schema %}
{
  "name": "Covet.pics Gallery",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Instagram feed"
    },
    {
      "type": "textarea",
      "id": "gallery-code",
      "label": "Gallery Embed Code"
    },
  {
      "type": "checkbox",
      "id": "show_profile_link",
      "label": "Show Profile Link?",
      "default": true
    },
{
      "type": "checkbox",
      "id": "section_padding",
      "label": "Section Padding?",
      "default": true
    },
{
      "type": "color",
      "id": "section_color",
      "label": "Text Color"
    },
{
      "type": "text",
      "id": "instagram_username",
      "label": "Username",
      "info": "Instagram username without the '@' symbol."
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Covet.pics gallery"
    }
  ]
}
{% endschema %}