{%- assign logo = section.settings.footer_logo | img_url: '200x' -%}
{%- assign footer_linklist1 = section.settings.footer_linklist1 -%}
{%- assign footer_linklist2 = section.settings.footer_linklist2 -%}
{%- assign footer_linklist3 = section.settings.footer_linklist3 -%}
{%- assign blog_handle = section.settings.footer_blog -%}

<footer class="site-footer" data-section-id="{{ section.id }}">
    {%- if section.settings.offer_footer_text != '' -%}
    <div class="footer-offer py-3" style="background-color: {{ section.settings.footer_offer_bg_color }}; color: {{ section.settings.footer_offer_txt_color }};">
        <div class="{% if section.settings.fluid_footer %}container-fluid{% else %}container{% endif %}">
            <p class="mb-0 text-center"><a href="/pages/subscribe">{{ section.settings.offer_footer_text }}</a></p>
        </div>
    </div>  
    {%- endif -%}
    <div data-footer-top class="footer-top section-content" style="background-color: {{ section.settings.footer_top_bg_color }}; color: {{ section.settings.footer_top_txt_color }};">
      <div class="{% if section.settings.fluid_footer %}container-fluid{% else %}container{% endif %}">
          <div class="row">
            {%- unless logo contains 'no-image' -%}
                <div class="col-md-2 col-lg-3 mb-md-0 mb-3">                    
                    <a href="/" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
                        <img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid mb-4" style="max-width: {{ section.settings.logo_max_width }}px">
                    </a>                    
                </div>
                {%- endunless -%}

                {%- if section.settings.show_Menulist1 -%} 
                    <div class="col-md-2 col-lg-3" data-footer-menulist>
                        <div class="footer-nav">                   
                            {%- if linklists[footer_linklist1].links.size > 0 -%}
                                <h6 class="mb-md-3 mb-0 font-family-base font-weight-bold text-uppercase ftr-nav-title text-white" data-footer-menutitle>{%- if section.settings.col_1_heading != '' -%} {{ section.settings.col_1_heading }} {%- else -%} {{ linklists[footer_linklist1].title }} {%- endif -%}</h6>
                                <ul class="list-unstyled footer-nav-list">
                                    {%- for link in linklists[footer_linklist1].links -%}
                                        <li class="my-2">
                                            <a href="{{ link.url }}" style="color: {{ section.settings.footer_top_link_color }};" rel="nofollow" aria-label="{{ link.title }}">
                                                <span>{{ link.title }}</span>
                                            </a>
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            {%- endif -%}
                        </div>
                    </div>
                {%- endif -%}
                
                {%- if section.settings.show_Menulist2 -%} 
                    <div class="col-md-2 col-lg-3" data-footer-menulist>
                        <div class="footer-nav">
                            {%- if linklists[footer_linklist2].links.size > 0 -%}
                                <h6 class="mb-md-3 mb-0 font-family-base font-weight-bold text-uppercase ftr-nav-title text-white" data-footer-menutitle>{%- if section.settings.col_2_heading != '' -%} {{ section.settings.col_2_heading }} {%- else -%} {{ linklists[footer_linklist2].title }} {%- endif -%}</h6>
                                <ul class="list-unstyled footer-nav-list">
                                    {%- for link in linklists[footer_linklist2].links -%}
                                        <li class="my-2">
                                            <a href="{{ link.url }}" style="color: {{ section.settings.footer_top_link_color }};" rel="nofollow" aria-label="{{ link.title }}">
                                                <span>{{ link.title }}</span>
                                            </a>
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            {%- endif -%}
                        </div>
                    </div>
                {%- endif -%}

                {%- if section.settings.show_Menulist3 -%}  
                    <div class="col-md-3 col-lg-3" data-footer-menulist>
                        <div class="footer-nav">
                            {%- if linklists[footer_linklist3].links.size > 0 -%}
                                <h6 class="mb-md-3 mb-0 font-family-base font-weight-bold text-uppercase ftr-nav-title text-white" data-footer-menutitle>{%- if section.settings.col_3_heading != '' -%} {{ section.settings.col_3_heading }} {%- else -%} {{ linklists[footer_linklist3].title }} {%- endif -%}</h6>
                                <ul class="list-unstyled footer-nav-list">
                                    {%- for link in linklists[footer_linklist3].links -%}
                                        <li class="my-2">
                                            <a href="{{ link.url }}" style="color: {{ section.settings.footer_top_link_color }};" rel="nofollow" aria-label="{{ link.title }}">
                                                <span>{{ link.title }}</span>
                                            </a>
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            {%- endif -%}
                        </div>
                    </div>
                {%- endif -%}

                {%- if section.settings.show_blog -%}    
                    <div class="col-sm-7 col-md-5 col-lg-3 ml-auto mr-auto mt-5 mt-sm-0 mt-md-0 mt-lg-0 mt-xl-0">
                        {%- if section.settings.col_2_heading != '' -%}
                            <h6 class="mb-3 font-family-base font-weight-bold text-uppercase text-white">{{ section.settings.col_4_heading }}</h6>
                        {%- endif -%}

                        <ul class="list-unstyled articles-list my-0">
                            {{ settings.footer_blog }}

                            {%- for article in blogs[blog_handle].articles limit:3 -%}
                                <li>
                                    <a href="{{ article.url }}" class="d-block" style="color: {{ section.settings.footer_top_link_color }};" name="{{ article.title }}" title="{{ article.title }}" rel="nofollow" aria-label="{{ article.title }}">
                                        {{ article.title }}
                                    </a>
                                    <span class="small font-italic font-secondary">
                                        <i class="icon ion-md-time"></i> <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time>
                                    </span>
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                {%- endif -%}

                <div class="col-sm-12 col-md-5 col-lg-3 ml-auto mt-5 mt-md-0 mt-lg-0 mt-xl-0">

                  {%- if section.settings.show_newsletter -%}
                    {%- if section.settings.col_3_heading != '' -%}
                    <h6 class="mb-3 font-family-base font-weight-bold text-uppercase text-white">{{ section.settings.col_5_heading }}</h6>
                    {%- endif -%}

                    {%- if section.settings.col_3_txt !='' -%}
                      <p class="mb-2">{{ section.settings.col_5_txt }}</p>
                    {%- endif -%}

                    <form action="{{ form_action }}" method="get" name="embedded-subscribe" target="_blank">                      
                      <p class="mt-2 mb-0" style="display:none" data-subscribeError></p>
                      <div class="input-group mb-4">
                        <input data-email type="email" value="" name="email" class="form-control border-white h-auto" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off" aria-label="email" required/>
                        
                        <div class="input-group-append">
                          <button class="btn btn-white px-3" name="subscribe" aria-label="subscribe" type="submit" data-subscribe @click.prevent="_klaviyoSubscribe('{{section.settings.list_id}}', $event)"><i class="ion ion-md-arrow-round-forward font-size-lg align-middle arrow_size"></i></button>
                        </div>
                      </div>
                    </form>

                    {% comment %}
                    {%- if settings.newsletter_form_action != blank -%}
                      {%- assign form_action = settings.newsletter_form_action -%}
                      <form action="{{ form_action }}" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                        <p class="mt-2 mb-0" style="display:none" data-subscribeError></p>
                        <div class="input-group mb-4">

                          <input data-email type="email" value="" name="EMAIL" class="form-control border-white h-auto" id="mce-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off" aria-label="email" required/>
                          
                          <div class="input-group-append">
                            <button class="btn btn-white px-3" name="subscribe" aria-label="subscribe" id="subscribe" type="submit" data-subscribe @click.prevent="_register($event)"><i class="ion ion-md-arrow-round-forward font-size-lg align-middle arrow_size"></i></button>
                          </div>
                        </div>
                      </form>

                    {%- else -%}
                      {%- form 'customer', id: 'NewsletterFooter' -%}
                        <div class="input-group mb-4">
                          <input type="email" name="contact[email]" aria-label="email" id="newsletterFooterCustomerEmail" class="form-control border-white h-auto" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off" required>
                          <input type="hidden" name="contact[tags]" value="newsletter">
                          <div class="input-group-append">
                            <button type="submit" name="commit" class="btn btn-white px-3" ><i class="ion ion-md-arrow-round-forward font-size-lg align-middle arrow_size"></i></button>
                          </div>
                        </div>
                        {%- if form.errors -%}
                          <p class="text-danger mt-2 mb-0">{{ form.errors | default_errors }}</p>
                        {%- endif -%}
                      {%- endform -%}
                    {%- endif -%}{% endcomment %}
                  {%- endif -%}

                  {%- if section.settings.show_social_links -%}
                    {%- if section.settings.col_3_heading != '' -%}
                    <h6 class="mb-3 font-family-base font-weight-bold text-uppercase text-center text-md-left text-white">{{ section.settings.col_3_social_heading }}</h6>
                    {%- endif -%}

                    <ul class="social-links list-unstyled list-inline mt-3 mb-0 text-center text-md-left">
                        {%- if section.settings.social_icon_facebook -%}
                        <li class="list-inline-item align-top">
                            <a href="{{ settings.social_facebook_link }}" target="_blank" style="color: {{ section.settings.footer_top_txt_color }}; border-color: {{ section.settings.footer_top_txt_color }};" name="Facebook" title="Facebook" rel="nofollow noopener" aria-label="Facebook">
                                <img src="{{ 'facebook.svg' | asset_url }}" alt="facebook" />
                            </a>
                        </li>
                        {%- endif -%}

                        {%- if section.settings.social_icon_twitter -%}
                        <li class="list-inline-item align-top">
                            <a href="{{ settings.social_twitter_link }}" target="_blank" style="color: {{ section.settings.footer_top_txt_color }}; border-color: {{ section.settings.footer_top_txt_color }};" name="Twitter" title="Twitter" rel="nofollow noopener" aria-label="Twitter">                                
                                <img src="{{ 'twitter.svg' | asset_url }}" alt="twitter" />
                            </a>
                        </li>
                        {%- endif -%}

                        {%- if section.settings.social_icon_googleplus -%}
                        <li class="list-inline-item align-top">
                            <a href="{{ settings.social_googleplus_link }}" target="_blank" style="color: {{ section.settings.footer_top_txt_color }}; border-color: {{ section.settings.footer_top_txt_color }};" name="Google+" title="Google+" rel="nofollow noopener" aria-label="Google+">
                                <img src="{{ 'google-plus.svg' | asset_url }}" alt="google-plus" />
                            </a>
                        </li>
                        {%- endif -%}

                        {%- if section.settings.social_icon_instagram -%}
                        <li class="list-inline-item align-top">
                            <a href="{{ settings.social_instagram_link }}" target="_blank" style="color: {{ section.settings.footer_top_txt_color }}; border-color: {{ section.settings.footer_top_txt_color }};" name="Instagram" title="Instagram" rel="nofollow noopener" aria-label="Instagram">
                                <img src="{{ 'instagram.svg' | asset_url }}" alt="instagram" />
                            </a>
                        </li>
                        {%- endif -%}

                        {%- if section.settings.social_icon_pinterest -%}
                        <li class="list-inline-item align-top">
                            <a href="{{ settings.social_pinterest_link }}" target="_blank" style="color: {{ section.settings.footer_top_txt_color }}; border-color: {{ section.settings.footer_top_txt_color }};" name="Pinterest" title="Pinterest" rel="nofollow noopener" aria-label="Pinterest">
                              <img src="{{ 'pinterest.svg' | asset_url }}" alt="pinterest" />
                            </a>
                        </li>
                        {%- endif -%}
                    </ul>
                  {%- endif -%}

              </div>
          </div>
          <!--end of row-->

      </div>
      <!--end of container-->
    </div>

    {%- if section.settings.footer_bottom -%}
    <div data-footer-bottom class="footer-bottom py-3" style="background-color: {{ section.settings.footer_bottom_bg_color }}; color: {{ section.settings.footer_bottom_txt_color }};">
        <div class="{% if section.settings.fluid_footer %}container-fluid{% else %}container{% endif %}">
            <div class="row d-flex align-items-center">                
                <div class="col-md-6 text-center text-md-left">
                    <span class="small copyright font-secondary">&copy; {{ 'layout.footer.copyright' | t }} {{ 'now' | date: "%Y" }} {{ shop.name }} - {{ 'layout.footer.all_rights_reserved' | t }}</span>
                </div>
                <div class="col-md-6 text-center text-md-right mt-3 mt-md-0">
                  {%- if section.settings.show_payment_icons -%}
                  <ul class="list-inline payment-icons my-0">
                    {%- if section.settings.payment_icon_visa -%}<li class="list-inline-item"><img src="{{ 'visa' | payment_type_img_url }}" height="24" alt="visa" /></li>{%- endif -%}
                    {%- if section.settings.payment_icon_mastercard -%}<li class="list-inline-item"><img src="{{ 'master' | payment_type_img_url }}" height="24" alt="master" /></li>{%- endif -%}
                    {%- if section.settings.payment_icon_diners -%}<li class="list-inline-item"><img src="{{ 'diners_club' | payment_type_img_url }}" height="24" alt="diners club" /></li>{%- endif -%}
                    {%- if section.settings.payment_icon_ae -%}<li class="list-inline-item"><img src="{{ 'american_express' | payment_type_img_url }}" height="24" alt="american express" /></li>{%- endif -%}
                    {%- if section.settings.payment_icon_paypal -%}<li class="list-inline-item"><img src="{{ 'paypal' | payment_type_img_url }}" height="24" alt="paypal" /></li>{%- endif -%}
                    {%- if section.settings.payment_icon_applepay -%}<li class="list-inline-item"><img src="{{ 'apple_pay' | payment_type_img_url }}" height="24" alt="apple pay" /></li>{%- endif -%}
                    {%- if section.settings.payment_icon_amazonpay -%}<li class="list-inline-item"> <img src="{{ 'amazon_payments' | payment_type_img_url }}" height="24" alt="amazon payments" /></li>{%- endif -%}
                  </ul>
                  {%- endif -%}
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    {%- endif -%}
</footer>



{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_footer",
        "label": "Full Width Footer?",
        "default": false
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "offer_footer_text",
        "label": "Footer Offer Text"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "footer_offer_bg_color",
        "label": "Footer Offer Background Color",
        "default": "#696969"
      },
      {
        "type": "color",
        "id": "footer_offer_txt_color",
        "label": "Footer Offer Text Color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "footer_top_bg_color",
        "label": "Footer Top Background Color",
        "default": "#696969"
      },
      {
        "type": "color",
        "id": "footer_top_txt_color",
        "label": "Footer Top Text Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "footer_top_link_color",
        "label": "Footer Top Links Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "footer_bottom_bg_color",
        "label": "Footer Bottom Background Color",
        "default": "#212529"
      },
      {
        "type": "color",
        "id": "footer_bottom_txt_color",
        "label": "Footer Bottom Text Color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "Column 1"
      },
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 5,
        "max": 500,
        "step": 5,
        "unit": "px",
        "label": "Logo width",
        "default": 180
      },
      {
        "type": "header",
        "content": "MenuList Column 1"
      },
      {
        "type": "checkbox",
        "id": "show_Menulist1",
        "label": "Show MenuList Column 1?",
        "default": true
      },
      {
        "type": "text",
        "id": "col_1_heading",
        "label": "Heading"
      },
      {
        "type": "link_list",
        "id": "footer_linklist1",
        "label": "Select Menu",
        "default": "footer"
      },
      {
        "type": "header",
        "content": "Column 2"
      },
      {
        "type": "checkbox",
        "id": "show_Menulist2",
        "label": "Show MenuList Column 2?",
        "default": true
      },
      {
        "type": "text",
        "id": "col_2_heading",
        "label": "Heading"
      },
      {
        "type": "link_list",
        "id": "footer_linklist2",
        "label": "Select Menu",
        "default": "footer"
      },
      {
        "type": "header",
        "content": "Column 3"
      },
      {
        "type": "checkbox",
        "id": "show_Menulist3",
        "label": "Show MenuList Column 3?",
        "default": true
      },
      {
        "type": "text",
        "id": "col_3_heading",
        "label": "Heading"
      },
      {
        "type": "link_list",
        "id": "footer_linklist3",
        "label": "Select Menu",
        "default": "footer"
      },
      {
        "type": "header",
        "content": "Column 4"
      },
      {
        "type": "checkbox",
        "id": "show_blog",
        "label": "Show Blog Column?",
        "default": true
      },
      {
        "type": "text",
        "id": "col_4_heading",
        "label": "Heading",
        "default": "From the Blog"
      },
      {
        "type": "blog",
        "id": "footer_blog",
        "label": "Select Blog"
      },
      {
        "type": "header",
        "content": "Column 5"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show Newsletter Subscription?",
        "default": true
      },
      {
        "type": "text",
        "id": "list_id",
        "label": "ListId of klaviyo List",
        "info": "Enter klaviyo list id to add subscribers in created list for footer"
      },
      {
        "type": "text",
        "id": "col_5_heading",
        "label": "Heading",
        "default": "Subscribe"
      },
      {
        "type": "text",
        "id": "col_5_txt",
        "label": "Text",
        "default": "Get monthly updates and free resources."
      },
      {
        "type": "checkbox",
        "id": "show_social_links",
        "label": "Show Social Links?",
        "default": true
      },
      {
        "type": "text",
        "id": "col_3_social_heading",
        "label": "Heading",
        "default": "Connect with Us"
      },
      {
        "type": "paragraph",
        "content": "Select Networks"
      },
      {
        "type": "checkbox",
        "id": "social_icon_facebook",
        "label": "Facebook",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_twitter",
        "label": "Twitter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_googleplus",
        "label": "Google+",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_instagram",
        "label": "Instagram",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_pinterest",
        "label": "Pinterest",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "footer_bottom",
        "label": "Show Bottom Footer?",
        "default": false
      },
      {
        "type": "header",
        "content": "Payment Icons"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show Payment Icons?",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Select Payment Methods"
      },
      {
        "type": "checkbox",
        "id": "payment_icon_visa",
        "label": "Visa",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_mastercard",
        "label": "Mastercard",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_ae",
        "label": "American Express",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_diners",
        "label": "Diners",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_paypal",
        "label": "Paypal",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_applepay",
        "label": "Apple Pay",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_amazonpay",
        "label": "Amazon Pay",
        "default": true
      }
    ]
  }

{% endschema %}
