{%- assign template_type = section.settings.template_type -%}
{%- assign logo = settings.main_logo | img_url: '100x' -%}
{%- assign logo_light = settings.main_logo_light | img_url: '100x' -%}
{%- assign logo_width = settings.logo_max_width -%}

<header
    class="site-header {% if section.settings.is_sticky %}fixed-top{% endif %}"
    data-site-header
    data-section-id="{{ section.id }}"
    data-cart-type="{{ section.settings.cart_type }}"
    data-fixed-header="{% if section.settings.is_sticky%}true{% else %}false{% endif %}">

  {%- if section.settings.topbar_enabled -%}
    <div class="topbar d-block" data-top-bar style="background-color: {{ section.settings.topbar_bg_color }}">
        <div class="container">
            <div class="row justify-content-end align-items-center">
                <div class="{% if settings.enable_currency_selector %}col-lg-6 col-12 {% else %} col-lg-6 col-md-8 col-12 {% endif %} d-table align-items-center justify-content-center" style="min-height: {{ section.settings.topbar_height }}px !important; font-size: {{ section.settings.topbar_font_size}}rem !important; color: {{ section.settings.topbar_text_color }} !important">
                    <div class="d-table-cell align-middle text-center font-size-sm py-2 py-lg-0" style="min-height: {{ section.settings.topbar_height }}px !important;">{{ section.settings.topbar_text }}</div>                    
                </div>            
                {%- if settings.enable_currency_selector -%}
                    <div class="col-3 d-lg-flex d-none currency-header justify-content-end align-items-center">
                        {%- form 'currency', id: 'currencyForm', data-currency-selector: "" -%}
                            <select name="currency"  aria-label="currency-selector" class="form-control form-control-sm" @change="_changeCurrency()">
                                {%- for currency in shop.enabled_currencies -%}
                                    {%- if currency == cart.currency -%}
                                    <option selected="true">{{currency.iso_code}}</option>
                                    {%- else -%}
                                    <option>{{currency.iso_code}}</option>
                                    {%- endif -%}
                                {%- endfor -%}
                            </select>
                        {%- endform -%}                                 
                    </div>                                     
                {%- endif -%}
                <div class="col-lg-3 col-md-4 col-12 text-md-right text-center pb-md-0 pb-2">
                  <img src="https://cdn.shopify.com/s/files/1/0025/4823/6334/files/ebay-14000-reviews-4.png" style="border: 0; height: 36px;" alt="eBay Reviews">
                   <a href="https://www.shopperapproved.com/reviews/RuzeShoes.com/" class="shopperlink" rel="noopener noreferrer"><img src="//www.shopperapproved.com/newseals/22460/black-header-basic.gif" style="border: 0" alt="Customer Reviews" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by Shopper Approved \251 '+d.getFullYear()+'.'); return false;" /></a><script type="text/javascript">(function() { var js = window.document.createElement("script"); js.src = '//www.shopperapproved.com/seals/certificate.js'; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); })();</script>   
                </div>
            </div>
        </div>
    </div>
  {%- endif -%}

  

  <nav class="navbar navbar-main navbar-expand-ex-lg py-0 px-0 {% if template_type == 'centered-logo' %}navbar-centered-logo{% endif %}">
    <div class="{% if section.settings.fluid_header %}container-fluid{% else %}container{% endif %}">
      {%- include 'navbar-default' -%}
    </div>
  </nav>

</header>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_header",
        "label": "Full Width Header?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "is_sticky",
        "label": "Sticky Header?",
        "default": false
      },
      {
        "type": "header",
        "content": "Menu"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Select Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Cart Button"
      },
      {
        "type": "select",
        "id": "cart_type",
        "label": "Select Button Action",
        "options": [
          {
            "value": "cart_page",
            "label": "Link to cart page"
          },
          {
            "value": "cart_dropdown",
            "label": "Mini cart as dropdown"
          },
          {
            "value": "cart_drawer",
            "label": "Mini cart as right drawer"
          }
        ],
        "default": "cart_page"
      },
      {
        "type": "header",
        "content": "Top Bar"
      },
      {
        "type": "checkbox",
        "id": "topbar_enabled",
        "label": "Enabled?",
        "default": false
      },
      {
        "type": "html",
        "id": "topbar_text",
        "label": "Message"
      },
      {
        "type": "color",
        "id": "topbar_bg_color",
        "label": "Background Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "topbar_text_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "topbar_height",
        "label": "Minimum Height",
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 40
      },
      {
        "type": "range",
        "id": "topbar_font_size",
        "min": 0.5,
        "max": 3,
        "step": 0.1,
        "unit": "rem",
        "label": "Font Size",
        "default": 1
      },
      {
        "type":"text",
        "id":"categories",
        "label":"Sub Menu Categories Title"
      },
      {
        "type":"text",
        "id":"shopsize",
        "label":"Sub Menu Title"
      }
    ],
    "blocks": [
      {
        "type": "men",
        "name": "Men",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "handle_name",
            "label": "Select title"
          },
          {
            "type": "collection",
            "id": "home_featured_collection1",
            "label": "Select Collection 1"
          },
          {
            "type": "image_picker",
            "id": "collection_image_1",
            "label": "Select Collection Image 1"
          },
          {
            "type": "collection",
            "id": "home_featured_collection2",
            "label": "Select Collection 2"
          },
          {
            "type": "image_picker",
            "id": "collection_image_2",
            "label": "Select Collection Image 2"
          },
          {
            "type": "collection",
            "id": "home_featured_collection3",
            "label": "Select Collection 3"
          },
          {
            "type": "image_picker",
            "id": "collection_image_3",
            "label": "Select Collection Image 3"
          },
          {
            "type": "collection",
            "id": "home_featured_collection4",
            "label": "Select Collection 4"
          },
          {
            "type": "image_picker",
            "id": "collection_image_4",
            "label": "Select Collection Image 4"
          },
          {
            "type": "collection",
            "id": "home_featured_collection5",
            "label": "Select Collection 5"
          },
          {
            "type": "image_picker",
            "id": "collection_image_5",
            "label": "Select Collection Image 5"
          }
        ]
      },
      {
        "type": "women",
        "name": "Women",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "handle_name",
            "label": "Select title"
          },
          {
            "type": "collection",
            "id": "home_featured_collection1",
            "label": "Select Collection 1"
          },
          {
            "type": "image_picker",
            "id": "collection_image_1",
            "label": "Select Collection Image 1"
          },
          {
            "type": "collection",
            "id": "home_featured_collection2",
            "label": "Select Collection 2"
          },
          {
            "type": "image_picker",
            "id": "collection_image_2",
            "label": "Select Collection Image 2"
          },
          {
            "type": "collection",
            "id": "home_featured_collection3",
            "label": "Select Collection 3"
          },
          {
            "type": "image_picker",
            "id": "collection_image_3",
            "label": "Select Collection Image 3"
          },
          {
            "type": "collection",
            "id": "home_featured_collection4",
            "label": "Select Collection 4"
          },
          {
            "type": "image_picker",
            "id": "collection_image_4",
            "label": "Select Collection Image 4"
          },
          {
            "type": "collection",
            "id": "home_featured_collection5",
            "label": "Select Collection 5"
          },
          {
            "type": "image_picker",
            "id": "collection_image_5",
            "label": "Select Collection Image 5"
          }
        ]
      }
    ]
  }
{% endschema %}
