{%- assign collection_grid_type = section.settings.collection_grid_type -%}

<section class="section-content pt-0" data-section-id="{{ section.id }}" data-grid-type="{{ collection_grid_type }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">

        <div class="row align-items-center">
            <div class="col-md-4 pb-md-0 pd-5 mb-md-0 mb-5 text-center">

                {%- if section.settings.heading_txt != '' -%}
                    <h3 class="section-title mb-md-4 mb-3">{{ section.settings.heading_txt | escape }}</h3>
                {%- endif -%}

                {%- if section.settings.lead_txt != '' -%}
                    <p class="text-gray-700 px-lg-6 mb-4">
                        {{ section.settings.lead_txt }}
                    </p>
                {%- endif -%}

                {%- if section.settings.btn_txt != '' -%}
                    <a class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }}" href="{{ section.settings.btn_url }}" rel="nofollow" aria-label="{{ section.settings.btn_txt }}">{{ section.settings.btn_txt }}</a>
                {%- endif -%}

            </div>
            <div class="col-md-8 text-center bg-color-brand">
                <div class="row mx-lg-n3 mx-n2 d-md-flex d-none">
                        {%- assign counter = 0 -%}
                        {%- for product_vendor in shop.vendors -%}
                            {%- capture temp -%}{{ counter | plus: 1 }}{%- endcapture -%} 
                            {%- assign counter = temp -%}
                        {%- endfor -%} 
                        {%- for block in section.blocks -%}
                            <div class="col-4 col-md-3 my-lg-3 px-lg-3 my-md-3 px-2 my-md-3 my-2">
                                <div class="brand-item border text-center"> 
                                    <div class="brand-img"> 
                                        <a href="{{ block.settings.brand_link }}" class="d-flex align-items-center" rel="nofollow" aria-label="{{ block.settings.brand_name }}">
                                            <img class="brnd-img" src="{{ block.settings.brand_image | img_url:'150x' }}" alt="{{ block.settings.brand_name }}"/>
                                        </a>
                                    </div>        
                                </div>
                            </div>
                        {%- endfor -%}

                        <div class="col-4 col-md-3 my-lg-3 px-lg-3 my-md-3 px-2 my-md-3 my-2">
                            <a href="{{ section.settings.brand_url }}" rel="nofollow" aria-label="{{ section.settings.link_label }}"class="brand-item border text-center h-100 d-flex align-items-center flex-column justify-content-center"> 
                                <div class="more_brand mb-3"></div>
                                <span class="text-uppercase">{{ counter | minus: 7 }} {{ section.settings.link_label }}</span>
                            </a>        
                        </div>
                </div>

                <div class="row carousel mx-lg-n3 mx-n2 d-md-none py-3"
                    data-flickity='{
                    "adaptiveHeight": true,
                    "contain": true,
                    "wrapAround": false,
                    "freeScroll": false,
                    "groupCells": "100%",
                    "accessibility": true,
                    "setGallerySize": true,
                    "dragThreshold": 20,
                    "prevNextButtons": true,
                    "pageDots": false,
                    "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
                    }'>
                    {%- for block in section.blocks -%}
                        <div class="col-4 col-md-3 my-lg-3 px-lg-3 my-md-3 px-2 my-md-3 my-2">
                            <div class="brand-item border text-center"> 
                                <div class="brand-img"> 
                                    <a href="{{ block.settings.brand_link }}" class="d-flex align-items-center" rel="nofollow" aria-label="{{ block.settings.brand_name }}">
                                        <img class="brnd-img" src="{{ block.settings.brand_image | img_url:'150x' }}" alt="{{ block.settings.brand_name }}"/>
                                    </a>
                                </div>        
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>                    
        </div>
    </div>
</section>


{% schema %}
  {
    "name": "Shop by Brand",
    "class": "index-shop-brand",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Heading Text"
      },
      {
        "type": "textarea",
        "id": "lead_txt",
        "label": "Lead Text"
      },
      {
        "type":"text",
        "id":"link_label",
        "label":"Link Label"
      },
      {
        "type": "url",
        "id": "brand_url",
        "label": "More Brand Link"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#f8f9fa"
      },
      {
        "type": "color",
        "id": "section_txt_color",
        "label": "Text Color",
        "default": "#696969"
      },
      {
        "type": "select",
        "id": "btn_type",
        "label": "Button Type",
        "options": [
          {
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "",
            "label": "Solid"
          }
        ],
        "default": "outline"
      },
      {
        "type": "select",
        "id": "btn_variant",
        "label": "Button Variant",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "gray-100",
            "label": "Light"
          },
          {
            "value": "gray-900",
            "label": "Dark"
          }
        ],
        "default": "primary"
      },
      {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "options": [{
            "value": "",
            "label": "Default"
          },
          {
            "value": "btn-sm",
            "label": "Small"
          },
          {
            "value": "btn-lg",
            "label": "Large"
          }
        ],
        "default": ""
      }
    ],
    "presets": [
        {
        "name": "Shop by Brand",
        "category": "Content"
        }
    ],
    "blocks":[
        {
            "type": "brand_name",
            "name": "Brand",
            "limit": 7,
            "settings":[
                {
                    "type":"image_picker",
                    "id":"brand_image",
                    "label":"Brand Logo" 
                },
                {
                    "type":"text",
                    "id":"brand_name",
                    "label":"Brand Name" 
                },
                {
                    "type":"url",
                    "id":"brand_link",
                    "label":"Brand Link" 
                }
            ]
        }
    ]
  }
{% endschema %}
