{%- assign collection_grid_type = section.settings.collection_grid_type -%}

<section class="section-content" data-section-id="{{ section.id }}" data-grid-type="{{ collection_grid_type }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">

        <div class="row">
            <div class="col-12 text-center">

                {%- if section.settings.heading_txt != '' -%}
                    <h2 class="section-title mb-4">{{ section.settings.heading_txt | escape }}</h2>
                {%- endif -%}

                {%- if section.settings.lead_txt != '' -%}
                    <p class="lead px-lg-6">
                        {{ section.settings.lead_txt }}
                    </p>
                {%- endif -%}

            </div>
        </div>

        <div class="row"  data-flickity='{
                    "adaptiveHeight": true,
                    "contain": true,
                    "freeScroll": false,
                    "groupCells": "100%",
                    "accessibility": true,
                    "setGallerySize": true,
                    "prevNextButtons": true,
                    "pageDots": false,
                    "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
                    }'>
            {%- for block in section.blocks -%}
                {%- assign collection = collections[block.settings.home_featured_collection] -%}
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="collection-item text-center pb-3"> 
                        <div class="collection-link mb-2">
                            <a href="{{ collection.url }}" class="text-gray-600 text-uppercase" rel="nofollow" aria-label="{{ collection.title }}">{{ block.settings.link_label }}</a>
                        </div>
                        <div class="collection-title">
                            <a href="{{ collection.url }}" class="h4 text-uppercase font-weight-bold" rel="nofollow" aria-label="{{ collection.title }}">{{ collection.title }}</a>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>

    </div>
</section>



{% schema %}
  {
    "name": "Collection List",
    "class": "index-collectiion-list",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Heading Text"
      },
      {
        "type": "textarea",
        "id": "lead_txt",
        "label": "Lead Text"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#f8f9fa"
      },
      {
        "type": "color",
        "id": "section_txt_color",
        "label": "Text Color",
        "default": "#696969"
      }
    ],
    "blocks": [
        {
            "type": "collections-Name",
            "name": "Collections Name",
            "limit": 4,
            "settings": [
                {
                    "type": "collection",
                    "id": "home_featured_collection",
                    "label": "Select Collection"
                },
                {
                    "type": "text",
                    "id": "link_label",
                    "label": "Link label",
                    "default": "Shop Now"
                }
            ]
        }
    ],
    "presets": [{
      "name": "Collection List",
      "category": "Collection"
    }]
  }
{% endschema %}
