<section class="section-content" data-section-id="{{ section.id }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
  <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
    <div class="row">
      <div class="col-12 text-center">

        {%- if section.settings.heading_txt != '' -%}
          <h3 class="section-title mb-md-6 mb-4 text-primary font-family-base font-weight-bold">{{ section.settings.heading_txt | escape }}</h3>
        {%- endif -%}

        <div style="min-height: 100px; overflow: hidden;" class="shopperapproved_widget sa_rotate sa_count5 sa_horizontal sa_count5 sa_bgWhite sa_colorBlack sa_borderGray sa_rounded sa_jMy sa_fixed sa_showlinks sa_large sa_showdate "></div><script type="text/javascript">var sa_interval = 5000;function saLoadScript(src) { var js = window.document.createElement('script'); js.src = src; js.type = 'text/javascript'; document.getElementsByTagName("head")[0].appendChild(js); } if (typeof(shopper_first) == 'undefined') saLoadScript('//www.shopperapproved.com/widgets/testimonial/3.0/22460.js'); shopper_first = true; </script><div style="text-align:right;"><a class="sa_footer" aria-label="sa_footer" href="https://www.shopperapproved.com/reviews/RuzeShoes.com/" target="_blank" rel="nofollow noreferrer"><img class="sa_widget_footer" style="border: 0;" alt="" src=https://www.shopperapproved.com/widgets/widgetfooter-darklogo.png></a></div>
        
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Reviews",
    "class": "index-reviews",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Heading Text",
        "default": "Reviews"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#f8f9fa"
      },
      {
        "type": "color",
        "id": "section_txt_color",
        "label": "Text Color",
        "default": "#696969"
      }
    ],
    "presets": [
      {
        "name": "Reviews",
        "category": "Content"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
