
<div
    v-cloak
    data-section-id="{{ section.id }}"
    data-newsletter-popup
    data-newsletter-enabled="{% if section.settings.enabled %}true{% else %}false{% endif %}"
    data-section-id="{{ section.id }}"
    data-popup-delay="{{ section.settings.popup_delay }}"
    data-period-until="{{ section.settings.popup_period_until }}"
    class="newsletter-popup d-block d-sm-flex align-items-stretch" :class="{'opened': isNewsletterPopupOpen}"
    style="background: {{ section.settings.bg_color_outer }} {% if section.settings.popup_img %}url({{ section.settings.popup_img | img_url: '1024x' }}){% endif %}; color: {{ section.settings.txt_color }};"
  >

  <div class="inner text-center has-image-bg w-100" style="background-color: {{ section.settings.bg_color_inner }};">

    <button data-newsletter-close-btn class="btn btn-link btn-close p-3" @click="_toggleNewsletterPopup" aria-label="close newsletter popup">
      <i class="icon ion-md-close"></i>
    </button>

    {%- if section.settings.heading != '' -%}
      <h2>{{ section.settings.heading }}</h2>
    {%- endif -%}

    <form method="get" name="embedded-subscribe" target="_blank">  

      {%- if section.settings.logo_img != '' -%}
        <div class="ruze-logo"><img src="{{ section.settings.logo_img  | img_url: '200x'}}" class="img-fluid" /></div>
      {%- endif -%}

      {%- if section.settings.text != '' -%}
        <div>{{ section.settings.text }}</div>
      {%- endif -%}

      <div class="alert alert-warning" style="display:none" data-subscribeError></div>

      <div class="col-md-9 mx-auto my-4">
        <input data-email type="email" value="" name="email" class="form-control h-auto" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off" aria-label="email" required/>

        <div class="mt-3">
          <button class="btn btn-primary btn-block" name="subscribe" type="submit" data-subscribe @click.prevent="_klaviyoSubscribe('{{ section.settings.list_id }}', $event)">{{ section.settings.btn_txt }}</button>
        </div>
      </div>

      {%- if section.settings.footer_notes != '' -%}
        <div>{{ section.settings.footer_notes }}</div>
      {%- endif -%}

    </form>

  {%- comment -%}
  {%- if settings.newsletter_form_action != blank -%}
    {%- assign form_action = settings.newsletter_form_action -%}

    <form action="{{ form_action }}" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">

      {%- if section.settings.logo_img != '' -%}
        <div class="ruze-logo"><img src="{{ section.settings.logo_img  | img_url: '200x'}}" class="img-fluid" /></div>
      {%- endif -%}

      {%- if section.settings.text != '' -%}
        <div>{{ section.settings.text }}</div>
      {%- endif -%}

      <div class="alert alert-warning" style="display:none" data-subscribeError></div>

      <div class="col-md-9 mx-auto my-4">
        <input data-email type="email" value="" name="EMAIL" class="form-control h-auto" id="mce-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off" aria-label="email" required/>
        <div class="mt-3"><button class="btn btn-primary btn-block" name="subscribe" id="subscribe" type="submit" data-subscribe @click.prevent="_register($event)">{{ section.settings.btn_txt }}</button></div>
      </div>

      {%- if section.settings.footer_notes != '' -%}
        <div>{{ section.settings.footer_notes }}</div>
      {%- endif -%}

    </form>
    
  {%- else -%}
    {%- form 'customer', id: 'NewsletterPopUp' -%}

      {%- if form.errors -%}
        <div class="alert alert-warning">
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}

      {%- if section.settings.logo_img != '' -%}
        <div class="ruze-logo"><img src="{{ section.settings.logo_img  | img_url: '200x'}}" class="img-fluid" /></div>
      {%- endif -%}
      
      {%- if form.posted_successfully? -%}

        <h5 class="mt-3">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</h5>

      {%- else -%}

        {%- if section.settings.text != '' -%}
          <div>{{ section.settings.text }}</div>
        {%- endif -%}
        <div class="col-md-9 mx-auto my-4">
          <input type="email" name="contact[email]" aria-label="email" id="newsletterPopupEmail" class="form-control h-auto" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off" required>
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="mt-3">
            <button type="submit" name="commit" class="btn btn-primary btn-block" >{{ section.settings.btn_txt }}</button>
          </div>
        </div>

        {%- if section.settings.footer_notes != '' -%}
          <div>{{ section.settings.footer_notes }}</div>
        {%- endif -%}

      {%- endif -%}

    {%- endform -%}
  {%- endif -%}{%- endcomment -%}

  </div>
</div>


{% schema %}
  {
    "name": "Newsletter Popup",
    "settings": [
      {
        "type": "header",
        "content": "Info"
      },
      {
        "type": "paragraph",
        "content": "Any customer who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enable Popup?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "is_hidden_on_mobile",
        "label": "Hidden on Mobile?",
        "default": false
      },
      {
        "type": "header",
        "content": "Settings"
      },
      {
        "type": "range",
        "id": "popup_delay",
        "label": "Popup Delay",
        "info": "Popup delay (in seconds) before showing up.",
        "min": 1,
        "max": 60,
        "step": 1,
        "default": 1
      },
      {
        "type": "range",
        "id": "popup_period_until",
        "label": "Do Not Show Until",
        "info": "Select period (in days) that the popup will stay hidden after is being closed.",
        "min": 1,
        "max": 30,
        "step": 1,
        "default": 7
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "logo_img", 
        "label": "Logo Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Subscribe to Newsletter"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Subscribe and get exclusive offers!</p>"
      },
      {
        "type": "richtext",
        "id": "footer_notes",
        "label": "Footer Notes",
        "default": "<p>No SPAM! We not share your email to any 3rd part companies!</p>"
      },
      {
        "type": "text",
        "id": "list_id",
        "label": "ListId of klaviyo List",
        "info": "Enter klaviyo list id to add subscribers in created list for popup"
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text",
        "default": "Subscribe"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "image_picker",
        "id": "popup_img",
        "label": "Popup Image"
      },
      {
        "type": "color",
        "id": "bg_color_outer",
        "label": "Outer Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "bg_color_inner",
        "label": "Inner Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "txt_color",
        "label": "Text Color",
        "default": "#222222"
      }
    ]
  }
{% endschema %}
