
<div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
<div class="row">
          <div class="col-12 text-center">
             <h1 class="section-title mb-10">{{ section.settings.heading }} </h1>
           </div>
  </div>
    <div class="m-0" data-section-id="{{ section.id }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
      
        <div class="row no-gutter align-items-center" data-id="banner-collection">
        
        <div class="col-md-6 col-12 text-center">
                <div class="colletion_banner_img">
                    <img
                        data-sizes="auto"
                        src="{{ section.settings.Collection_image | img_url: 'master'}}"
                        data-srcset="
                        {{ section.settings.Collection_image | img_url: 'master' }} 576w,
                        {{ section.settings.Collection_image | img_url: 'master' }} 768w,
                        {{ section.settings.Collection_image | img_url: 'master' }} 992w,
                        {{ section.settings.Collection_image | img_url: 'master' }} 1200w
                        "
                        class="lazyload" alt="{{ collection.title | escape }}" />
                </div>
            </div>
            <div class="col-md-6 col-12 text-center">
                <div class="row justify-content-center py-md-0 py-6 px-md-0 px-3">
                    <div class="col-lg-8 col-md-10">
                        {%- assign collection = collections[section.settings.home_collection] -%}

                        {%- if section.settings.home_collection != '' -%}    
                            <h2 class="h1 mb-3 font-weight-bold"  style="color: {{ section.settings.section_txt_color }}">{{collection.title}}</h2>    
                               
                        {%- endif -%}
                        {%- if section.settings.lead_txt != '' -%}
                                <p class="font-size-lg px-xl-6 mb-4">{{ section.settings.lead_txt }}</p>
                            {%- endif -%} 

                        {%- if section.settings.btn_txt != '' -%}
                            <a class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }}" href="{{collection.url}}" rel="nofollow" aria-label="{{ section.settings.btn_txt }}">{{ section.settings.btn_txt }}</a>
                        {%- endif -%}
                    </div>    
                </div>
            </div>

            
        </div>
    </div>
</div>



{% schema %}
  {
    "name": "Banner Collection",
    "class": "reward-banner-collection section-content",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "collection", 
        "id": "home_collection",
        "label": "Select collections"
      },
      {
        "type": "html",
        "id": "lead_txt",
        "label": "Lead Text"
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text"
      },
      {
        "type": "header",
        "content": "Banner Image"
      },
      {
        "type": "image_picker",
        "id": "Collection_image",
        "label": "Select Image for Banner"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#f8f9fa"
      },
      {
        "type": "color",
        "id": "section_txt_color",
        "label": "Text Color",
        "default": "#696969"
      },
      {
        "type": "select",
        "id": "btn_type",
        "label": "Button Type",
        "options": [{
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "",
            "label": "Solid"
          }
        ],
        "default": "outline"
      },
      {
        "type": "select",
        "id": "btn_variant",
        "label": "Button Variant",
        "options": [{
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "gray-100",
            "label": "Light"
          },
          {
            "value": "gray-900",
            "label": "Dark"
          }
        ],
        "default": "primary"
      },
      {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "options": [{
            "value": "",
            "label": "Default"
          },
          {
            "value": "btn-sm",
            "label": "Small"
          },
          {
            "value": "btn-lg",
            "label": "Large"
          }
        ],
        "default": ""
      }
    ],
    "presets": [
      {
        "name": "Banner Collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}

