<!--/ collection handle diffrentiates with each page -->


<div class="brand-collection-top-bar my-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 py-4">
        <div class="brand-logo text-center text-lg-left">
          {%- assign logo = section.settings.brand_logo | img_url: '300x' -%}
          {%- assign logo_width = section.settings.brand_logo_max_width -%}
          {%- if section.settings.brand_logo_url != blank -%}
            <img src="{{ section.settings.brand_logo_url }}" alt="{{ section.settings.title  | escape }}" class="img-fluid"  style="width: {{ logo_width }}px">
          {%- else -%}
            <img src="{{ logo }}" alt="{{ section.settings.title  | escape }}" class="img-fluid"  style="width: {{ logo_width }}px">
          {%- endif -%}
        </div>
      </div>
      <div class="col-lg-8 d-none">
        <div class="navbar-main border-0">
          <ul class="navbar-nav custom_nav brand-menu flex-row align-items-center justify-content-end">
             <li class="nav-item py-0 pl-4">
               <a data-href="/collections/womens-shoes" role="button" data-toggle="dropdown" aria-expanded="false" name="WOMENS" aria-label="WOMENS" class="nav-link d-flex align-items-center justify-content-between womens">
                <span>GENDER <i class="align-middle font-size-ex-lg icon ion-ios-arrow-down"></i></span>
               </a>
               <ul class="dropdown-menu rounded-0">
                 <li class="nav-item dropdown p-0">
                   <a href="#" class="nav-link py-2 px-3">Option 1</a>
                 </li>
                 <li class="nav-item dropdown p-0">
                  <a href="#" class="nav-link py-2 px-3">Option 1</a>
                </li>
                <li class="nav-item dropdown p-0">
                  <a href="#" class="nav-link py-2 px-3">Option 1</a>
                </li>
                <li class="nav-item dropdown p-0">
                  <a href="#" class="nav-link py-2 px-3">Option 1</a>
                </li>
               </ul>
            </li>
            <li class="nav-item py-0 pl-4">
              <a data-href="/collections/womens-shoes" role="button" data-toggle="dropdown" aria-expanded="false" name="WOMENS" aria-label="WOMENS" class="nav-link d-flex align-items-center justify-content-between womens">
               <span>SIZE <i class="align-middle font-size-ex-lg icon ion-ios-arrow-down"></i></span>
              </a>
              <ul class="dropdown-menu rounded-0">
                <li class="nav-item dropdown p-0">
                  <a href="#" class="nav-link py-2 px-3">Option 1</a>
                </li>
                <li class="nav-item dropdown p-0">
                 <a href="#" class="nav-link py-2 px-3">Option 1</a>
               </li>
               <li class="nav-item dropdown p-0">
                 <a href="#" class="nav-link py-2 px-3">Option 1</a>
               </li>
               <li class="nav-item dropdown p-0">
                 <a href="#" class="nav-link py-2 px-3">Option 1</a>
               </li>
              </ul>
           </li>
            <li class="nav-item py-0 pl-4">
              <a data-href="/collections/womens-shoes" role="button" data-toggle="dropdown" aria-expanded="false" name="WOMENS" aria-label="WOMENS" class="nav-link d-flex align-items-center justify-content-between womens">
               <span>COLOR <i class="align-middle font-size-ex-lg icon ion-ios-arrow-down"></i></span>
              </a>
              <ul class="dropdown-menu rounded-0">
                <li class="nav-item dropdown p-0">
                  <a href="#" class="nav-link py-2 px-3">Option 1</a>
                </li>
                <li class="nav-item dropdown p-0">
                 <a href="#" class="nav-link py-2 px-3">Option 1</a>
               </li>
               <li class="nav-item dropdown p-0">
                 <a href="#" class="nav-link py-2 px-3">Option 1</a>
               </li>
               <li class="nav-item dropdown p-0">
                 <a href="#" class="nav-link py-2 px-3">Option 1</a>
               </li>
              </ul>
           </li>
           <li class="nav-item py-0 pl-4">
            <a data-href="/collections/womens-shoes" role="button" data-toggle="dropdown" aria-expanded="false" name="WOMENS" aria-label="WOMENS" class="nav-link d-flex align-items-center justify-content-between womens">
             <span>PRICE <i class="align-middle font-size-ex-lg icon ion-ios-arrow-down"></i></span>
            </a>
            <ul class="dropdown-menu rounded-0">
              <li class="nav-item dropdown p-0">
                <a href="#" class="nav-link py-2 px-3">Option 1</a>
              </li>
              <li class="nav-item dropdown p-0">
               <a href="#" class="nav-link py-2 px-3">Option 1</a>
             </li>
             <li class="nav-item dropdown p-0">
               <a href="#" class="nav-link py-2 px-3">Option 1</a>
             </li>
             <li class="nav-item dropdown p-0">
               <a href="#" class="nav-link py-2 px-3">Option 1</a>
             </li>
            </ul>
         </li>
         <li class="nav-item py-0 pl-4">
          <a data-href="/collections/womens-shoes" role="button" data-toggle="dropdown" aria-expanded="false" name="WOMENS" aria-label="WOMENS" class="nav-link d-flex align-items-center justify-content-between womens">
           <span>WIDTH <i class="align-middle font-size-ex-lg icon ion-ios-arrow-down"></i></span>
          </a>
          <ul class="dropdown-menu rounded-0">
            <li class="nav-item dropdown p-0">
              <a href="#" class="nav-link py-2 px-3">Option 1</a>
            </li>
            <li class="nav-item dropdown p-0">
             <a href="#" class="nav-link py-2 px-3">Option 1</a>
           </li>
           <li class="nav-item dropdown p-0">
             <a href="#" class="nav-link py-2 px-3">Option 1</a>
           </li>
           <li class="nav-item dropdown p-0">
             <a href="#" class="nav-link py-2 px-3">Option 1</a>
           </li>
          </ul>
       </li>
          </ul>
       </div>
      </div>
    </div>
  </div>
</div>
     
<div data-section-id="{{ section.id }}" class="shopify-brand-collection header-slider bg-white-100 ">


{%- comment -%}

  <div class="container"><div class="row">
    <div class="col-lg-12">
      <div class="carousel-nav small-thumb-bar" role="tree"
         data-flickity='{ 
           "draggable": true,
           "percentPosition": false,
           "cellAlign": "center",
           "groupCells": "100%",
           "pageDots": false,
           "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
         }'>
        {% for block in section.blocks %}
          <img src="{{ block.settings.image | img_url: 'large' }}" alt="{{ block.settings.heading | escape }}" class="carousel-cell" role="treeitem">
        {% endfor %}
      </div>
    </div>
  </div></div>

 {%- endcomment -%}
 
 <div class="container-fluid main-vertical-slider px-0">
  <div class="main-slider-vertical d-none d-lg-block">
    {% for block in section.blocks %}
      <div style="background-color: {{ block.settings.image_bg_color }};">
        {%- if block.settings.heading != blank -%}
          <div class="container d-block h-100 w-100">
              <div class="slide_info position-relative ">
                <div class="text-info">
                  <h2 class="text-uppercase w-100" style="font-size: {{ block.settings.heading_font_size}}rem; color: {{block.settings.heading_txt_color}};">
                    {%- if block.settings.heading != blank -%}
                      <p class="stroke stroke-0">
                        <svg class="d-block w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 72">
                          <text x="0" y="60">{{ block.settings.heading }}</text>
                        </svg> 
                      </p>
                    {%- endif -%}  
                    {%- if block.settings.heading_2 != blank -%}
                      <p class="stroke stroke-0">
                        <svg class="d-block w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 72">
                          <text x="0" y="60">{{ block.settings.heading_2 }}</text>
                        </svg> 
                      </p>
                    {%- endif -%}  
                  </h2>
                  <img class="m-auto" src="{{ block.settings.image | img_url: 'master' }}">
                  <h2 class="text-uppercase w-100" style="font-size: {{ block.settings.heading_font_size}}rem; color: {{block.settings.heading_txt_color}};">
                    {%- if block.settings.heading != blank -%}
                      <p class="stroke">
                        <svg class="d-block w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 72">
                          <text x="0" y="60">{{ block.settings.heading }}</text>
                        </svg> 
                      </p>
                    {%- endif -%} 
                    {%- if block.settings.heading_2 != blank -%}
                      <p class="stroke">
                        <svg class="d-block w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 72">
                          <text x="0" y="60">{{ block.settings.heading_2 }}</text>
                        </svg> 
                      </p>
                    {%- endif -%} 
                  </h2>
                </div>
              <div class="btn-wrap">
                {%- if block.settings.btn_txt != blank -%}
                <a {% if block.settings.btn_link %} href="{{ block.settings.btn_link }}" {% endif %} rel="nofollow" class="btn btn-white btn-rebok text-black font-weight-bold font-family-cera">
                  {{ block.settings.btn_txt }}
                </a>
              {%- endif -%}
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    {% endfor %}
  </div>   
  <div class="main-slider-vertical mobile-version d-lg-none" >
    {% for block in section.blocks %}
      <div style="background-color: {{ block.settings.image_bg_color }};">  
        {%- if block.settings.heading != blank -%}
          <div class="container d-block h-100 w-100">
            <div class="slide_info position-relative ">
              <div class="text-info">
                <h2 class="text-uppercase w-100" style="color: {{block.settings.heading_txt_color}};">
                  {%- if block.settings.heading != blank -%}
                    <p class="stroke stroke-0">
                      <svg class="d-block w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 72">
                        <text x="0" y="60">{{ block.settings.heading }}</text>
                      </svg> 
                    </p>
                  {%- endif -%}  
                  {%- if block.settings.heading_2 != blank -%}
                    <p class="stroke stroke-0">
                      <svg class="d-block w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 72">
                        <text x="0" y="60">{{ block.settings.heading_2 }}</text>
                      </svg> 
                    </p>
                  {%- endif -%}  
                </h2>
                {%- if block.settings.image_mobile != blank -%}
                  <img class="m-auto" src="{{ block.settings.image_mobile | img_url: 'master' }}">
                {%- endif -%}
                <h2 class="text-uppercase w-100" style="color: {{block.settings.heading_txt_color}};">
                  {%- if block.settings.heading != blank -%}
                    <p class="stroke">
                      <svg class="d-block w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 72">
                        <text x="0" y="60">{{ block.settings.heading }}</text>
                      </svg> 
                    </p>
                  {%- endif -%} 
                  {%- if block.settings.heading_2 != blank -%}
                    <p class="stroke">
                      <svg class="d-block w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 72">
                        <text x="0" y="60">{{ block.settings.heading_2 }}</text>
                      </svg> 
                    </p>
                  {%- endif -%}  
                </h2>
 
              </div>
              <div class="btn-wrap">
                {%- if block.settings.btn_txt != blank -%}
                  <a {% if block.settings.btn_link %} href="{{ block.settings.btn_link }}" {% endif %} rel="nofollow" class="btn btn-white btn-rebok text-black font-weight-bold font-family-cera">
                    {{ block.settings.btn_txt }}
                  </a>
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    {% endfor %}
  </div>     
 </div>

  
  <div class="x-ruze-collection section-content">
     {%- if section.settings.heading_txt != '' -%}
                <div class="col-12 text-center">
                  <h4 class="section-title mb-md-6 mb-4 text-primary text-uppercase font-cera-title font-family-cera font-weight-bold">
                    {{ section.settings.heading_txt | escape }}</h4>
    </div>
                  {%- endif -%}
                  <div class="container">
    <div class="row justify-content-centerr">
            {%- for product in collections[section.settings.x-ruze-collection].products limit: 4 -%}
              <div class="col-sm-12 col-md-4 col-lg-3 my-3 d-flex align-items-stretch justify-content-around">
                {%- include 'card-product-style-generic' -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
  </div>
  
  <div class="nano-9-section pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 nano_image d-flex justify-content-center">
          <h2 class="nano_9_title m-0 font-family-base">{{ section.settings.nano_section_title }} <span class="position-relative">{{ section.settings.nano_section_title_number }}</span></h2>
          <div class="nano_img_wrap position-relative w-100">
            <img class="img-fluid position-absolute img-cover" src="{{ section.settings.nano_section_image | img_url: 'master' }}">
          </div>
        </div>
        <div class="col-lg-6 nano_product">
          <div class="nano_product_image pt-3 pt-lg-6">
            {%- if all_products[section.settings.nano_section_product].featured_image.size > 0 -%}
                <a href="{{ shop.url }}{{ all_products[section.settings.nano_section_product].url  }}" class="position-relative d-block w-100"  alt="{{ all_products[section.settings.nano_section_product].featured_image.alt | escape }}" rel="nofollow">
                <img src="{{ all_products[section.settings.nano_section_product].featured_image | img_url: 'master' }}"
                class="position-absolute img-cover"
                    
                    alt="{{ all_products[block.settings.nano_section_product].featured_image.alt | escape }}"/>
                </a>
            {%- else -%}
                {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
            {%- endif -%}	
          </div>
          <div class="nano_product_title pt-5">
          <p class="card-title m-0 text-left">
                <a href="{{ shop.url }}{{ all_products[section.settings.nano_section_product].url  }}" class="text-white font-cera-desc font-family-cera d-block" alt="{{ section.settings.nano_section_product.featured_image.alt | escape }}" rel="nofollow">{{ all_products[section.settings.nano_section_product].title }}</a>
            </p>
          <div class="text-left mt-2 font-weight-bold font-family-lato">   
            {%- assign current_variant = all_products[section.settings.nano_section_product].selected_or_first_available_variant -%}
                <span class="price text-white font-family-lato">{{ all_products[section.settings.nano_section_product].price | money }}</span>
                {%- if current_variant.compare_at_price > all_products[section.settings.nano_section_product].price -%}
            <p class="mb-0 text-white mt-1 opacity-5 font-family-lato font-weight-normal">MSRP: <s class="price mx-1 p-0 text-white">{{ all_products[section.settings.nano_section_product].compare_at_price | money }}</s></p>{%- endif -%}
            </div>
          </div>
          <div class="nano_button pt-4">
          <a href="{{ shop.url }}{{ all_products[section.settings.nano_section_product].url  }}" class="btn btn-white btn-rebok font-family-cera font-weight-bold" rel="nofollow" aria-label="{{ all_products[section.settings.nano_section_product].featured_image.alt | escape }}" >
                        Shop now
                    </a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row justify-content-center mb-5 pt-5">
    </div>
  </div>
          
          
          
</div>       
          
          
		


{% schema %}
  {
    "name": "Brand Management",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
            "type": "image_picker",
            "id": "brand_logo",
            "label": "Select brand logo"
      },
      {
        "type": "text",
        "id": "brand_logo_url",
        "label": "Enter brand logo URL"
      },
      {
        "type": "range",
        "id": "brand_logo_max_width",
        "min": 5,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Logo width",
        "default": 180
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Collection title",
        "default": "Reebok X Ruze Collection"
      },
      {
            "type": "collection",
            "id": "x-ruze-collection",
            "label": "Reebok X Ruze Collection"
      },
	  {
        "type": "header",
        "content": "Reebok Nano Section"
      },
      {
            "type": "text",
            "id": "nano_section_title",
            "label": "Select title"
      },
      {
            "type": "text",
            "id": "nano_section_title_number",
            "label": "Select title Number"
      },
	  {
            "type": "image_picker",
            "id": "nano_section_image",
            "label": " select image"
      },
	  {
   			"type": "product",
   			"id":  "nano_section_product",
  			"label": "Select product"
	  },
      {
        "type": "header",
        "content": "Hero slider settings"
      }
    ],
    "blocks": [
     {
      "type": "image",
      "name": "Image Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image for Desktop"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Select Image for Mobile"
        }, 
        {
          "type": "color",
          "id": "image_bg_color",
          "label": "Banner background color"
        }, 
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading Line No. 1"
        }, 
        {
          "type": "text",
          "id": "heading_2",
          "label": "Heading Line No. 2"
        }, 
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 5.5,
          "step": 0.1,
          "unit": "rem",
          "label": "Heading Font Size",
          "default": 5.5
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "color",
          "id": "heading_txt_color",
          "label": "Heading Color"
        }, 
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        }
      ]
    }
    ]
  }
{% endschema %}