<div class="row">
  <div class="col-lg-5 col-md-7 col-12 mx-auto newsletter">
    {%- if section.settings.heading != '' -%}
      <h4 class="text-center text-uppercase">{{ section.settings.heading }}</h4>
    {%- endif -%}

    <form action="{{ form_action }}" method="get" name="embedded-subscribe" target="_blank">

    {%- if section.settings.text != '' -%}
        <div>{{ section.settings.text }}</div>
    {%- endif -%}
      <p class="mt-2 mb-0" style="display:none" data-subscribeError></p>
      <div class="input-group mx-auto my-4">
        <input data-email type="email" value="" name="email" class="form-control h-auto" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off" aria-label="email" required/>

        <div class="input-group-append">
          <button class="btn btn-primary" name="subscribe" type="submit" data-subscribe @click.prevent="_klaviyoSubscribe('{{section.settings.list_id}}', $event)">{{ section.settings.btn_txt }}</button>
        </div>
      </div>
    </form>

    {%- comment -%}
    {%- if settings.newsletter_form_action != blank -%}
    {%- assign form_action = settings.newsletter_form_action -%}
      <form action="{{ form_action }}" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">

      {%- if section.settings.text != '' -%}
          <div>{{ section.settings.text }}</div>
      {%- endif -%}
        <p class="mt-2 mb-0" style="display:none" data-subscribeError></p>
        <div class="input-group mx-auto my-4">
          <input data-email type="email" value="" name="EMAIL" class="form-control h-auto" id="mce-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off" aria-label="email" required/>
          
          <div class="input-group-append">
            <button class="btn btn-primary" name="subscribe" id="subscribe" type="submit" data-subscribe @click.prevent="_register($event)">{{ section.settings.btn_txt }}</button>
          </div>
        </div>
      </form>

    {%- else -%}
      {%- form 'customer', id: 'Newsletter' -%}
        {%- if form.errors -%}
        <div class="alert alert-warning">
          {{ form.errors | default_errors }}
        </div>
        {%- endif -%}

        {%- if form.posted_successfully? -%}
          <h5 class="mt-3">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</h5>
          {%- else -%}
          {%- if section.settings.text != '' -%}
            <div class="text-center">{{ section.settings.text }}</div>
          {%- endif -%}
          <div class="input-group mx-auto my-4">
            <input type="email" name="contact[email]" aria-label="email" id="newsletterEmail" class="form-control h-auto" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off" required>
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="input-group-append">
              <button type="submit" name="commit" class="btn btn-primary" >{{ section.settings.btn_txt }}</button>
            </div>
          </div>
        {%- endif -%}

      {%- endform -%}
    {%- endif -%}{%- endcomment -%}
  </div>
</div>


{% schema %}
  {
    "name": "Newsletter Subscribe",
    "settings": [
      {
        "type": "header",
        "content": "Info"
      },
      {
        "type": "paragraph",
        "content": "Any customer who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Subscribe to Newsletter"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Subscribe and get exclusive offers!</p>"
      },
      {
        "type": "text",
        "id": "list_id",
        "label": "ListId of klaviyo List",
        "info": "Enter klaviyo list id to add subscribers in created list for subscribe page"
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text",
        "default": "Subscribe"
      }
    ]
  }
{% endschema %}