<div class="container pt-2">
  {%- include 'breadcrumb' -%}
</div>
<section data-section-id="{{ section.id }}">
  <div class="section-content">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">

      {%- if section.settings.heading_txt != '' -%}
      <div class="row">
        <div class="col-12 text-md-center">
          <h3 class="mb-md-5 mb-4 font-family-base font-weight-normal">{{ section.settings.heading_txt }}</h3>
        </div>
      </div>
      {%- endif -%}

      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-6">
                    {%- form 'contact' -%}

                        {%- if form.posted_successfully? -%}
                        <div class="alert alert-success">
                            {{ 'contact.form.post_success' | t }}
                        </div>
                        {%- endif -%}

                        {%- if form.errors -%}
                        <div class="alert alert-warning">
                            {{ form.errors | default_errors }}
                        </div>
                        {%- endif -%}

                        <div class="form-group">
                        <input type="text"
                            name="contact[name]"
                            aria-label="name"
                            id="contactFormName"
                            class="form-control"
                            placeholder="{{ 'contact.form.name' | t }}"
                            value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
                            required>
                        </div>

                        <div class="form-group">
                            <input type="email"
                                name="contact[email]"
                                aria-label="email"
                                id="contactFormEmail"
                                class="form-control"
                                placeholder="{{ 'contact.form.email' | t }}"
                                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                                spellcheck="false"
                                autocomplete="off"
                                autocapitalize="off"
                                required>
                        </div>
                        <div class="form-group">                                    
                            <input type="tel"
                                name="contact[phone]"
                                aria-label="phone"
                                id="contactFormPhone"
                                class="form-control"
                                placeholder="{{ 'contact.form.phone' | t }}"
                                value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                                pattern="[0-9\-]*">
                        </div>

                        <div class="form-group">
                            <textarea
                                rows="6"
                                name="contact[body]"
                                aria-label="message"
                                id="contactFormMessage"
                                class="form-control"
                                placeholder="{{ 'contact.form.message' | t }}"
                                required>
                                {%- if form.body -%}
                                {{ form.body }}
                                {%- endif -%}
                            </textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="{{ 'contact.form.submit' | t }}">

                    {%- endform -%}
                </div>            
                <div class="col-lg-5">          
                    <div id="block-{{ block.id }}" class="px-4 pt-6 pb-4 contact-block" style="background: {{ section.settings.block_bg_color }}; color: {{ block.settings.block_txt_color }}">
                        {%- for block in section.blocks -%}
                            {%- if block.settings.enable_block -%}                
                                <div class="inner {% if forloop.last %} pb-0 {% else %} pb-3 {% endif %}">
                                    <h5 class="font-family-base text-uppercase">{{ block.settings.heading }}</h5>
                                    <div class="my-0">{{ block.settings.txt }}</div>
                                </div>
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>    
      </div>
    </div>
  </div>

</section>


{% schema %}
  {
    "name": "Contact Template",
    "max_blocks": 3,
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Contact Form Heading Text"
      },
      {
        "type": "color",
        "id": "block_bg_color",
        "label": "Background Color",
        "default": "#e9ecef"
      },
      {
        "type": "color",
        "id": "block_txt_color",
        "label": "Text Color",
        "default": "#222222"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Contact Block",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_block",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "txt",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
