
<div class="section-content">
  <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
    <div class="row">
      <div class="col-12 mb-md-4 mb-3 text-center">
        {%- if section.settings.heading_txt != '' -%}
          <h3 class="section-title mb-md-4 mb-3">{{ section.settings.heading_txt | escape }}</h3>
        {%- endif -%}

        {%- if section.settings.lead_txt != '' -%}
          <p class="text-gray-700 px-lg-6 mb-4">{{ section.settings.lead_txt }}</p>
        {%- endif -%}
      </div>

      {%- assign counter = 0 -%}
      {%- for product_vendor in shop.vendors -%}
          {%- capture temp -%}{{ counter | plus: 1 }}{%- endcapture -%} 
          {%- assign counter = temp -%}
      {%- endfor -%}

      {%- for product_vendor in shop.vendors -%}
        <div class="col-6 col-md-4 col-lg-3 px-md-3 px-2 my-md-3 my-2">
          <div class="brand-item"> 
            <a href="/collections/{{ product_vendor | handleize }}" class="d-flex align-items-center" rel="nofollow" aria-label="{{ product_vendor }}">{{ product_vendor }}</a>
          </div>        
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Shop by  Brand",
    "class": "index-shop-brand",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Heading Text"
      },
      {
        "type": "textarea",
        "id": "lead_txt",
        "label": "Lead Text"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#f8f9fa"
      },
      {
        "type": "color",
        "id": "section_txt_color",
        "label": "Text Color",
        "default": "#696969"
      }
    ]
  }
{% endschema %}