<div class="container pt-2">
  {%- include 'breadcrumb' -%}
</div>

<section id="faqs" data-section-id="{{ section.id }}" class="section-content section-faq d-block mt-lg-5 mt-4">
  <div class="container">
    <h1 class="font-weight-normal text-center h3 font-family-base mb-6">{{ page.title }}</h1>
    <div class="row">
        <div class="col-lg-10 col-12 mx-auto for-faqs">

            {%- if section.settings.enable_about -%}
                <h4 class="text-uppercase mb-0 pb-3 font-family-base font-weight-bold">{{ section.settings.titleabout }}</h4>
                <div class="panel-body mb-6">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
                        {%- for block in section.blocks -%}      
                            {%- if block.type == 'about-product' and section.blocks.size > 0 -%}
                                <div class="panel panel-default border-bottom">
                                    <div class="panel-heading py-3" role="tab" id="headingOne1">
                                        <p data-target-button role="button" class="panel-title font-size-ex-lg cursor-pointer mb-0 text-black collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSec{{ forloop.index }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.index }}">
                                            {{ block.settings.questions }}
                                            <i class="more-less"></i>
                                        </p>
                                    </div>
                                    <div id="collapseSec{{ forloop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
                                        <div class="panel-body pb-3">
                                            {{ block.settings.answers }}
                                        </div>
                                    </div>
                                </div>
                            {%- endif -%}    
                        {%- endfor -%}                
                    </div>
                </div>      
            {%- endif -%}

            {%- if section.settings.enable_shipping -%}
                <h4 class="text-uppercase mb-0 pb-3 font-family-base font-weight-bold">{{ section.settings.titleShipping }}</h4>
                <div class="panel-body mb-6">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
                        {%- for block in section.blocks -%}      
                            {%- if block.type == 'shipping-questions' and section.blocks.size > 0 -%}
                                <div class="panel panel-default border-bottom">
                                    <div class="panel-heading py-3" role="tab" id="headingOne1">
                                        <p data-target-button role="button" class="panel-title font-size-ex-lg cursor-pointer mb-0 text-black collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSec{{ forloop.index }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.index }}">
                                            {{ block.settings.questions }}
                                            <i class="more-less"></i>
                                        </p>
                                    </div>
                                    <div id="collapseSec{{ forloop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
                                        <div class="panel-body pb-3">
                                            {{ block.settings.answers }}
                                        </div>
                                    </div>
                                </div>
                            {%- endif -%}    
                        {%- endfor -%}                
                    </div>
                </div>      
            {%- endif -%}

            {%- if section.settings.enable_payment -%}
                <h4 class="text-uppercase mb-0 pb-3 font-family-base font-weight-bold">{{ section.settings.titlePayment }}</h4>
                <div class="panel-body mb-6">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
                        {%- for block in section.blocks -%}      
                            {%- if block.type == 'payment' and section.blocks.size > 0 -%}
                                <div class="panel panel-default border-bottom">
                                    <div class="panel-heading py-3" role="tab" id="headingOne1">
                                        <p data-target-button role="button" class="panel-title font-size-ex-lg cursor-pointer mb-0 text-black collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSec{{ forloop.index }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.index }}">
                                            {{ block.settings.questions }}
                                            <i class="more-less"></i>
                                        </p>
                                    </div>
                                    <div id="collapseSec{{ forloop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
                                        <div class="panel-body pb-3">
                                            {{ block.settings.answers }}
                                        </div>
                                    </div>
                                </div>
                            {%- endif -%}    
                        {%- endfor -%}                
                    </div>
                </div>      
            {%- endif -%}

            {%- if section.settings.enable_return -%}
                <h4 class="text-uppercase mb-0 pb-3 font-family-base font-weight-bold">{{ section.settings.titleReturn }}</h4>
                <div class="panel-body mb-6">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
                        {%- for block in section.blocks -%}      
                            {%- if block.type == 'return-policy' and section.blocks.size > 0 -%}
                                <div class="panel panel-default border-bottom">
                                    <div class="panel-heading py-3" role="tab" id="headingOne1">
                                        <p data-target-button role="button" class="panel-title font-size-ex-lg cursor-pointer mb-0 text-black collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSec{{ forloop.index }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.index }}">
                                            {{ block.settings.questions }}
                                            <i class="more-less"></i>
                                        </p>
                                    </div>
                                    <div id="collapseSec{{ forloop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
                                        <div class="panel-body pb-3">
                                            {{ block.settings.answers }}
                                        </div>
                                    </div>
                                </div>
                            {%- endif -%}    
                        {%- endfor -%}                
                    </div>
                </div>      
            {%- endif -%}

        </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "FAQs Template",
    "settings": [
      {
        "type": "header",
        "content": "About Product"
      },
      {
        "type": "checkbox",
        "id": "enable_about",
        "label": "Enable About Product Questions?",
        "default": false
      },
      {
        "type": "text",
        "id": "titleabout",
        "label": "About Product Questions Title"
      },
      {
        "type": "header",
        "content": "Shipping Questions"
      },
      {
        "type": "checkbox",
        "id": "enable_shipping",
        "label": "Enable Shipping Questions?",
        "default": false
      },
      {
        "type": "text",
        "id": "titleShipping",
        "label": "Shipping Questions Title"
      },
      {
        "type": "header",
        "content": "Payment"
      },
      {
        "type": "checkbox",
        "id": "enable_payment",
        "label": "Enable Payment?",
        "default": false
      },
      {
        "type": "text",
        "id": "titlePayment",
        "label": "Payment Title"
      },
      {
        "type": "header",
        "content": "Return Policy"
      },
      {
        "type": "checkbox",
        "id": "enable_return",
        "label": "Enable Payment?",
        "default": false
      },
      {
        "type": "text",
        "id": "titleReturn",
        "label": "Return Policy Title"
      }
    ],
    "blocks": [
      {
        "type": "about-product",
        "name": "About Product",
        "settings": [
          {
            "type": "text",
            "id": "questions",
            "label": "Questions"
          },
          {
            "type": "textarea",
            "id": "answers",
            "label": "Answers"
          }
        ]
      },
      {
        "type": "shipping-questions",
        "name": "Shipping Questions",
        "settings": [
          {
            "type": "text",
            "id": "questions",
            "label": "Questions"
          },
          {
            "type": "textarea",
            "id": "answers",
            "label": "Answers"
          }
        ]
      },
      {
        "type": "payment",
        "name": "payment",
        "settings": [
          {
            "type": "text",
            "id": "questions",
            "label": "Questions"
          },
          {
            "type": "textarea",
            "id": "answers",
            "label": "Answers"
          }
        ]
      },
      {
        "type": "return-policy",
        "name": "Return Policy",
        "settings": [
          {
            "type": "text",
            "id": "questions",
            "label": "Questions"
          },
          {
            "type": "textarea",
            "id": "answers",
            "label": "Answers"
          }
        ]
      }
    ]
  }
{% endschema %}
