<section class="section-content banner_section medium-height d-flex align-items-center justify-content-center" data-section-id="{{ section.id }}" style="background:url({{section.settings.section_image | img_url: '1920x' }}) center no-repeat;background-size:cover; background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row justify-content-{{ section.settings.alignment }}">
            <div class="col-xl-5 col-lg-6 col-md-7 col-sm-9 text-center">

                {%- if section.settings.heading_txt != '' -%}
                  <h2 class="section-title mb-3 h1" style="color: {{ section.settings.section_txt_color }}">{{ section.settings.heading_txt }}</h2>
                {%- endif -%}

                {%- if section.settings.lead_txt != '' -%}
                  <p class="mt-3 mb-4 px-lg-6">
                      {{ section.settings.lead_txt }}
                  </p>
                {%- endif -%}

                {%- if section.settings.btn_txt != '' -%}
                  <a class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }}" href="{{ section.settings.btn_url }}" rel="nofollow" aria-label="{{ section.settings.btn_txt }}">{{ section.settings.btn_txt }}</a>
                {%- endif -%}

            </div>
        </div>
    </div>
</section>

 

{% schema %}
  {
    "name": "Text Banner",
    "class": "text-banner",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
         "type":"image_picker",
         "id":"section_image",
         "label":"Banner Image" 
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Heading Text",
        "default": "Awesome Heading"
      },
      {
        "type": "textarea",
        "id": "lead_txt",
        "label": "Lead Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar ac tortor imperdiet commodo."
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Alignment",
        "options": [{
            "value": "start",
            "label": "Left"
          },
          {
            "value": "end",
            "label": "Right"
          }
        ],
        "default": "start"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#f8f9fa"
      },
      {
        "type": "color",
        "id": "section_txt_color",
        "label": "Text Color",
        "default": "#696969"
      },
      {
        "type": "select",
        "id": "btn_type",
        "label": "Button Type",
        "options": [{
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "",
            "label": "Solid"
          }
        ],
        "default": "outline"
      },
      {
        "type": "select",
        "id": "btn_variant",
        "label": "Button Variant",
        "options": [{
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "gray-100",
            "label": "Light"
          },
          {
            "value": "gray-900",
            "label": "Dark"
          }
        ],
        "default": "primary"
      },
      {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "options": [{
            "value": "",
            "label": "Default"
          },
          {
            "value": "btn-sm",
            "label": "Small"
          },
          {
            "value": "btn-lg",
            "label": "Large"
          }
        ],
        "default": ""
      }
    ],
    "presets": [
      {
        "name": "Text with Banner",
        "category": "Content"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
