<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    {%- if settings.favicon_image != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon_image | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>
    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>
    {{ tracking_code }}
  </body>

  {% comment %}
  Task Number  #43461
  The below code is used for added VIP Discount text on discount value
  {% endcomment %}
  {%- assign VIP = false -%}
  {%- for tag_name in customer.tags -%}
    {%- assign tag = tag_name | downcase -%}
    {%- if tag == 'vip' -%}
      {%- assign VIP = true -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if VIP -%}
    <script>
      setTimeout(function(){ 
        $('.reduction-code__text').append('<span>VIP Discount</span>'); 
      }, 500);
      
      // $(document).on('page:change', function (e) {
      //   if (e.type == 'page:load') {
      //     setTimeout(function(){ 
      //  			$('.reduction-code__text').append('<span>VIP Discount</span>'); 
     	// 	  }, 500);
      //   } else if (e.type == 'page:change') {
      //      setTimeout(function(){ 
      //        $('.reduction-code__text').append('<span>VIP Discount</span>'); 
      //      }, 500);
      //   }
      // });
    </script>
  {%- endif -%}
</html>
