<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=3, initial-scale=1, shrink-to-fit=no, user-scalable=0">
  <meta name="theme-color" content="">
  {%- include 'social-meta-tags' -%}
  {%- if settings.enable_meta_noindex -%}
    <meta name="robots" content="noindex, nofollow">
  {%- endif -%}
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon_image != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon_image | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%} - {{ 'general.meta.tags' | t: tags: meta_tags }}{%- endif -%}
    {%- if current_page != 1 -%} - {{ 'general.meta.page' | t: page: current_page }}{%- endif -%}
    {%- unless page_title contains shop.name -%} - {{ shop.name }}{%- endunless -%}
  {%- endcapture -%}

  <title>{{ seo_title }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- else -%}
    <meta name="description" content="{{ seo_title }}">
  {%- endif -%}

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ionicons/4.4.8/css/ionicons.min.css">

  {%- include 'style-tags', layout: 'theme' -%}
  {%- include 'legacy-support-scripts' -%}
  {%- include 'script-tags', layout: 'theme' -%}

  {{ content_for_header }}

  {% if template == 'cart' %}
    <script type='text/javascript' src='https://services.nofraud.com/js/3175/customer_code.js'></script>
  {% endif %}

  <script type="text/javascript" src="//cdn.nextopia.net/nxt-app/4eb8b4b3b950c1e44694621548a4aa56.js" async></script>
  <script type="text/javascript" async src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=JAGGay"></script>
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  <div id="sitePreloader" data-site-preloader></div>
  <div id="app" :class="{'loading': isLoading}">
    <div class="overlay site-overlay" :class="{'show': isOverlayVisible}" data-site-overlay></div>
    <vue-snotify></vue-snotify>

    {%- section 'header' -%}
    {{ content_for_layout }}
    {%- section 'footer' -%}

    {%- section 'mobile-navigation' -%}
    {%- section 'search-layer' -%}
    {%- section 'newsletter-popup' -%}
    {%- include 'cart-drawer' -%}

    {%- if settings.enable_quickshop -%}
      {%- include 'modal-quickshop' -%}
    {%- endif -%}

    {%- if settings.enable_wishlist -%}
      {%- include 'modal-wishlist' -%}
    {%- endif -%}

  </div>

  {%- comment -%}
  placeholder to dynamically append embedded scripts outside of Vue.js main app wrapper div
  so as to avoid Vue.js template compiling errors.
  {%- endcomment -%}
  <div data-app-scripts></div>

  {%- comment -%} If you store has customer accounts disabled, you can remove the following JS file {%- endcomment -%}
  {%- if template.directory == 'customers' -%}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {%- endif -%}

  {%- if template == 'cart' -%}
    {{ '/services/javascripts/countries.js' | script_tag }}
  {%- endif -%}

  <script>
    window.theme = {
      moneyFormat: {{ shop.money_format | json }},
      productExcludeTag: {{ settings.product_exclude_tag_text | json }},
      colorSwatchesEnabled: {{ settings.enable_color_swatches }},
      sizeSwatchesEnabled: {{ settings.enable_size_swatches }},
      productReviewsEnabled: {{ settings.enable_product_reviews | json }}
    };
  </script>

  {%- comment -%} Other JSON data {%- endcomment -%}
  {%- include 'json-swatches-data-colorlist' -%}
  {%- include 'json-structured-data' -%}
  {%- include 'json-tracking-data' -%}

  {%- if settings.enable_recharge -%}
    {%- include 'app-recharge' -%}
  {%- endif -%}

  {%- comment -%} QA Widget {%- endcomment -%}
  {%- if settings.enable_qa_widget -%}
    <link rel="stylesheet" href="https://qa.fluidframework.com/dist/app.css">
    <script type="text/javascript" src="https://qa.fluidframework.com/dist/app.js" defer="defer"></script>
    <qa-widget data-html2canvas-ignore enabled="true" issue-id="{{ settings.path_issue_id }}"/>
  {%- endif -%}

</body>
</html>
